﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("BuyAdvertisements");
}

<link href="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>

<link href="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<script src="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Buy Advertisement</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="txtUserName">User</label>
                <input type="text" class="form-control" id="txtUserName" name="txtUserName" placeholder="Enter username">
            </div>

            <!-- From Date -->
            <div class="form-group">
                <label>From Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input id="txtDateFrom" type="text" class="form-control pull-right" placeholder="Enter From Date">
                </div>
                <!-- /.input group -->
            </div>

            <!-- To Date -->
            <div class="form-group">
                <label>To Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input id="txtDateTo" type="text" class="form-control pull-right" placeholder="Enter To Date">
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
        </div>
    </form>
</div>

<div class="box">
    <!-- /.box-List -->
    <div class="box-body">
        <table id="tb-setting" class="table table-bordered table-striped"></table>
    </div>
</div>

<div id="frm-detail-buy" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="buy-detail-form"></div>
    </div>
</div>

<script type="text/javascript">
    var resourceTable = null;
    $(function () {
       
        $('#txtDateFrom, #txtDateTo').datepicker({
            autoclose: true,
            format: 'mm/dd/yyyy'
        });

        resourceTable = $('#tb-setting').DataTable(
               {
                paging: true,
                serverSide: true,
                   ajax:
                   {
                       url: '@Url.Action("LoadBuyAdData")',
                       type: "POST",
                        data: function (d) {
                            d.UserName = $("#txtUserName").val();
                            d.FromDate = $("#txtDateFrom").val();
                            d.ToDate = $("#txtDateTo").val();
                           }
                    },
                "searching": false,
                   "pageLength": 20,
                   "lengthMenu": [
                       [10, 15, 20, 25, 50],
                       [10, 15, 20, 25, 50] // change per page values here
                        ],
                   columns: [
                       //{ title: "Id", data: "id" },
                       { title: "Username", data: "advertiseUser.userName" },
                       { title: "AssetType", data: "assetTypeId" },
                       { title: "Currency", data: "currencyId" },
                       {
                           title: "Price", data: "coinPrice", render: function (data, type, fullObject) {
                               if (data <= 0)
                                   return fullObject.currencyType.rate;
                               else
                                   return data;
                           }
                       },                      
                       { title: "Date", data: "createdDate" },
                       {
                           title: "Status", data: "approved", render: function (data, type, fullObject) { 
                               if (data == true)
                                   return '<input type="checkbox" checked disabled="disabled">';
                               else
                                   return '<a href="javascript:void(0);" onclick="approveBuyAdvertise(' + fullObject.id + ')">Approved</a>';
                           }
                       },
                       {
                           render: function (data, type, fullObject) {
                               return '<a href="javascript:void(0)" data-toggle="modal" onclick="showBuyAdvertiseInfo(' + fullObject.id + ')">Detail</a>';
                           }
                       }
                   ]
            });

        $("#btnSearch").click(function () {
            resourceTable.ajax.reload();
        });

        $('#frm-detail-buy').on('hidden.bs.modal', function (e) {
            //remove all html code:
            $("#buy-detail-form").html('');
        })
    });

    function approveBuyAdvertise(id) {       
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("ApproveBuyAdvertise")/?Id=' + id,           
            success: function (response) {                
                if (response == true) {
                    $("#btnSearch").click(); // search lai
                } else {
                    toastr.error("An error occurred while processing your request. Please try again later.");
                }               
            },
            error: function (xhr, ajaxOptions, thrownError) {     
                toastr.error("An error occurred while processing your request. Please try again later.");
            }
        });
    }
    function showBuyAdvertiseInfo(id) {       
        $.ajax({            
            type: "GET",
            url: '@Url.Action("BuyDetail")/?Id=' + id,   
            dataType: "html",
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (response) {                          
                $("#buy-detail-form").html(response);   
                $("#frm-detail-buy").modal("show");
            },
            error: function (xhr, ajaxOptions, thrownError) {     
                //toastr.error("An error occurred while processing your request. Please try again later.");
                alert(thrownError);
            }
        });
    }

</script>




<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Areas/Admin/assets/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

