﻿@model SettingSearchModel
@using System.Text.Encodings.Web
@using Narnia.Web.Areas.Admin.Models.Settings

@{
    ViewBag.Title = "All Settings";
    
    Html.SetActiveMenuItemSystemName("AllSettings");
}
<narnia-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
       All Settings
    </h1>
    <div class="pull-right">
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="SearchSettingName" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="SearchSettingName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="SearchSettingValue" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="SearchSettingValue" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-settings" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                      Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="settings-grid"></div>
                    <script>
                        $(document).ready(function() {
                            $("#settings-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("AllSettings", "Setting"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = {
                                                    SearchSettingName: $('#@Html.IdFor(model => model.SearchSettingName)').val(),
                                                    SearchSettingValue: $('#@Html.IdFor(model => model.SearchSettingValue)').val()
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        },
                                        create: {
                                            url: "@Html.Raw(Url.Action("SettingAdd", "Setting"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        update: {
                                            url: "@Html.Raw(Url.Action("SettingUpdate", "Setting"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("SettingDelete", "Setting"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "data",
                                        total: "total",
                                        errors: "errors",
                                        model: {
                                            id: "id",
                                            fields: {
                                                name: { editable: true, type: "string" },
                                                value: { editable: true, type: "string" },
                                                description: { editable: true, type: "string" },
                                                id: { editable: false, type: "number" }
                                            }
                                        }
                                    },
                                    requestEnd: function(e) {
                                        if (e.type == "create" || e.type == "update") {
                                            this.read();
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                toolbar: [{ name: "create", text: "Add New Setting" }],
                                editable: {
                                    confirmation: "Are you sure you want to delete this item?",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "name",
                                        title: "Name",
                                        width: 300
                                    }, {
                                        field: "value",
                                        title: "Value",
                                        width: 300
                                    }, {
                                        field: "description",
                                        title: "Description",
                                        width: 150
                                    }, {
                                        command: [
                                            {
                                                name: "edit",
                                                text: {
                                                    edit: "Edit",
                                                    update: "Update",
                                                    cancel: "Cancel"
                                                }
                                            }, {
                                                name: "destroy",
                                                text: "Delete"
                                            }
                                        ],
                                        width: 200
                                    }
                                ]
                            });
                        });

                    </script>
                    <script>
                        $(document).ready(function() {
                            $('#search-settings').click(function() {
                                var grid = $('#settings-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });

                        $("".concat("#@Html.IdFor(model => model.SearchSettingName),",
                            "#@Html.IdFor(model => model.SearchSettingValue)")).keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#search-settings").click();
                                    return false;
                                }
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>