﻿@model Narnia.Web.Models.ExchangeOffer.ExchangeOfferVM

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 bhoechie-tab trade-content">
    <div class="bhoechie-tab-content-sell active">
        <h1>BÁN @Model.AssetTypeId</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="text-muted">Giao dịch tự động qua Vietcombank 24/7<br>(kể cả ban đêm &amp; cuối tuần)</span>
            </div>

            <form asp-controller="ExchangeOffer" asp-action="ExchangeConfirm" asp-antiforgery="true" method="POST" name="frm-exchange-offer-sell" class="form-horizontal" role="form">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Type" />
                <input type="hidden" asp-for="Status" />
                <input type="hidden" asp-for="AssetTypeId" />
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Số lượng @Model.AssetTypeId muốn bán</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input asp-for="Amount" class="form-control" required="required" placeholder="0" onkeypress="return commonJs.allowNumberAndDot(event, this);" />
                                <span class="input-group-addon">@Model.AssetTypeId</span>
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Ngân hàng nhận tiền</label>
                        <div class="col-md-8">
                            <div class="btn-toolbar">
                                <div class="btn-group select-bank">
                                    <button class="btn btn-primary" type="button">Vietcombank</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Số tài khoản nhận tiền</label>
                        <div class="col-md-8">
                            <input asp-for="UserBankAccountNo" class="form-control" required="required" maxlength="13" onkeypress="return commonJs.allowOnlyNumberInput(event, this)"  placeholder="Số tài khoản VCB của bạn. Vd : 0071000xxxxx" />
                            <span asp-validation-for="UserBankAccountNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tên tài khoản nhận tiền</label>
                        <div class="col-md-8">
                            <input asp-for="UserBankAccountName" class="form-control" maxlength="50" required="required" />
                            <span asp-validation-for="UserBankAccountName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Số điện thoại của bạn</label>
                        <div class="col-md-8">
                            <input asp-for="Phone" class="form-control" required="required" placeholder="vd: 0918989xxx" maxlength="11" onkeypress="return commonJs.allowOnlyNumberInput(event, this)" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Số tiền nhận</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input asp-for="VNDAmount" class="form-control" disabled="disabled" />
                                <span class="input-group-addon">VNĐ</span>
                                <span asp-validation-for="VNDAmount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Chúng tôi còn</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input asp-for="VNDReservesDisplay" class="form-control" disabled="disabled" />
                                <span class="input-group-addon">VNĐ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" id="btnSubmitExchangeSell" class="btn btn-primary pull-right">Tiếp Tục</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h5>Hướng dẫn giao dịch</h5>
                <ul>
                    <li>Nhập số lượng @Model.AssetTypeId muốn bán</li>
                    <li>
                        <span>Điền số tài khoản ngân hàng VCB, SCB, Techcombank</span><br>
                        <strong>(Hiện nay chúng tôi chỉ hỗ trợ 1 số ngân hàng)</strong>
                    </li>
                    <li>Bấm vào nút "Tiếp tục"</li>
                    <li>Đăng nhập và thanh toán bằng tài khoản @Model.AssetTypeId của bạn</li>
                    <li>Hệ thống sẽ chuyển tiền cho bạn trong giây lát</li>
                </ul>
                <h5>Chú ý:</h5>
                <ul>
                    <li>Tuyệt đối không đưa link đơn hàng cho người khác.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#Amount").keyup(function() {
        var amount = $(this).val();
        getVNDPrice(amount);
    });

    $(document).ready(function() {
        if (parseFloat($("#Amount").val()) > 0) {
            getVNDPrice(parseFloat($("#Amount").val()));
        }
    });

    function getVNDPrice(amount) {
        $.ajax({
            cache: false,
            url: '/ExchangeOffer/GetVNDPrice?amount='+ amount + '&coinType='+ '@Model.AssetTypeId',
            type: 'post',
            data: { amount: amount },
            success: function (data) {
                if (data) {
                    console.log("success");
                    $("#VNDAmount").attr('value',data);
                    //toastr.success("Process request successfully");
                } else {
                    console.log("error");
                }
                $("#btnSubmitExchangeSell").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
            }
        });
    }
</script>
