﻿@model Narnia.Web.Models.ExchangeOffer.ExchangeOfferVM

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 bhoechie-tab trade-content">
    <div class="bhoechie-tab-content-sell active">
        <h1>MUA @Model.AssetTypeName</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="text-muted">Giao dịch tự động qua Vietcombank 24/7<br>(kể cả ban đêm &amp; cuối tuần)</span>
            </div>
            <form asp-controller="ExchangeOffer" asp-action="ExchangeConfirm" method="POST" class="form-horizontal" role="form">
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Type" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="AssetTypeId" />
                    <div class="form-group">
                        <label class="col-md-4 control-label">Chúng tôi còn</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input asp-for="AssetAmountReserves" class="form-control" required="required" disabled="disabled" />
                                <span class="input-group-addon">@Model.AssetTypeId</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Số lượng cần mua</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input asp-for="Amount" class="form-control" required="required" onkeypress="return commonJs.allowNumberAndDot(event, this);" />
                                <span class="input-group-addon">@Model.AssetTypeId</span>
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Số tiền cần trả</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input asp-for="VNDAmount" class="form-control" required="required" disabled="disabled" />
                                <span class="input-group-addon">VNĐ</span>
                                <span asp-validation-for="VNDAmount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Thanh Toán Qua</label>
                        <div class="col-md-8">
                            <div class="btn-toolbar">
                                <div class="btn-group select-bank">
                                    <button class="btn btn-primary" type="button">Vietcombank</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Số điện thoại của bạn</label>
                        <div class="col-md-8">
                            <input asp-for="Phone" class="form-control" required="required" placeholder="vd: 0918989xxx" maxlength="11" onkeypress="return commonJs.allowOnlyNumberInput(event, this)" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    @if (Model.AssetTypeId.Equals("PM"))
                    {
                        <div class="form-group">
                            <label class="col-md-4 control-label">Số tài khoản USD PM của bạn</label>
                            <div class="col-md-8">
                                <input asp-for="PerfectMoneyUSDAccount" class="form-control" maxlength="10" required="required" placeholder="ví dụ : U1234567" />
                                <span asp-validation-for="PerfectMoneyUSDAccount"></span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-md-4 control-label">Địa chỉ ví @Model.AssetTypeId của bạn</label>
                            <div class="col-md-8">
                                <input asp-for="WalletAddress" class="form-control" required="required" placeholder="ví dụ : x12343x4432" />
                                <span asp-validation-for="WalletAddress"></span>
                            </div>
                        </div>
                    }

                    @if (!Model.AssetTypeId.Equals("PM"))
                    {
                        <div class="col-md-11 col-md-offset-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="" value="" checked="checked">
                                <span class="form-checkbox-text">Tôi cam kết không sử dụng @Model.AssetTypeId làm phương tiện thanh toán tại Việt Nam</span>
                            </label>
                        </div>
                    }

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" id="btnSubmitExchangeBuy" class="btn btn-primary pull-right">Tiếp Tục</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>Hướng dẫn giao dịch</h5>
                <ul>
                    <li>Nhập số ví @Model.AssetTypeId của người nhận</li>
                    <li>Nhập số lượng @Model.AssetTypeId muốn mua</li>
                    <li>Chọn ngân hàng mà bạn muốn thanh toán</li>
                    <li>Bấm vào nút "Tiếp tục"</li>
                    <li>Gửi tiền theo hướng dẫn</li>
                    <li>Hệ thống sẽ chuyển Bitcoin cho bạn trong giây lát</li>
                </ul>
                <h5>Chú ý:</h5>
                <ul>
                    <li>Tuyệt đối không đưa link đơn hàng cho người khác.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#Amount").keyup(function() {
        var amount = $(this).val();
        getVNDPrice(amount);
    });

    $(document).ready(function() {
        if (parseFloat($("#Amount").val()) > 0) {
            getVNDPrice(parseFloat($("#Amount").val()));
        }
    });

    function getVNDPrice(amount) {
        $.ajax({
            cache: false,
            url: '/ExchangeOffer/GetVNDPrice?amount='+ amount + '&coinType='+ '@Model.AssetTypeId',
            type: 'post',
            data: { amount: amount },
            success: function (data) {
                if (data) {
                    console.log("success");
                    $("#VNDAmount").attr('value',data);
                    //toastr.success("Process request successfully");
                } else {
                    console.log("error");
                }
                $("#btnSubmitExchangeBuy").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
            }
        });
    }
</script>

