﻿@using Narnia.Core.Enums
@model Narnia.Web.Models.ExchangeOffer.ExchangeOfferVM

@{
    //Layout = "_ExchangeOfferLayout";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="text-muted">Bán @Model.AssetTypeId</span>
    </div>
    <div class="panel-body">
        <form asp-area="" asp-action="Payment" asp-controller="ExchangeOffer" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Type" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="AssetTypeId" />
            <input type="hidden" asp-for="ExchangeOfferCode" />
            <input type="hidden" asp-for="UserBankAccountNo" />
            <input type="hidden" asp-for="Amount" />

            <div class="form-comfirm-data">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="col-md-2">
                                <strong>Mã giao dịch</strong>
                            </td>
                            <td class="text-left order-ref">
                                <span class="auto-code-fill">
                                    @Model.ExchangeOfferCode
                                </span>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <div>Cung cấp mã giao dịch này nếu bạn cần hỗ trợ về đơn hàng</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">
                                <strong>Số tài khoản nhận tiền</strong>
                            </td>
                            <td>
                                <span>@Model.UserBankAccountNo</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">
                                <strong>Số tiền nhận</strong>
                            </td>
                            <td>
                                <span>@Model.VNDAmountDisplay VNĐ</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">
                                <strong>Số lượng @Model.AssetTypeId bán</strong>
                            </td>
                            <td>
                                <span>@Model.Amount @Model.AssetTypeId</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 order-status">
                                <strong>Trạng thái</strong>
                            </td>
                            <td class="order-status-text">
                                <span>Vui lòng thanh toán @Model.AssetTypeId ngay dưới đây</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            @if (Model.AssetTypeId.Equals(Enum.GetName(typeof(AssetTypeEnum), AssetTypeEnum.PM)))
            {
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Thanh Toán</button>
                    </div>
                </div>
            }
            else
            {
                <div class="coinpayment-form">
                    <div class="alert alert-warning">
                        <div class="text-center">
                            <div>
                                @if (Model.AssetTypeId.Equals("ETH"))
                                {
                                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=160x160&data=ethereum:@Model.WalletAddress" />
                                }
                                else
                                {
                                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=160x160&data=@Model.WalletAddress" />
                                }
                                @*<qrcode data="0x4b2777961ed8e64068dd40148d22f8696159e417" size="150"><canvas class="qrcode" height="150" width="150"></canvas></qrcode>*@
                            </div>
                            <span>
                                Vui lòng chuyển đúng <strong style="color: red;">@Model.Amount @Model.AssetTypeId</strong> vào địa chỉ
                                <p style="font-weight: bold; color: red;">@Model.WalletAddress</p>
                            </span>
                        </div>
                        <ul>
                            <li>Chúng tôi chỉ chấp nhận @Model.AssetTypeId vào địa chỉ trên. Chúng tôi không xử lý khi bạn gửi các loại tiền khác vào địa chỉ trên.</li>
                            <li>
                                @if (Model.AssetTypeId.Equals("ETH"))
                                {
                                    <a href="https://etherscan.io/address/@Model.WalletAddress" target="_blank">Kiểm tra trên blockchain</a>
                                }
                                else
                                {
                                    <a href="https://blockchain.info/address/3E4bsuLyWdtgGz68CneC9DiqScZBcw5wgT" target="_blank">Kiểm tra trên blockchain</a>
                                }
                            </li>
                            <li>Giá @Model.AssetTypeId biến động liên tục. Chúng tôi sẽ chốt giá và chuyển khoản ngân hàng cho bạn ngay khi đủ <strong>1 xác nhận (confirmation)</strong> trên @Model.AssetTypeId network.</li>
                        </ul>
                    </div>
                </div>
            }

        </form>
    </div>
</div>
