﻿@using Narnia.Core.Enums
@model Narnia.Web.Models.ExchangeOffer.ExchangeOfferVM

@{
    //Layout = "_ExchangeOfferLayout";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="text-muted">Mua @Model.AssetTypeId</span>
    </div>
    <div class="panel-body">
        <form asp-area="" asp-action="Payment" asp-controller="ExchangeOffer" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Type" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="AssetTypeId" />
            <input type="hidden" asp-for="ExchangeOfferCode" />
            <input type="hidden" asp-for="UserBankAccountNo" />
            <input type="hidden" asp-for="Amount" />

            <div class="form-comfirm-data">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="col-md-2">
                                <strong>Mã giao dịch</strong>
                            </td>
                            <td class="text-left order-ref">
                                <span class="auto-code-fill">
                                    @Model.ExchangeOfferCode
                                </span>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <div>Cung cấp mã giao dịch này nếu bạn cần hỗ trợ về đơn hàng</div>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-md-2">
                                <strong>Hướng dẫn thanh toán</strong>
                            </td>
                            <td class="text-left">

                                <div class="ng-scope">
                                    <div class="ng-scope">
                                        Vui lòng chuyển khoản cho tài khoản
                                        <b>Vietcombank</b> sau:
                                    </div>
                                    <div>
                                        <span class="ng-scope">Số tài khoản:</span>
                                        <strong class="ng-binding">@Model.BankAccount[0].AccountNo</strong>
                                    </div>
                                    <div>
                                        <span class="ng-scope">Tên chủ tài khoản:</span>
                                        <strong class="ng-binding">@Model.BankAccount[0].AccountName</strong>
                                    </div>
                                    <div class="ng-scope" style="">
                                        <span class="ng-scope">Chi nhánh:</span>
                                        <strong class="ng-binding">@Model.BankAccount[0].Branch</strong>
                                    </div>
                                </div>
                                <div>
                                    <span class="ng-scope">Số tiền:</span>
                                    <strong class="ng-binding">@Model.VNDAmountDisplay VNĐ</strong>
                                </div>
                                <div>
                                    <span class="ng-scope">Nội dung chuyển khoản (memo):</span>
                                    <br>
                                    <strong class="ng-binding">giao dich @Model.ExchangeOfferCode tai Vinaex</strong>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-md-2"></td>
                            <td class="text-left text-info">
                                <span>
                                    Chú ý: Bạn hãy chuyển chính xác số tiền (kể cả số lẻ) và nội dung chuyển tiền như hướng dẫn (phần in đậm). Nếu không chúng tôi sẽ không xử lý.
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-md-2">Trạng thái</td>
                            <td class="text-left text-info">
                                <strong class="text-danger" style="">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    <span>Đang chờ thanh toán từ Vietcombank, bạn vui lòng chuyển tiền theo hướng dẫn bên trên</span>
                                </strong>
                            </td>
                        </tr>
                        @if (Model.AssetTypeId.Equals(Enum.GetName(typeof(AssetTypeEnum), AssetTypeEnum.PM)))
                        {
                            <tr>
                                <td class="col-md-2">
                                    <strong>Số tài khoản USD PM của bạn</strong>
                                </td>
                                <td class="text-left order-ref">
                                    <span class="auto-code-fill">
                                        @Model.PerfectMoneyUSDAccount
                                    </span>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="col-md-2">
                                    <strong>Địa chỉ @Model.AssetTypeId của bạn</strong>
                                </td>
                                <td class="text-left order-ref">
                                    <span class="auto-code-fill">
                                        @Model.WalletAddress
                                    </span>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td class="col-md-2">
                                <strong>Bạn trả</strong>
                            </td>
                            <td>
                                <span>@Model.VNDAmountDisplay VNĐ</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">
                                <strong>Số lượng @Model.AssetTypeId bạn nhận</strong>
                            </td>
                            <td>
                                <span>@Model.Amount @Model.AssetTypeId</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </form>
    </div>
</div>