﻿@{
    Layout = "_ExchangeOfferLayout";
}
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 bhoechie-tab trade-content">
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h5 class="panel-title">Tra cứu giao dịch</h5>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="txForm">
                <div class="form-group required">
                    <label class="col-md-3 control-label">
                        Mã giao dịch
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" id="txtSearchExchangeOffer" placeholder="Ex: 12345678E" required="required" type="text" style="">
                        @*<div class="help-block">Mã giao dịch không đúng</div>*@
                        <div class="help-block" style="display: none">Không tìm thấy giao dịch này</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right ">
            @*<span ng-class="submitting ? '':'hidden'" class="hidden">
                    <i class="fa-2x ng-binding">Đang xử lý...</i>
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </span>*@
            <button class="btn btn-primary" id="btnSearchOfferExchange" disabled>
                Kiểm tra
            </button>
        </div>
        <br />
        <div class="panel panel-body">
            <div class="row">
                <table id="tblExchangeOfferTable" class="table table-bordered table-striped"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#txtSearchExchangeOffer").keyup(function () {
        if ($("#txtSearchExchangeOffer").val() === "" || $("#txtSearchExchangeOffer").val() === undefined) {
            // disable button
            $("#btnSearchOfferExchange").prop("disabled", true);
        } else {
            //enable button
            $("#btnSearchOfferExchange").prop("disabled", false);
        }
    });
    var resourceTable = null;
    $("#btnSearchOfferExchange").click(function () {
        if (resourceTable != null) {
            resourceTable.destroy();
        }
        resourceTable = $('#tblExchangeOfferTable').DataTable(
            {
                responsive: true,
                paging: false,
                serverSide: true,
                destroy: true,
                ajax:
                {
                    url: '/ExchangeOffer/Search',
                    type: "POST",
                    data: function (d) {
                        d.code = $("#txtSearchExchangeOffer").val();
                    }
                },
                "searching": false,
                "pageLength": 20,
                columns: [
                    //{ title: "Stt", data: "id" },
                    { title: "Loại tiền", data: "assetTypeName" },
                    { title: "Số lượng", data: "amount" },
                    { title: "Tổng tiền việt", data: "vndAmountDisplay" },
                    { title: "Loại GD", data: "typeDisplay" },
                    { title: "Trạng thái", data: "statusDisplay" },
                    { title: "Ngày tạo", data: "createdDateDisplay" }
                ]
            });
    });
</script>
