﻿@using Narnia.Web.Areas.Admin.Models.Payments
@model GatewayModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model.Id > 0)
                    {
                        <div class="margin-bottom">
                            <em> Edit gateway - @Model.GatewaySystemName</em>
                        </div>
                    }
                    else
                    {
                        <div class="margin-bottom">
                            <em> Add New gateway</em>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="GatewaySystemName" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="GatewaySystemName" asp-required="true" />
                            <span asp-validation-for="GatewaySystemName"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="GatewayFriendlyName" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="GatewayFriendlyName" asp-required="true" />
                            <span asp-validation-for="GatewayFriendlyName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="Description" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="Description" asp-required="false" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="IsActive" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="IsActive" />
                            <span asp-validation-for="IsActive"></span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>












