﻿@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="row">
        <div class="title-accent title-decorated text-center"></div>
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="well well-transparent box-description">
                <div class="content">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#openning-transaction">Giao dịch đang mở</a></li>
                        <li><a data-toggle="tab" href="#closed-transaction">Giao dịch đã đóng</a></li>
                        <li><a data-toggle="tab" href="#my-sellAdvertisement">Quảng cáo bán</a></li>
                        <li><a data-toggle="tab" href="#my-buyAdvertisement">Quảng cáo mua</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="openning-transaction" class="tab-pane fade in active">
                            @{ await Html.RenderPartialAsync("_HistoryOpenningTransaction", 1);}
                        </div>
                        <div id="closed-transaction" class="tab-pane fade">
                            @{ await Html.RenderPartialAsync("_HistoryClosedTransaction", 2);}
                        </div>
                        <div id="my-sellAdvertisement" class="tab-pane fade">
                            @{ await Html.RenderPartialAsync("_MyAdvertisement", 1);}
                        </div>
                        <div id="my-buyAdvertisement" class="tab-pane fade">
                            @{ await Html.RenderPartialAsync("_MyAdvertisement", 2);}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>

