﻿
@{
    ViewData["Title"] = "PrivacyPolicy";
}

<div class="main-content">
    <div class="row">
    <div class="title-accent title-decorated text-center"><h1>Chính sách giao dịch</h1></div>
    <div class="col-md-3">
        <div class="sidebar-container">
            <div class="nav-button">
                <div class="navbar-default">
                    <button class="navbar-toggle" type="button">
                        <i class="icon-menu"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="list-group navbar-collapse collapse in" id="sidebar_nav">
                <a href="/policy/terms-of-service" class="list-group-item">
                    <span>Điều khoản sử dụng</span>
                </a>
                <a href="/policy/privacy-policy" class="list-group-item active">
                    <span>Chính sách bảo mật</span>
                </a>
                <a href="/policy/trading-policy" class="list-group-item">
                    <span>Chính sách giao dịch</span>
                </a>
            </div>
        </div>
    </div>
        <div class="col-md-9">
            <div class="well well-transparent box-description">
                <div class="content">
                    <span>
                        <p>
                            Vinaex và những chi nhánh (sau đây gọi là "Công ty", "chúng tôi") bao gồm nhưng không giới hạn: chủ sở hữu, giám đốc, các nhà đầu tư, nhân viên hoặc các bên liên quan khác. Tùy thuộc vào bối cảnh, "Vinaex" cũng có thể tham khảo các dịch vụ, sản phẩm, trang web, nội dung hoặc các tư liệu khác (gọi chung là "Tư liệu") được cung cấp bởi Vinaex.
                        </p>

                        <p>
                            Vinaex và các chi nhánh (sau đây gọi là "Vinaex", "chúng tôi") đều được cam kết bảo vệ và tôn trọng sự riêng tư của bạn.
                        </p>
                        <!-- react-text: 848 -->
                        <!-- /react-text -->
                        <p>
                            Chính sách bảo mật này (cùng với điều khoản sử dụng) là cơ sở về việc thu thập, bảo vệ và sử dụng thông tin cá nhân của bạn. Chúng tôi định nghĩa "Thông tin cá nhân" như thông tin nhận dạng cá nhân bạn, ví dụ như tên, địa chỉ, địa chỉ thư điện tử, giao dịch, chi tiết ngân hàng, ...
                        </p>

                        <p>Mục đích của chính sách bảo mật là để thông báo cho bạn:</p>
                        <p></p>

                        <ol>

                            <li> Các loại thông tin cá nhân mà chúng tôi có thể thu thập về bạn và làm thế nào nó có thể được sử dụng; </li>
                            <li>Cách chúng tôi thu thập và sử dụng địa chỉ IP và cookies;</li>
                            <li>Tiết lộ thông tin cá nhân cho bên thứ ba;</li>
                            <li>Khả năng của bạn để sửa, cập nhật và xóa thông tin cá nhân của bạn;</li>
                            <li>
                                Các biện pháp an ninh chúng tôi sử dụng để ngăn chặn sự mất mát, lạm dụng hoặc thay đổi thông tin cá nhân dưới sự kiểm soát của chúng tôi, và

                            </li>
                            <li>Giữ thông tin cá nhân.</li>
                        </ol>
                        <p></p>
                        <h4>THU THẬP VÀ SỬ DỤNG THÔNG TIN CÁ NHÂN</h4>
                        <p>
                            Chúng tôi có thể thu thập thông tin cá nhân của bạn nếu bạn sử dụng các trang web, mở một tài khoản để sử dụng trang web hoặc thực hiện bất kỳ giao dịch trên trang web. Các loại thông tin cá nhân mà chúng tôi thu thập có thể bao gồm:<!-- /react-text -->
                        </p>
                        <p></p>
                        <ol>

                            <li>Tên của bạn;</li>
                            <li> Danh tính của bạn, bao gồm một hình ảnh chất lượng cao của chứng minh nhân dân, hộ chiếu; </li>
                            <li>Địa chỉ của bạn;</li>
                            <li>Địa chỉ e-mail của bạn;</li>
                            <li>Vân tay thiết bị (Device fingerprint) của bạn;</li>
                            <!-- react-text: 8281 -->
                            <!-- /react-text -->
                            <li>Chi tiết ngân hàng của bạn bao gồm cả số tài khoản;</li>
                            <li>Ngày sinh của bạn;</li>
                            <li>Ngành nghề của bạn, và</li>
                            <li>Hóa đơn tiện ích của bạn hoặc báo cáo ngân hàng xác nhận địa chỉ cư trú của bạn.</li>
                        </ol>
                        <p></p>
                        <h4>CHÚNG TÔI CÓ THỂ SỬ DỤNG THÔNG TIN CÁ NHÂN CỦA BẠN CHO CÁC MỤC ĐÍCH:</h4>
                        <p></p>
                        <!-- react-text: 900 -->
                        <!-- /react-text -->
                        <ol>
                            <!-- react-text: 8291 -->
                            <!-- /react-text -->
                            <li> Để cá nhân hoá trải nghiệm của bạn (thông tin của bạn sẽ giúp chúng tôi đáp ứng tốt hơn nhu cầu cá nhân của bạn); </li>
                            <!-- react-text: 8293 -->
                            <!-- /react-text -->
                            <li>
                                Để cải thiện trang web của chúng tôi (chúng tôi liên tục cố gắng để cải thiện các dịch vụ trang web của chúng tôi dựa trên các thông tin và phản hồi chúng tôi nhận được từ bạn);

                            </li>
                            <!-- react-text: 8298 -->
                            <!-- /react-text -->
                            <li>Phân tích sử dụng trang web của chúng tôi;</li>
                            <!-- react-text: 8300 -->
                            <!-- /react-text -->
                            <li>
                                <!-- react-text: 8302 --> Để cải thiện dịch vụ khách hàng (thông tin của bạn sẽ giúp chúng tôi hiệu quả hơn đáp ứng yêu cầu dịch vụ khách hàng của bạn và nhu cầu hỗ trợ);

                            </li>
                            <!-- react-text: 8305 -->
                            <!-- /react-text -->
                            <li>
                                Xác minh danh tính của bạn với nhà cung cấp nhận dạng điện tử của chúng tôi để tuân theo các chính sách chống rửa tiền.

                            </li>
                            <!-- react-text: 8310 -->
                            <!-- /react-text -->
                            <li>
                                Để xử lý các giao dịch. Thông tin của bạn, dù công hay tư, sẽ không được bán, trao đổi, hoặc cho bất kỳ công ty nào khác đối với bất kỳ lý do gì mà không có sự đồng ý của bạn;

                            </li>
                            <!-- react-text: 8315 -->
                            <!-- /react-text -->
                            <li>
                                <!-- react-text: 8317 --> Để gửi email định kỳ. Địa chỉ email mà bạn cung cấp có thể được sử dụng để gửi cho bạn thông tin và cập nhật liên quan đến đơn đặt hàng hoặc yêu cầu của bạn, ngoài việc nhận được tin công ty thường xuyên, cập nhật, chương trình khuyến mãi, sản phẩm hoặc dịch vụ liên quan đến thông tin, ...

                            </li>
                            <!-- react-text: 8320 -->
                            <!-- /react-text -->
                            <li>Để quản lý các cuộc thi, khuyến mại, khảo sát, tính năng trang web khác.</li>
                            <!-- react-text: 8322 -->
                            <!-- /react-text -->
                        </ol>
                        <!-- react-text: 905 -->
                        <!-- /react-text -->
                        <p></p>
                        <!-- react-text: 907 -->
                        <!-- /react-text -->
                        <p> Chúng tôi sẽ xử lý thông tin cá nhân của bạn chỉ với mục đích mà nó đã được cung cấp cho chúng tôi. </p>
                        <!-- react-text: 912 -->
                        <!-- /react-text -->
                        <h4>COOKIES</h4>
                        <!-- react-text: 917 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 7859 --> Các trang web Vinaex đang sử dụng cookies. Cookies là các tập tin văn bản nhỏ được đặt trên máy tính của bạn bởi các trang web mà bạn truy cập. Chúng được sử dụng rộng rãi để làm cho trang web làm việc, hoặc làm việc hiệu quả hơn, cũng như cung cấp thông tin cho chủ sở hữu của trang web.
                            <!-- /react-text -->
                            <!-- react-text: 8325 -->
                            <!-- /react-text -->
                            <!-- react-text: 7861 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 924 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 926 --> Cookies được lưu trữ trên ổ cứng của máy tính. Thông tin thu thập từ các tập tin cookies được sử dụng bởi chúng tôi để đánh giá hiệu quả của các trang web của chúng tôi, phân tích xu hướng, và quản lý trang web. Thông tin thu thập từ các tập tin cookies cho phép chúng tôi xác định những thứ như phần nào của trang web được truy cập nhiều nhất và những khó khăn mà khách hàng của chúng tôi có thể gặp trong việc tiếp cận trang web. Với kiến thức này, chúng tôi có thể nâng cao chất lượng trải nghiệm của bạn trên nền tảng bằng cách công nhận và cung cấp nhiều hơn các tính năng mong muốn nhất, cũng như giải quyết các khó khăn truy cập.
                            <!-- /react-text -->
                            <!-- react-text: 927 -->
                            <!-- /react-text -->
                            <!-- react-text: 928 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 929 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 8327 --> Chúng tôi sử dụng nhà cung cấp dịch vụ của bên thứ ba để giúp chúng tôi hiểu rõ hơn việc sử dụng các trang web. Nhà cung cấp dịch vụ sẽ đặt các tập tin cookies trên ổ đĩa cứng của máy tính bạn và sẽ nhận được thông tin mà chúng tôi lựa chọn. Nhà cung cấp dịch vụ của chúng tôi phân tích thông tin này và cung cấp cho chúng tôi với các báo cáo tổng hợp. Các thông tin và phân tích được cung cấp bởi nhà cung cấp dịch vụ sẽ được sử dụng để trợ giúp chúng tôi hiểu biết tốt hơn lợi ích khách hàng và làm thế nào để phục vụ tốt hơn. Thông tin thu thập bởi nhà cung cấp dịch vụ có thể được liên kết đến và kết hợp với thông tin mà chúng tôi thu thập về bạn trong khi bạn đang sử dụng trang web.
                            <!-- /react-text -->
                            <!-- react-text: 8328 -->
                            <!-- /react-text -->
                            <!-- react-text: 8329 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 931 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 8330 --> Bằng cách sử dụng trang web của chúng tôi bạn đồng ý rằng chúng tôi có thể sử dụng các cookies cho các mục đích nêu trên.
                            <!-- /react-text -->
                            <!-- react-text: 8331 -->
                            <!-- /react-text -->
                            <!-- react-text: 8332 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7865 -->
                        <!-- /react-text -->
                        <h4>CÔNG BỐ THÔNG TIN CÁ NHÂN</h4>
                        <!-- react-text: 7870 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 8335 --> Chúng tôi sử dụng thông tin cá nhân cho các mục đích nêu tại thời điểm bạn cung cấp cho chúng tôi thông tin đó, và/hoặc cho các mục đích đặt ra trong chính sách bảo mật này và/hoặc được pháp luật cho phép.
                            <!-- /react-text -->
                            <!-- react-text: 8336 -->
                            <!-- /react-text -->
                            <!-- react-text: 8337 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7900 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 8338 --> Bạn thừa nhận rằng bằng cách sử dụng dịch vụ của chúng tôi và sự chấp nhận của bạn về điều khoản sử dụng, bạn sẽ cung cấp cho chúng tôi thông tin cá nhân về bạn. Bạn bằng lòng cho chúng tôi tiết lộ thông tin nếu được yêu cầu của pháp luật cho mục đích nhận dạng điện tử như đã nêu ở trên.
                            <!-- /react-text -->
                            <!-- react-text: 8339 -->
                            <!-- /react-text -->
                            <!-- react-text: 8340 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7902 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 7904 --> Chúng tôi cũng được phép cung cấp cho phía nạn nhân và các bên liên quan trong trường hợp tài khoản của bạn có liên quan đến lừa đảo, vi phạm pháp luật.
                            <!-- /react-text -->
                            <!-- react-text: 7905 -->
                            <!-- /react-text -->
                            <!-- react-text: 7906 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7907 -->
                        <!-- /react-text -->
                        <p> Sẽ không có thông tin cá nhân nào có thể được cung cấp cho các bên khác để tiếp thị, quảng cáo, hoặc sử dụng khác. </p>
                        <!-- react-text: 7912 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 7914 --> Bất kỳ bên thứ ba nhận được hoặc có quyền truy cập vào thông tin cá nhân sẽ được yêu cầu của chúng tôi để bảo vệ thông tin cá nhân như vậy và sử dụng nó chỉ để thực hiện các dịch vụ mà họ đang thực hiện cho bạn hoặc cho Vinaex, trừ trường hợp cần thiết hoặc pháp luật cho phép. Chúng tôi sẽ đảm bảo rằng bất kỳ bên thứ ba nào cũng sẽ có các nghĩa vụ của chúng tôi theo chính sách bảo mật.
                            <!-- /react-text -->
                            <!-- react-text: 7915 -->
                            <!-- /react-text -->
                            <!-- react-text: 7916 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7917 -->
                        <!-- /react-text -->
                        <h4>LIÊN KẾT ĐẾN BÊN THỨ BA</h4>
                        <!-- react-text: 7922 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 8343 --> Thỉnh thoảng, theo quyết định của chúng tôi, chúng tôi có thể bao cung cấp sản phẩm hoặc dịch vụ của bên thứ ba trên trang web của chúng tôi. Các trang web của bên thứ ba có chính sách bảo mật riêng biệt và độc lập. Chúng tôi khuyến khích bạn xem lại tất cả các chính sách, các quy tắc, điều khoản và quy định, bao gồm các chính sách bảo mật, của mỗi trang web mà bạn truy cập. Tuy nhiên, chúng tôi sẽ tìm cách bảo vệ sự toàn vẹn của trang web và hoan nghênh bất kỳ thông tin phản hồi về các trang web đó.
                            <!-- /react-text -->
                            <!-- react-text: 8344 -->
                            <!-- /react-text -->
                            <!-- react-text: 8345 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7924 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 7926 --> Chúng tôi không kiểm soát các trang web bên thứ ba hoặc bất kỳ nội dung chứa đựng trong đó và bạn đồng ý rằng chúng tôi không chịu trách nhiệm hoặc chịu trách nhiệm về bất kỳ của các trang web của bên thứ ba, bao gồm nhưng không giới hạn, nội dung, chính sách, thất bại, chương trình khuyến mãi, sản phẩm của họ, dịch vụ hoặc hành động và/hoặc bất kỳ thiệt hại, mất mát, thất bại hoặc các vấn đề gây ra bởi, liên quan đến hoặc phát sinh từ các trang web đó.
                            <!-- /react-text -->
                            <!-- react-text: 7927 -->
                            <!-- /react-text -->
                            <!-- react-text: 7928 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7929 -->
                        <!-- /react-text -->
                        <h4>SỬA CHỮA/CẬP NHẬT/XÓA THÔNG TIN CÁ NHÂN</h4>
                        <!-- react-text: 7934 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 8348 --> Bạn có quyền truy cập vào thông tin cá nhân của bạn và yêu cầu điều chỉnh, cập nhật và ngăn chặn các dữ liệu không chính xác và/hoặc không chính xác bằng cách gửi email cho chúng tôi tại địa chỉ:
                            <!-- /react-text -->
                            <a href="mailto:support@Vinaex.com">support@Vinaex.com</a>
                            <!-- react-text: 8350 -->. Vinaex sẽ hành động theo yêu cầu của bạn chỉ trong trường hợp nào dữ liệu thu thập không phù hợp với điều khoản sử dụng, nghĩa vụ pháp lý và điều hành.
                            <!-- /react-text -->
                            <!-- react-text: 8351 -->
                            <!-- /react-text -->
                            <!-- react-text: 8352 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7936 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 7938 --> Khi có yêu cầu bằng văn bản của bạn, chúng tôi sẽ cung cấp cho bạn các thông tin cá nhân liên quan đến bạn mà chúng tôi có và việc sử dụng và tiết lộ thông tin cá nhân của bạn.
                            <!-- /react-text -->
                            <!-- react-text: 7939 -->
                            <!-- /react-text -->
                            <!-- react-text: 7940 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7941 -->
                        <!-- /react-text -->
                        <h4>AN NINH</h4>
                        <!-- react-text: 7943 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 7945 --> Chúng tôi đã thực hiện các biện pháp an ninh để đảm bảo bí mật thông tin cá nhân của bạn khỏi mất mát, lạm dụng, thay đổi hoặc phá hủy.
                            <!-- /react-text -->
                            <!-- react-text: 7946 -->
                            <!-- /react-text -->
                            <!-- react-text: 7947 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7948 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 8354 --> Chúng tôi thực hiện một loạt các biện pháp an ninh để duy trì sự an toàn của thông tin cá nhân của bạn khi bạn gửi một yêu cầu, đặt hàng hoặc truy cập thông tin cá nhân của bạn. Các biện pháp an ninh bao gồm: mật khẩu bảo vệ thư mục và cơ sở dữ liệu để bảo vệ thông tin của bạn, SSL (Secure Sockets Layer) để đảm bảo rằng thông tin của bạn là hoàn toàn mã hóa và gửi qua mạng Internet một cách an toàn hoặc phần mềm quét máy chủ PCI để chủ động bảo vệ máy chủ từ tin tặc và các lỗ hổng khác. Chúng tôi cung cấp việc sử dụng một máy chủ an toàn . Tất cả các thông tin nhạy cảm/tín dụng cung cấp được truyền qua công nghệ SSL và sau đó mã hóa thành cơ sở dữ liệu của chúng tôi được chỉ được truy cập bởi những người được ủy quyền có quyền tiếp cận đặc biệt với các hệ thống của chúng tôi, và được yêu cầu để giữ cho các thông tin bí mật.
                            <!-- /react-text -->
                            <!-- react-text: 8355 -->
                            <!-- /react-text -->
                            <!-- react-text: 8356 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7950 -->
                        <!-- /react-text -->
                        <p>
                            <!-- react-text: 7952 --> Chỉ những nhân viên có thẩm quyền của Việt Nam Bitcoin có thể truy cập thông tin cá nhân của bạn, và các nhân viên được yêu cầu phải xử lý thông tin một cách bí mật. Các biện pháp an ninh tại chỗ sẽ, theo thời gian, được xem xét phù hợp với sự phát triển pháp lý và kỹ thuật.
                            <!-- /react-text -->
                            <!-- react-text: 7953 -->
                            <!-- /react-text -->
                            <!-- react-text: 7954 -->
                            <!-- /react-text -->
                        </p>
                        <!-- react-text: 7955 -->
                        <!-- /react-text -->
                        <h4>LƯU GIỮ THÔNG TIN CÁ NHÂN</h4>
                        <!-- react-text: 7957 -->
                        <!-- /react-text -->
                        <p>
                            Chúng tôi sẽ giữ thông tin cá nhân của bạn chỉ cho đến khi nó là cần thiết để chúng tôi làm như vậy, có liên quan đến các mục đích được mô tả trong chính sách bảo mật và nghĩa vụ pháp lý của chúng ta. Để phù hợp với nghĩa vụ lưu giữ hồ sơ của, chúng tôi sẽ giữ lại tài khoản và thông tin cá nhân ít nhất là trong thời hạn 5 năm sau khi được đóng bởi người sử dụng.
                        </p>
                        <!-- react-text: 7962 -->
                        <!-- /react-text -->
                        <h4>THAY ĐỔI</h4>
                        <!-- react-text: 7964 -->
                        <!-- /react-text -->
                        <p>
                            Chính sách trang web, nội dung, thông tin, chương trình khuyến mãi, tiết lộ, và các tính năng khác có thể được điều chỉnh, sửa đổi, cập nhật, và/hoặc bổ sung bất cứ lúc nào mà không cần báo trước. Nếu chúng tôi thay đổi chính sách bảo mật, chúng tôi sẽ thực hiện các bước để thông báo cho tất cả người dùng bởi một thông báo trên trang web và sẽ đăng các Chính sách bảo mật sửa đổi trên trang web.
                        </p>

                        <h4>ĐỊNH NGHĨA</h4>
                        <!-- react-text: 7971 -->
                        <!-- /react-text -->
                        <p>

                            Thông tin cá nhân: thông tin nhận diện cá nhân bạn và được thu thập và sử dụng bởi Vinaex như đã được quy định trong chính sách bảo mật này và/hoặc được pháp luật cho phép.

                        </p>
                        <!-- react-text: 7976 -->
                        <!-- /react-text -->
                        <p>Tài khoản: truy cập được cấp cho các thành viên được quy định trong Điều khoản sử dụng.</p>
                        <p>
                            Nền tảng: công nghệ phần cứng và phần mềm được sử dụng bởi Vinaex để cung cấp dịch vụ được quy định trong điều khoản sử dụng.
                        </p>
                        <!-- react-text: 7983 -->
                        <!-- /react-text -->
                        <p>
                            Giao dịch: là (i) thỏa thuận giữa người mua và người bán để trao đổi Bitcoin thông qua Dịch vụ tiền tệ tỉ giá nhất định ("Giao dịch Bitcoin"), (ii) việc chuyển đổi của đồng tiền vào Bitcoin gửi bởi thành viên trên tài khoản của họ ("giao dịch chuyển đổi" ), (iii) việc chuyển giao Bitcoin giữa các thành viên ("Bitcoin chuyển giao dịch"), (iv) di chuyển tiền tệ giữa các thành viên ( "Giao dịch đổi tiền tệ" ) và (v) mua các sản phẩm phụ trợ ("Giao dịch mua"). Vinaex có thể không cung cấp tất cả các loại giao dịch tại thời điểm này hoặc trong tất cả mọi nơi.
                        </p>
                        <!-- react-text: 7988 -->
                        <!-- /react-text -->
                        <h4>LIÊN HỆ</h4>
                        <p>
                            Nếu bạn có bất kỳ câu hỏi, ý kiến, hoặc quan tâm về chính sách và/hoặc thực thi mà có liên quan đến nền tảng, xin vui lòng liên hệ với chúng tôi tại địa chỉ e-mail sau:
                            <a href="mailto:support@Vinaex.com">support@Vinaex.com</a>
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

