﻿
@{
    ViewData["Title"] = "terms-of-service";
}

<div class="main-content">
    <div class="row">
        <div class="title-accent title-decorated text-center"><h1>Chính sách giao dịch</h1></div>
        <div class="col-md-3">
            <div class="sidebar-container">
                <div class="nav-button">
                    <div class="navbar-default">
                        <button class="navbar-toggle" type="button">
                            <i class="icon-menu"></i>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-group navbar-collapse collapse in" id="sidebar_nav">
                    <a href="/policy/terms-of-service" class="list-group-item active">
                        <span>Điều khoản sử dụng</span>
                    </a>
                    <a href="/policy/privacy-policy" class="list-group-item">
                        <span>Chính sách bảo mật</span>
                    </a>
                    <a href="/policy/trading-policy" class="list-group-item">
                        <span>Chính sách giao dịch</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="well well-transparent box-description">
                <div class="content">
                    <p><strong>I. VIỆC CHẤP NHẬN ĐIỀU KHOẢN SỬ DỤNG</strong></p>
                    <p style="font-weight: 400;">1.1. Khi bạn ("Bạn, c&aacute;c bạn hoặc bản th&acirc;n bạn")&nbsp;&nbsp;đăng k&yacute; v&agrave; sử dụng Dịch vụ của VINAEX, bạn đ&atilde; chấp nhận v&agrave; tu&acirc;n thủ c&aacute;c điều khoản v&agrave; điều kiện sử dụng đ&atilde; n&ecirc;u dưới đ&acirc;y. Bạn n&ecirc;n đọc to&agrave;n bộ c&aacute;c điều khoản sử dụng một c&aacute;ch kỹ lưỡng trước khi sử dụng trang web n&agrave;y ("Trang web") hoặc bất kỳ c&aacute;c dịch vụ của của trang web. Tại đ&acirc;y, VINAEX l&agrave; C&ocirc;ng Ty, bao gồm nhưng kh&ocirc;ng giới hạn: chủ sở hữu, gi&aacute;m đốc, c&aacute;c nh&agrave; đầu tư, nh&acirc;n vi&ecirc;n hoặc c&aacute;c b&ecirc;n li&ecirc;n quan kh&aacute;c. T&ugrave;y thuộc v&agrave;o bối cảnh, "VINAEX" cũng c&oacute; thể tham khảo c&aacute;c dịch vụ, sản phẩm, trang web, nội dung hoặc c&aacute;c t&agrave;i liệu kh&aacute;c (gọi chung l&agrave; "T&agrave;i liệu") được cung cấp bởi VINAEX. Dịch vụ điều h&agrave;nh bởi VINAEX cho ph&eacute;p người mua ("Người mua") v&agrave; người b&aacute;n ("Người b&aacute;n") mua v&agrave; b&aacute;n đồng tiền thuật to&aacute;n m&atilde; h&oacute;a được gọi l&agrave; "Tiền thuật to&aacute;n m&atilde; h&oacute;a" (xem tại http://VINAEX.IO)</p>
                    <p style="font-weight: 400;">1.2. Dịch vụ điều h&agrave;nh bởi VINAEX cũng cho ph&eacute;p tất cả người d&ugrave;ng đăng k&yacute; dịch vụ ("Th&agrave;nh vi&ecirc;n"):</p>
                    <p style="font-weight: 400;">- Chuyển Tiền thuật to&aacute;n m&atilde; h&oacute;a cho bạn hoặc c&aacute;c th&agrave;nh vi&ecirc;n kh&aacute;c hoặc người sử dụng kh&aacute;c b&ecirc;n ngo&agrave;i trang web VINAEX.</p>
                    <p style="font-weight: 400;">- Sử dụng Tiền thuật to&aacute;n m&atilde; h&oacute;a như l&agrave; t&agrave;i sản ảo của ri&ecirc;ng bạn.</p>
                    <p style="font-weight: 400;">1.3. T&ugrave;y v&agrave;o quốc gia bạn đang cư tr&uacute;, bạn c&oacute; thể hoặc kh&ocirc;ng thể sử dụng đầy đủ tất cả c&aacute;c chức năng hay dịch vụ của trang web. Bạn c&oacute; tr&aacute;ch nhiệm tự tu&acirc;n thủ c&aacute;c quy tắc v&agrave; luật ph&aacute;p ở đất nước của bạn cư tr&uacute; v&agrave;/hoặc quốc gia m&agrave; từ đ&oacute; bạn truy cập v&agrave;o trang web n&agrave;y v&agrave; c&aacute;c dịch vụ. VINAEX kh&ocirc;ng thể chịu tr&aacute;ch nhiệm cho bất cứ h&agrave;nh vi vi phạm ph&aacute;p luật n&agrave;o của bạn. Bạn đồng &yacute; v&agrave; thực sự tu&acirc;n thủ c&aacute;c Điều khoản sử dụng, VINAEX sẽ cho bạn một quyền lợi c&aacute; nh&acirc;n, kh&ocirc;ng độc quyền, kh&ocirc;ng được chuyển nhượng, để đăng nhập v&agrave; sử dụng trang web v&agrave; dịch vụ.</p>
                    <p style="font-weight: 400;">Khi bạn đăng k&yacute;&nbsp;mở một t&agrave;i khoản để sử dụng dịch vụ (&ldquo;T&agrave;i khoản&rdquo;), bạn thể hiện v&agrave; đảm bảo r&otilde; r&agrave;ng&nbsp;rằng bạn đồng &yacute; c&aacute;c điều kiện sau:</p>
                    <p style="font-weight: 400;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn chấp nhận c&aacute;c điều khoản&nbsp;v&agrave; điều kiện n&agrave;y</p>
                    <p style="font-weight: 400;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn&nbsp;từ&nbsp;18 tuổi&nbsp;trở&nbsp;v&agrave; c&oacute; đầy đủ năng lực&nbsp;để chấp nhận h&agrave;nh vi tu&acirc;n thủ theo luật ph&aacute;p v&agrave;&nbsp;để chấp nhận c&aacute;c điều khoản n&agrave;y v&agrave; tham gia v&agrave;o một giao dịch li&ecirc;n quan đến&nbsp;tiền thuật to&aacute;n m&atilde; h&oacute;a</p>
                    <p style="font-weight: 400;"><strong><strong>II. RỦI RO</strong></strong></p>
                    <p style="font-weight: 400;">2.1. Kinh doanh h&agrave;ng h&oacute;a v&agrave; c&aacute;c sản phẩm, d&ugrave; l&agrave; thật hay ảo, cũng như c&aacute;c loại tiền tệ ảo đều mang rủi ro đ&aacute;ng kể. Bạn tham gia mua hoặc b&aacute;n tiền thuật to&aacute;n đồng nghĩa với việc bạn đang đầu tư v&agrave;o 1 loại t&agrave;i sản ảo, Gi&aacute; cả c&oacute; thể biến động li&ecirc;n tục l&ecirc;n hoặc xuống. V&igrave; biến động gi&aacute; như vậy, khoản đầu tư của bạn c&oacute; thể tăng hoặc giảm gi&aacute; trị tại bất kỳ thời điểm n&agrave;o. Bất kỳ loại tiền tệ n&agrave;o - d&ugrave; ảo hay kh&ocirc;ng - c&oacute; thể bị thay đổi lớn về gi&aacute; trị v&agrave; thậm ch&iacute; c&oacute; thể trở th&agrave;nh v&ocirc; gi&aacute; trị. Lu&ocirc;n sẽ c&oacute; rủi ro khi bạn mua, b&aacute;n, kinh doanh bất cứ thứ g&igrave; tr&ecirc;n thị trường. Do đ&oacute; bạn cần phải tự chịu tr&aacute;ch nhiệm tr&ecirc;n khoản đầu tư của m&igrave;nh l&agrave; lời hay lỗ.</p>
                    <p style="font-weight: 400;">2.2. Giao dịch Tiền thuật to&aacute;n cũng c&oacute; những rủi ro đặc biệt kh&aacute;c c&aacute;c đồng tiền ch&iacute;nh thức v&agrave; h&agrave;ng h&oacute;a tr&ecirc;n thị trường. Kh&ocirc;ng giống như hầu hết c&aacute;c loại tiền tệ được hỗ trợ bởi c&aacute;c ch&iacute;nh phủ hoặc c&aacute;c tổ chức hợp ph&aacute;p kh&aacute;c hoặc bằng h&agrave;ng h&oacute;a như v&agrave;ng hay bạc, Tiền thuật to&aacute;n m&atilde; h&oacute;a l&agrave; một loại t&agrave;i sản ảo, được hỗ trợ bởi c&ocirc;ng nghệ v&agrave; sự tin tưởng. Kh&ocirc;ng c&oacute; ng&acirc;n h&agrave;ng trung ương n&agrave;o đứng ra c&oacute; thể tiến h&agrave;nh c&aacute;c biện ph&aacute;p khắc phục để bảo vệ gi&aacute; trị của tiền thuật to&aacute;n m&atilde; h&oacute;a trong một cuộc khủng hoảng hoặc in ra nhiều tiền hơn.</p>
                    <p style="font-weight: 400;">2.3. Thay v&agrave;o đ&oacute;, Tiền thuật to&aacute;n m&atilde; h&oacute;a l&agrave; loại t&agrave;i sản m&agrave; tr&ecirc;n to&agrave;n thế giới chưa bị quản l&yacute; v&agrave; kh&ocirc;ng bị kiểm so&aacute;t bởi c&aacute;c tổ chức v&agrave; c&aacute; nh&acirc;n. Nh&agrave; đầu tư đặt niềm tin v&agrave;o một hệ thống kỹ thuật số kh&ocirc;ng tập trung, v&ocirc; danh v&agrave; dựa tr&ecirc;n mạng ngang h&agrave;ng v&agrave; m&atilde; ho&aacute; để duy tr&igrave; t&iacute;nh to&agrave;n vẹn của n&oacute;.</p>
                    <p style="font-weight: 400;">2.4. Giao dịch Tiền thuật to&aacute;n m&atilde; h&oacute;a rất dễ bị ảnh hưởng bởi c&aacute;c bong b&oacute;ng hoặc mất niềm tin d&ugrave; hợp l&yacute; hoặc bất hợp l&yacute;, m&agrave; c&oacute; thể sụp đổ. V&iacute; dụ, niềm tin v&agrave;o Tiền thuật to&aacute;n m&atilde; h&oacute;a c&oacute; thể sụp đổ v&igrave; những thay đổi bất ngờ &aacute;p đặt bởi c&aacute;c nh&agrave; ph&aacute;t triển phần mềm hoặc những người kh&aacute;c, một sự thay đổi ph&aacute;p l&yacute; của ch&iacute;nh phủ, việc ra đời c&aacute;c loại tiền tệ m&atilde; ho&aacute; kh&aacute;c tốt hơn, hoặc giảm ph&aacute;t. Sự tự tin cũng c&oacute; thể sụp đổ v&igrave; những vấn đề kỹ thuật: nếu t&iacute;nh ẩn danh hệ thống bị tổn hại, nếu tiền bị mất hoặc bị đ&aacute;nh cắp, hoặc nếu tin tặc hoặc c&aacute;c ch&iacute;nh phủ c&oacute; thể ngăn chặn c&aacute;c giao dịch.</p>
                    <p style="font-weight: 400;">2.5. Sự tẩy chay đồng loạt của cộng đồng tiền thuật to&aacute;n m&atilde; h&oacute;a cũng l&agrave; 1 rủi ro kh&ocirc;ng nhỏ, n&oacute; c&oacute; thể đẩy gi&aacute; của loại tiền bạn đang sở hữu xuống mức cực thấp.</p>
                    <p style="font-weight: 400;">2.6.Việc tự bảo mật t&agrave;i khoản của bạn cũng l&agrave; 1 vấn đề rủi ro, VINAEX&nbsp;&nbsp;kh&ocirc;ng đảm bảo cho sự lơ l&agrave;, sự hời hợt trong vấn đề bảo mật t&agrave;i khoản của c&aacute;c bạn. VINAEX cũng kh&ocirc;ng đảm bảo cho việc bị c&aacute;c tin tặc tấn c&ocirc;ng g&acirc;y ra mất m&aacute;c t&agrave;i sản của bạn.</p>
                    <p style="font-weight: 400;">2.7. C&oacute; thể tồn tại c&aacute;c rủi ro kh&aacute;c m&agrave; ch&uacute;ng t&ocirc;i đ&atilde; kh&ocirc;ng lường trước hoặc x&aacute;c định trong điều khoản sử dụng.</p>
                    <p style="font-weight: 400;">2.8. Bạn n&ecirc;n cẩn thận đ&aacute;nh gi&aacute; xem t&igrave;nh h&igrave;nh t&agrave;i ch&iacute;nh v&agrave; khả năng chịu rủi ro của bạn để c&oacute; lựa chọn th&iacute;ch hợp trong việc mua, b&aacute;n, giao dịch Tiền thuật to&aacute;n m&atilde; h&oacute;a.</p>
                    <p style="font-weight: 400;">2.9. Ch&uacute;ng t&ocirc;i sử dụng c&aacute;c dịch vụ ng&acirc;n h&agrave;ng để nhận được tiền gửi từ kh&aacute;ch h&agrave;ng v&agrave; thực hiện thanh to&aacute;n. C&aacute;c ng&acirc;n h&agrave;ng của ch&uacute;ng t&ocirc;i KH&Ocirc;NG chuyển Tiền thuật to&aacute;n m&atilde; h&oacute;a, trao đổi Tiền thuật to&aacute;n m&atilde; h&oacute;a, hoặc cung cấp bất kỳ dịch vụ n&agrave;o li&ecirc;n quan tới Tiền thuật to&aacute;n m&atilde; h&oacute;a.</p>
                    <p style="font-weight: 400;"><strong><strong>III. QUYỀN HẠN V&Agrave; NGHĨA VỤ:</strong></strong></p>
                    <p style="font-weight: 400;">3.1. Trừ trường hợp quy định ri&ecirc;ng, tất cả c&aacute;c t&agrave;i liệu tr&ecirc;n trang web n&agrave;y l&agrave; t&agrave;i sản của VINAEX v&agrave; được bảo vệ bởi bản quyền, thương hiệu v&agrave; ph&aacute;p luật. Bạn c&oacute; thể xem, in v&agrave;/hoặc tải về một bản sao của c&aacute;c t&agrave;i liệu từ trang web n&agrave;y tr&ecirc;n bất kỳ m&aacute;y t&iacute;nh n&agrave;o để phục vụ duy nhất cho mục đ&iacute;ch c&aacute; nh&acirc;n, mục đ&iacute;ch t&igrave;m hiểu th&ocirc;ng tin, hoặc sử dụng phi thương mại của bạn, miễn l&agrave; bạn giữ nguy&ecirc;n tất cả quyền t&aacute;c giả v&agrave; quyền sở hữu.</p>
                    <p style="font-weight: 400;">3.2. C&aacute;c thương hiệu, nh&atilde;n hiệu dịch vụ, biểu tượng của VINAEX v&agrave; những người kh&aacute;c được sử dụng trong trang web n&agrave;y ("Thương hiệu") l&agrave; t&agrave;i sản của VINAEX v&agrave; c&aacute;c chủ sở hữu tương ứng. Phần mềm, văn bản, h&igrave;nh ảnh, đồ họa, dữ liệu, tỉ gi&aacute;, giao dịch, biểu đồ, đồ thị, video v&agrave; &acirc;m thanh được sử dụng tr&ecirc;n trang web n&agrave;y thuộc về VINAEX. C&aacute;c nh&atilde;n hiệu h&agrave;ng ho&aacute; v&agrave; t&agrave;i liệu kh&ocirc;ng được sao ch&eacute;p, sửa đổi, tải l&ecirc;n, đăng, truyền tải, thu thập hoặc ph&acirc;n phối dưới mọi h&igrave;nh thức hoặc bằng bất kỳ phương tiện, cho d&ugrave; bằng tay hoặc tự động. Việc sử dụng bất kỳ t&agrave;i liệu n&agrave;o tr&ecirc;n bất kỳ trang web kh&aacute;c hay m&aacute;y t&iacute;nh nối mạng cho bất kỳ mục đ&iacute;ch n&agrave;o kh&aacute;c đều bị nghi&ecirc;m cấm; sử dụng tr&aacute;i ph&eacute;p như vậy c&oacute; thể vi phạm bản quyền, thương hiệu v&agrave; c&oacute; thể dẫn đến h&igrave;nh phạt h&igrave;nh sự hoặc d&acirc;n sự.</p>
                    <p style="font-weight: 400;">3.3. Bạn đồng &yacute; sử dụng dịch vụ của VINAEX như l&agrave; 1 nơi trung gian đ&aacute;ng tin cậy để bạn an t&acirc;m thực hiện giao dịch mua hoặc b&aacute;n tiền thuật to&aacute;n m&atilde; h&oacute;a của bạn, VINAEX kh&ocirc;ng phải l&agrave; đơn vị giao dịch mua b&aacute;n hoặc thanh to&aacute;n bằng tiền thuật to&aacute;n m&atilde; h&oacute;a trực tiếp cũng như gi&aacute;n tiếp với bạn. Bạn sử dụng dịch vụ của VINAEX để mua hoặc b&aacute;n t&agrave;i sản ảo của bạn với mục đ&iacute;ch c&aacute; nh&acirc;n của bạn kh&ocirc;ng li&ecirc;n quan đến VINAEX.</p>
                    <p style="font-weight: 400;"><strong><strong>IV. QUY ĐỊNH BẢO MẬT</strong></strong></p>
                    <p style="font-weight: 400;">4.1. Trang web n&agrave;y chỉ d&agrave;nh cho c&aacute; nh&acirc;n. Ch&uacute;ng t&ocirc;i cảnh gi&aacute;c trong việc duy tr&igrave; t&iacute;nh bảo mật của trang web v&agrave; Dịch vụ. Bằng c&aacute;ch đăng k&yacute; với ch&uacute;ng t&ocirc;i, bạn đ&atilde; đồng &yacute; cung cấp VINAEX c&aacute;c th&ocirc;ng tin hiện tại, ch&iacute;nh x&aacute;c v&agrave; đầy đủ về bản th&acirc;n theo hướng dẫn trong qu&aacute; tr&igrave;nh đăng k&yacute;, v&agrave; để giữ cho c&aacute;c th&ocirc;ng tin đ&oacute; được cập nhật. Th&ecirc;m nữa, bạn đồng &yacute; rằng bạn sẽ kh&ocirc;ng sử dụng bất kỳ t&agrave;i khoản n&agrave;o kh&ocirc;ng phải l&agrave; của ri&ecirc;ng m&igrave;nh bạn, hoặc truy cập v&agrave;o t&agrave;i khoản của bất kỳ th&agrave;nh vi&ecirc;n kh&aacute;c bất cứ l&uacute;c n&agrave;o, hoặc gi&uacute;p đỡ người kh&aacute;c trong việc tiếp cận tr&aacute;i ph&eacute;p.</p>
                    <p style="font-weight: 400;">4.2. Việc tạo ra hoặc sử dụng t&agrave;i khoản m&agrave; kh&ocirc;ng c&oacute; sự cho ph&eacute;p r&otilde; r&agrave;ng từ VINAEX sẽ dẫn đến việc đ&igrave;nh chỉ ngay lập tức tất cả c&aacute;c t&agrave;i khoản của bạn, cũng như tất cả c&aacute;c giao dịch mua/b&aacute;n chưa ho&agrave;n tất. Bất kỳ việc thử l&agrave;m như vậy hay gi&uacute;p đỡ người kh&aacute;c (th&agrave;nh vi&ecirc;n hay c&aacute;ch kh&aacute;c), hoặc ph&aacute;t t&aacute;n c&aacute;c hướng dẫn, phần mềm hoặc c&aacute;c c&ocirc;ng cụ cho mục đ&iacute;ch đ&oacute;, sẽ dẫn đến việc t&agrave;i khoản của th&agrave;nh vi&ecirc;n đ&oacute; bị chấm dứt. Chấm dứt kh&ocirc;ng phải l&agrave; biện ph&aacute;p khắc phục duy nhất cho một h&agrave;nh vi vi phạm như vậy, v&agrave; VINAEX c&oacute; thể truy tố bạn.</p>
                    <p style="font-weight: 400;">4.3. Bạn cũng c&oacute; tr&aacute;ch nhiệm giữ b&iacute; mật th&ocirc;ng tin t&agrave;i khoản của bạn, bao gồm cả mật khẩu, bảo vệ Tiền thuật to&aacute;n m&atilde; h&oacute;a của ri&ecirc;ng bạn, v&agrave; bao gồm tất cả c&aacute;c hoạt động giao dịch trong t&agrave;i khoản của bạn. Nếu c&oacute; hoạt động đ&aacute;ng ngờ li&ecirc;n quan đến t&agrave;i khoản của bạn, ch&uacute;ng t&ocirc;i c&oacute; thể, nhưng kh&ocirc;ng bắt buộc, y&ecirc;u cầu th&ecirc;m th&ocirc;ng tin từ bạn, bao gồm cả t&agrave;i liệu x&aacute;c thực, v&agrave; đ&oacute;ng băng bất kỳ giao dịch đang chờ xem x&eacute;t. Bạn c&oacute; nghĩa vụ tu&acirc;n thủ c&aacute;c y&ecirc;u cầu an ninh, hoặc chấp nhận chấm dứt t&agrave;i khoản của bạn. Bạn phải th&ocirc;ng b&aacute;o cho VINAEX ngay lập tức bất kỳ nếu c&oacute; việc sử dụng tr&aacute;i ph&eacute;p t&agrave;i khoản hoặc mật khẩu của bạn, hoặc bất kỳ vi phạm bảo mật bằng c&aacute;ch gửi email đến&nbsp;<a href="mailto:support@bitxmen.com">support@VINAEX.com</a>&nbsp;.&nbsp;Bất kỳ th&agrave;nh vi&ecirc;n n&agrave;o vi phạm quy tắc c&oacute; thể bị chấm dứt t&agrave;i khoản, v&agrave; sau đ&oacute; phải chịu tr&aacute;ch nhiệm về tổn thất ph&aacute;t sinh cho VINAEX hoặc bất kỳ người d&ugrave;ng kh&aacute;c của trang web.</p>
                    <p style="font-weight: 400;">4.4. Bạn đồng &yacute; rằng bạn sẽ kh&ocirc;ng sử dụng Dịch vụ để thực hiện hoạt động tội phạm, bao gồm nhưng kh&ocirc;ng giới hạn: rửa tiền, hoạt động cờ bạc bất hợp ph&aacute;p, t&agrave;i trợ khủng bố, hoặc hacking độc hại. Ch&uacute;ng t&ocirc;i sẽ b&aacute;o c&aacute;o tất cả c&aacute;c hoạt động phi ph&aacute;p cho c&aacute;c cơ quan thực thi ph&aacute;p luật.</p>
                    <p style="font-weight: 400;"><strong><strong>V. CHẤM DỨT</strong></strong></p>
                    <p style="font-weight: 400;">5.1. Bạn c&oacute; thể chấm dứt thỏa thuận n&agrave;y với VINAEX v&agrave; đ&oacute;ng t&agrave;i khoản của bạn bất cứ l&uacute;c n&agrave;o, sau khi giải quyết bất kỳ c&aacute;c giao dịch chưa ho&agrave;n th&agrave;nh.</p>
                    <p style="font-weight: 400;">5.2. Bạn cũng đồng &yacute; rằng VINAEX c&oacute; thể bằng c&aacute;ch th&ocirc;ng b&aacute;o, tuỳ &yacute; chấm dứt truy cập của bạn v&agrave;o trang web v&agrave; t&agrave;i khoản của bạn, bao gồm nhưng kh&ocirc;ng giới hạn: giới hạn, đ&igrave;nh chỉ hoặc chấm dứt dịch vụ v&agrave; t&agrave;i khoản th&agrave;nh vi&ecirc;n, cấm truy cập v&agrave;o trang web, dịch vụ v&agrave; c&aacute;c c&ocirc;ng cụ, chậm trễ hoặc loại bỏ c&aacute;c nội dung lưu trữ, v&agrave; thực hiện c&aacute;c bước kỹ thuật v&agrave; ph&aacute;p l&yacute; để giữ cho th&agrave;nh vi&ecirc;n ra khỏi trang web nếu ch&uacute;ng t&ocirc;i nghĩ rằng họ đang tạo ra vấn đề tr&aacute;ch nhiệm ph&aacute;p l&yacute; hoặc x&acirc;m phạm quyền sở hữu tr&iacute; tuệ của b&ecirc;n thứ ba, hoặc h&agrave;nh động kh&ocirc;ng nhất qu&aacute;n với quy định hoặc tinh thần của c&aacute;c Điều khoản. Ngo&agrave;i ra, ch&uacute;ng t&ocirc;i c&oacute; thể, t&ugrave;y từng trường hợp, đ&igrave;nh chỉ hoặc chấm dứt t&agrave;i khoản của c&aacute;c th&agrave;nh vi&ecirc;n v&igrave; những l&yacute; do bao gồm nhưng kh&ocirc;ng giới hạn: (1) cố gắng truy cập tr&aacute;i ph&eacute;p v&agrave;o c&aacute;c trang web hoặc t&agrave;i khoản kh&aacute;c của th&agrave;nh vi&ecirc;n hoặc hỗ trợ để người kh&aacute;c cố gắng l&agrave;m như vậy, (2) vượt qua t&iacute;nh năng bảo mật phần mềm hạn chế sử dụng hoặc bảo vệ nội dung, (3) sử dụng Dịch vụ để thực hiện c&aacute;c hoạt động bất hợp ph&aacute;p như rửa tiền, hoạt động cờ bạc bất hợp ph&aacute;p, khủng bố, hoặc c&aacute;c hoạt động tội phạm kh&aacute;c, (4) h&agrave;nh vi vi phạm c&aacute;c Điều khoản sử dụng, (5) kh&ocirc;ng trả tiền hoặc thanh to&aacute;n cho c&aacute;c giao dịch gian lận, (6) hoạt động kh&oacute; khăn bất ngờ, hoặc (7) theo y&ecirc;u cầu của cơ quan ph&aacute;p luật hoặc cơ quan ch&iacute;nh phủ kh&aacute;c.</p>
                    <p style="font-weight: 400;">5.3. Ch&uacute;ng t&ocirc;i cũng c&oacute; quyền hủy bỏ t&agrave;i khoản chưa được x&aacute;c nhận hoặc t&agrave;i khoản đ&atilde; kh&ocirc;ng hoạt động trong v&ograve;ng 6 th&aacute;ng trở l&ecirc;n, v&agrave;/hoặc sửa đổi hoặc ngừng trang web hoặc dịch vụ của ch&uacute;ng t&ocirc;i. C&aacute;c th&agrave;nh vi&ecirc;n đồng &yacute; rằng VINAEX sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm cho họ hoặc cho bất kỳ b&ecirc;n thứ ba cho việc chấm dứt t&agrave;i khoản hoặc truy cập v&agrave;o c&aacute;c trang web của họ.</p>
                    <p style="font-weight: 400;">5.4. Việc tạm đ&igrave;nh chỉ một t&agrave;i khoản sẽ kh&ocirc;ng ảnh hưởng đến việc thanh to&aacute;n tiền hoa hồng do cho giao dịch trong qu&aacute; khứ. Khi chấm dứt, th&agrave;nh vi&ecirc;n sẽ gửi th&ocirc;ng tin t&agrave;i khoản ng&acirc;n h&agrave;ng hợp lệ cho ch&uacute;ng t&ocirc;i để gửi trả lại tiền dư v&agrave;o t&agrave;i khoản của họ. T&agrave;i khoản ng&acirc;n h&agrave;ng đ&oacute; phải l&agrave; của ch&iacute;nh th&agrave;nh vi&ecirc;n bị đ&igrave;nh chỉ. Tiền thuật to&aacute;n m&atilde; h&oacute;a khi được chuyển v&agrave;o một t&agrave;i khoản ng&acirc;n h&agrave;ng chỉ c&oacute; gi&aacute; trị sau khi chuyển đổi sang một đồng tiền. VINAEX sẽ chuyển tiền sớm nhất c&oacute; thể theo y&ecirc;u cầu của th&agrave;nh vi&ecirc;n trong khung thời gian quy định của VINAEX.</p>
                    <p style="font-weight: 400;">5.5. VINAEX sẽ gửi cho bạn số dư t&agrave;i khoản của bạn, tuy nhi&ecirc;n trong nhiều trường hợp bạn sẽ mất th&ecirc;m ph&iacute; thanh to&aacute;n quốc tế của ng&acirc;n h&agrave;ng thụ hưởng khi chuyển tiền. Ch&uacute;ng t&ocirc;i sẽ sử dụng những nỗ lực hợp l&yacute; để đảm bảo rằng c&aacute;c chi ph&iacute; đ&oacute; được tiết lộ cho bạn trước khi gửi thanh to&aacute;n của bạn, tuy nhi&ecirc;n khi kh&ocirc;ng thể tr&aacute;nh được những chi ph&iacute; đ&oacute;, Bạn thừa nhận rằng c&aacute;c khoản ph&iacute; kh&ocirc;ng thể lu&ocirc;n lu&ocirc;n được t&iacute;nh to&aacute;n trước, v&agrave; bạn đồng &yacute; chịu tr&aacute;ch nhiệm về c&aacute;c chi ph&iacute; đ&oacute;.</p>
                    <p style="font-weight: 400;"><strong><strong>VI. LU&Ocirc;N TRỰC TUYẾN</strong></strong></p>
                    <p style="font-weight: 400;">6.1. Tất cả c&aacute;c dịch vụ được cung cấp đều kh&ocirc;ng c&oacute; bảo h&agrave;nh, d&ugrave; thể hiện r&otilde; r&agrave;ng hay ngụ &yacute;. Ch&uacute;ng t&ocirc;i kh&ocirc;ng bảo đảm rằng trang web n&agrave;y sẽ c&oacute; 100% thời gian trực tuyến để đ&aacute;p ứng nhu cầu của bạn. Ch&uacute;ng t&ocirc;i sẽ cố gắng để cung cấp với dịch vụ c&agrave;ng sớm c&agrave;ng tốt nhưng kh&ocirc;ng c&oacute; bảo đảm rằng việc truy cập sẽ kh&ocirc;ng bị gi&aacute;n đoạn, hoặc sẽ kh&ocirc;ng c&oacute; sự chậm trễ, thất bại, lỗi, thiếu s&oacute;t hoặc mất th&ocirc;ng tin truyền đi.</p>
                    <p style="font-weight: 400;">6.2. Ch&uacute;ng t&ocirc;i sẽ sử dụng những nỗ lực hợp l&yacute; để đảm bảo rằng c&aacute;c trang web thường c&oacute; thể được truy cập được. Ch&uacute;ng t&ocirc;i c&oacute; thể đ&igrave;nh chỉ việc sử dụng c&aacute;c trang web để bảo tr&igrave; v&agrave; sẽ nỗ lực hợp l&yacute; để th&ocirc;ng b&aacute;o cho bạn. Bạn thừa nhận rằng điều n&agrave;y c&oacute; thể kh&ocirc;ng c&oacute; thể c&oacute; trong trường hợp khẩn cấp.</p>
                    <p style="font-weight: 400;"><strong><strong>VII. C&Aacute;C API V&Agrave; WIDGET</strong></strong></p>
                    <p style="font-weight: 400;">Ch&uacute;ng t&ocirc;i c&oacute; thể cung cấp quyền truy cập v&agrave;o b&ecirc;n nhất định để truy cập dữ liệu v&agrave; th&ocirc;ng tin cụ thể th&ocirc;ng t&ocirc;i (qua API của ch&uacute;ng Application Programming Interface) hoặc th&ocirc;ng qua c&aacute;c widget. Ch&uacute;ng t&ocirc;i cũng c&oacute; thể cung cấp c&aacute;c widget để đưa dữ liệu của ch&uacute;ng t&ocirc;i tr&ecirc;n trang web của bạn.</p>
                    <p style="font-weight: 400;"><strong><strong>VIII. LI&Ecirc;N KẾT NGO&Agrave;I</strong></strong></p>
                    <p style="font-weight: 400;">VINAEX kh&ocirc;ng đại diện về bất kỳ trang web n&agrave;o kh&aacute;c m&agrave; bạn c&oacute; thể truy cập th&ocirc;ng qua trang web http//www.vinaex.io n&agrave;y. Trang web c&oacute; thể cung cấp li&ecirc;n kết đến c&aacute;c trang web kh&aacute;c ("Trang Web ngoại") hoặc t&agrave;i nguy&ecirc;n m&agrave; ch&uacute;ng t&ocirc;i kh&ocirc;ng c&oacute; quyền kiểm so&aacute;t ("Trang Web ngoại"). Trong trường hợp n&agrave;y bạn thừa nhận rằng VINAEX đang cung cấp những li&ecirc;n kết cho bạn chỉ như l&agrave; một tiện nghi. VINAEX kh&ocirc;ng chịu tr&aacute;ch nhiệm cho nội dung được cung cấp tr&ecirc;n trang web của b&ecirc;n thứ ba. Bạn được y&ecirc;u cầu xem x&eacute;t lại c&aacute;c ch&iacute;nh s&aacute;ch được đăng bởi trang web kh&aacute;c li&ecirc;n quan đến sự ri&ecirc;ng tư v&agrave; c&aacute;c chủ đề kh&aacute;c trước khi sử dụng. VINAEX kh&ocirc;ng chịu tr&aacute;ch nhiệm nội dung của b&ecirc;n thứ ba truy cập th&ocirc;ng qua trang web, bao gồm cả &yacute; kiến, tư vấn, b&aacute;o c&aacute;o, gi&aacute; cả, hoạt động v&agrave; quảng c&aacute;o, v&agrave; bạn phải chịu mọi rủi ro li&ecirc;n quan với việc sử dụng c&aacute;c nội dung như vậy. Tuỳ v&agrave;o bạn m&agrave; bạn c&oacute; thể c&oacute; c&aacute;c biện ph&aacute;p ph&ograve;ng ngừa để đảm bảo rằng bất cứ điều g&igrave; bạn chọn để sử dụng kh&ocirc;ng c&oacute; virus, trojan v&agrave; c&aacute;c nội dung c&oacute; t&iacute;nh chất ph&aacute; hoại.</p>
                    <p style="font-weight: 400;"><strong><strong>IX. LỜI KHUY&Ecirc;N T&Agrave;I CH&Iacute;NH</strong></strong></p>
                    <p style="font-weight: 400;">Để tr&aacute;nh sự nghi ngờ, ch&uacute;ng t&ocirc;i kh&ocirc;ng cung cấp bất kỳ tư vấn đầu tư n&agrave;o tr&ecirc;n trang Web. Ch&uacute;ng t&ocirc;i c&oacute; thể cung cấp th&ocirc;ng tin về gi&aacute;, phạm vi, biến động của Tiền thuật to&aacute;n m&atilde; h&oacute;a v&agrave; c&aacute;c sự kiện đ&atilde; ảnh hưởng đến gi&aacute; của Tiền thuật to&aacute;n m&atilde; h&oacute;a nhưng điều n&agrave;y kh&ocirc;ng được coi l&agrave; tư vấn đầu tư v&agrave; kh&ocirc;ng n&ecirc;n được hiểu như vậy. Bất kỳ quyết định mua hoặc b&aacute;n Tiền thuật to&aacute;n m&atilde; h&oacute;a l&agrave; quyết định của bạn v&agrave; ch&uacute;ng t&ocirc;i sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm về bất kỳ tổn thất phải chịu đựng.</p>
                    <p style="font-weight: 400;"><strong><strong>X. QUY CHẾ T&Agrave;I CH&Iacute;NH</strong></strong></p>
                    <p style="font-weight: 400;">M&ocirc; h&igrave;nh kinh doanh của ch&uacute;ng t&ocirc;i, v&agrave; dịch vụ của ch&uacute;ng t&ocirc;i, bao gồm: tạo điều kiện cho việc mua, b&aacute;n, kinh doanh Tiền thuật to&aacute;n m&atilde; h&oacute;a của tất cả c&aacute;c th&agrave;nh vi&ecirc;n của VINAEX.</p>
                    <p style="font-weight: 400;"><strong><strong>XI. THƯ ĐIỆN TỬ</strong></strong></p>
                    <p style="font-weight: 400;">Thư điện tử được gửi qua Internet l&agrave; kh&ocirc;ng an to&agrave;n v&agrave; VINAEX kh&ocirc;ng chịu tr&aacute;ch nhiệm cho bất kỳ thiệt hại ph&aacute;t sinh do kết quả của việc gửi thư điện tử qua Internet. Ch&uacute;ng t&ocirc;i khuy&ecirc;n bạn n&ecirc;n gửi email trong c&aacute;c định dạng m&atilde; h&oacute;a, bạn được ch&agrave;o đ&oacute;n để gửi email m&atilde; h&oacute;a PGP cho ch&uacute;ng t&ocirc;i. C&aacute;c hướng dẫn để l&agrave;m như vậy sẽ được cung cấp theo y&ecirc;u cầu.</p>
                    <p style="font-weight: 400;"><strong><strong>XII. GIỚI HẠN TR&Aacute;CH NHIỆM</strong></strong></p>
                    <p style="font-weight: 400;">12.1. Trong phạm vi ph&aacute;p luật cho ph&eacute;p, VINAEX sẽ kh&ocirc;ng phải chịu tr&aacute;ch nhiệm cho bất kỳ thiệt hại, mất m&aacute;t về lợi nhuận, doanh thu, tổn thất kinh doanh, mất cơ hội, mất dữ liệu, thiệt hại gi&aacute;n tiếp hoặc do hậu quả trừ khi sự mất m&aacute;t phải chịu ph&aacute;t sinh từ sự cẩu thả hoặc sự lừa dối c&oacute; chủ &yacute; gian lận. Kh&ocirc;ng c&oacute; g&igrave; trong c&aacute;c điều khoản n&agrave;y loại trừ hoặc giới hạn tr&aacute;ch nhiệm của một trong hai b&ecirc;n v&igrave; tội gian lận, tử vong hoặc thương t&iacute;ch c&aacute; nh&acirc;n g&acirc;y ra bởi sự sơ suất của m&igrave;nh, vi phạm c&aacute;c điều khoản v&agrave; luật ph&aacute;p, hoặc bất kỳ tr&aacute;ch nhiệm n&agrave;o kh&aacute;c c&oacute; thể kh&ocirc;ng được ph&aacute;p luật hạn chế hoặc loại trừ.</p>
                    <p style="font-weight: 400;">12.2. Tr&aacute;ch nhiệm của VINAEX đối với c&aacute;c khiếu nại dựa tr&ecirc;n c&aacute;c sự kiện ph&aacute;t sinh hoặc c&oacute; li&ecirc;n quan đến th&agrave;nh vi&ecirc;n của trang web v&agrave;/hoặc dịch vụ, cho d&ugrave; trong hợp đồng hoặc sai lầm c&aacute; nh&acirc;n (kể cả sơ suất), sẽ kh&ocirc;ng vượt qua một trong hai: (a) tổng số tiền nắm giữ ở t&agrave;i khoản tại c&aacute;c th&agrave;nh vi&ecirc;n đưa ra khiếu nại trừ đi lượng lợi nhuận của ch&uacute;ng t&ocirc;i dựa tr&ecirc;n t&agrave;i khoản đ&oacute;, hoặc (b) tổng số tiền giao dịch trong y&ecirc;u cầu bồi thường trừ đi lợi nhu&acirc;n của c&ocirc;ng ty từ c&aacute;c giao dịch đ&oacute;.</p>
                    <p style="font-weight: 400;"><strong><strong>XIII. BỒI THƯỜNG</strong></strong></p>
                    <p style="font-weight: 400;">Trong phạm vi đầy đủ luật ph&aacute;p cho ph&eacute;p, bạn đồng &yacute; bồi thường cho VINAEX v&agrave; c&aacute;c đối t&aacute;c của c&ocirc;ng ty cho bất kỳ h&agrave;nh động, tr&aacute;ch nhiệm, chi ph&iacute;, khiếu nại, tổn thất, thiệt hại, chi ph&iacute; tố tụng ph&aacute;t sinh nếu trực tiếp hoặc kh&ocirc;ng trực tiếp ph&aacute;t sinh từ việc bạn sử dụng Trang web của VINAEX, việc bạn sử dụng dịch vụ, hoặc từ việc bạn vi phạm c&aacute;c Điều khoản sử dụng.</p>
                    <p style="font-weight: 400;"><strong><strong>XIV. KH&Aacute;C</strong></strong></p>
                    <p style="font-weight: 400;">Nếu ch&uacute;ng t&ocirc;i kh&ocirc;ng thể thực hiện c&aacute;c dịch vụ được n&ecirc;u trong Điều khoản sử dụng do c&aacute;c yếu tố ngo&agrave;i tầm kiểm so&aacute;t của ch&uacute;ng t&ocirc;i, bao gồm nhưng kh&ocirc;ng giới hạn trong một sự kiện bất khả kh&aacute;ng, sự thay đổi của ph&aacute;p luật hoặc thay đổi trong ch&iacute;nh s&aacute;ch, ch&uacute;ng t&ocirc;i sẽ kh&ocirc;ng c&oacute; bất kỳ tr&aacute;ch nhiệm ph&aacute;p l&yacute; cho bạn đối với Dịch vụ cung cấp theo thỏa thuận n&agrave;y v&agrave; cho một khoảng thời gian tr&ugrave;ng với sự kiện n&agrave;y.</p>
                    <p style="font-weight: 400;"><strong><strong>XV. SỮA ĐỔI BỔ SUNG C&Aacute;C ĐIỀU KHOẢN</strong></strong></p>
                    <p style="font-weight: 400;">VINAEX c&oacute; quyền thay đổi, th&ecirc;m hoặc loại bỏ c&aacute;c phần của c&aacute;c Điều khoản, bất cứ l&uacute;c n&agrave;o. Bạn sẽ được th&ocirc;ng b&aacute;o về bất kỳ thay đổi n&agrave;o th&ocirc;ng qua t&agrave;i khoản của bạn. Sau khi th&ocirc;ng b&aacute;o như vậy, bạn c&oacute; tr&aacute;ch nhiệm xem x&eacute;t c&aacute;c điều khoản sửa đổi. Tiếp tục sử dụng dịch vụ sau khi đăng th&ocirc;ng b&aacute;o về những thay đổi trong Điều khoản c&oacute; nghĩa l&agrave; bạn chấp nhận v&agrave; đồng &yacute; với những thay đổi, v&agrave; tất cả c&aacute;c giao dịch tiếp theo của bạn sẽ tu&acirc;n theo Điều khoản sửa đổi.</p>
                    <p style="font-weight: 400;"><strong><strong>ĐỊNH NGHĨA</strong></strong></p>
                    <p style="font-weight: 400;">Tiền thuật to&aacute;n m&atilde; h&oacute;a: l&agrave; đồng tiền m&atilde; ho&aacute; được m&ocirc; tả tại http:VINAEX.IO</p>
                    <p style="font-weight: 400;">Người mua: l&agrave; th&agrave;nh vi&ecirc;n đề nghị mua Tiền thuật to&aacute;n m&atilde; h&oacute;a th&ocirc;ng qua Dịch vụ.</p>
                    <p style="font-weight: 400;">Lợi nhuận: đề cập đến c&aacute;c lệ ph&iacute; được trả cho VINAEX tr&ecirc;n mỗi giao dịch, chẳng hạn như một giao dịch mua Tiền thuật to&aacute;n m&atilde; h&oacute;a.</p>
                    <p style="font-weight: 400;">Th&agrave;nh vi&ecirc;n: c&oacute; nghĩa l&agrave; người mua v&agrave; người b&aacute;n cũng như người giữ t&agrave;i khoản.</p>
                    <p style="font-weight: 400;">Gi&aacute;: l&agrave; "gi&aacute; mỗi đồng tiền" m&agrave; th&agrave;nh vi&ecirc;n sẵn s&agrave;ng mua hoặc b&aacute;n Tiền thuật to&aacute;n m&atilde; h&oacute;a, sử dụng dịch vụ trong một giao dịch Tiền thuật to&aacute;n m&atilde; h&oacute;a. Gi&aacute; c&oacute; thể được thể hiện bằng bất kỳ tiền tệ được nạp bởi th&agrave;nh vi&ecirc;n trong t&agrave;i khoản của họ v&agrave; được hỗ trợ bởi dịch vụ.</p>
                    <p style="font-weight: 400;">Người b&aacute;n: l&agrave; th&agrave;nh vi&ecirc;n đề nghị b&aacute;n Tiền thuật to&aacute;n m&atilde; h&oacute;a th&ocirc;ng qua Dịch vụ.</p>
                    <p style="font-weight: 400;">Dịch vụ: l&agrave; nền tảng c&ocirc;ng nghệ, quy định chức năng v&agrave; thị trường của C&ocirc;ng ty TNHH Tư Vấn Đầu Tư VINAEX quản l&yacute; để cho ph&eacute;p b&aacute;n v&agrave; người mua thực hiện c&aacute;c giao dịch mua b&aacute;n Tiền thuật to&aacute;n m&atilde; h&oacute;a.</p>
                    <p style="font-weight: 400;">Giao dịch: l&agrave; (i) thỏa thuận giữa người mua v&agrave; người b&aacute;n để trao đổi Tiền thuật to&aacute;n m&atilde; h&oacute;a th&ocirc;ng qua Dịch vụ tiền tệ tỉ gi&aacute; nhất định ("Giao dịch Tiền thuật to&aacute;n m&atilde; h&oacute;a"), (ii) việc chuyển đổi của đồng tiền v&agrave;o Tiền thuật to&aacute;n m&atilde; h&oacute;a gửi bởi th&agrave;nh vi&ecirc;n tr&ecirc;n t&agrave;i khoản của họ ("giao dịch chuyển đổi" ), (iii) việc chuyển giao Tiền thuật to&aacute;n m&atilde; h&oacute;a giữa c&aacute;c th&agrave;nh vi&ecirc;n ("Tiền thuật to&aacute;n m&atilde; h&oacute;a chuyển giao dịch"), (iv) di chuyển tiền tệ giữa c&aacute;c th&agrave;nh vi&ecirc;n ("Giao dịch đổi tiền tệ") v&agrave; (v) mua c&aacute;c sản phẩm phụ trợ ("Giao dịch mua"). VINAEX c&oacute; thể kh&ocirc;ng cung cấp tất cả c&aacute;c loại giao dịch tại thời điểm n&agrave;y hoặc trong tất cả mọi nơi.</p>
                    <p style="font-weight: 400;">Gi&aacute; giao dịch: l&agrave; tổng gi&aacute; thanh to&aacute;n của người mua đối với từng giao dịch thực hiện th&ocirc;ng qua Dịch vụ.</p>
                    <p style="font-weight: 400;"><strong><strong>LI&Ecirc;N HỆ</strong></strong></p>
                    <p style="font-weight: 400;"><strong><strong>Nếu bạn c&oacute; bất kỳ c&acirc;u hỏi li&ecirc;n quan đến c&aacute;c điều khoản sử dụng, quyền v&agrave; nghĩa vụ ph&aacute;t sinh từ c&aacute;c Điều khoản v&agrave;/hoặc sử dụng của bạn tr&ecirc;n trang v&agrave; Dịch vụ, t&agrave;i khoản</strong></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

