﻿@using Narnia.Web.Areas.Admin.Models.Payments;
@model GatewayAccountModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model.Id > 0)
                    {
                        <div class="margin-bottom">
                            <em> Edit gateway account - @Model.AccName</em>
                        </div>
                    }
                    else
                    {
                        <div class="margin-bottom">
                            <em> Add new gateway account</em>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="GatewayId" />
                        </div>
                        <div class="col-md-9">
                            <narnia-select asp-for="GatewayId" asp-items="@ViewBag.AVailableGateways" asp-multiple="false" asp-valuetype="string" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="AccName" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="AccName" />
                            <span asp-validation-for="AccName"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="Description" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="Description" />
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="IsSystemAccount" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="IsSystemAccount" asp-disabled="true"/>
                            @Html.HiddenFor(m => m.IsSystemAccount)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>












