﻿@using Narnia.Web.Areas.Admin.Models.Payments;
@model GatewayAccountModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("GatewayAccounts");
}

<form asp-controller="GatewayAccount" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit Gateway Account - @Model.AccName
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Back</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save And Continue
            </button>
            <span id="gateway-account-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Delete
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<narnia-delete-confirmation asp-model-id="@Model.Id" asp-button-id="gateway-account-delete" />
