﻿@using Narnia.Web.Areas.Admin.Models.Payments;
@model GatewayAccountSearchModel
@{
    ViewBag.Title = "Gateway Accounts";
    Html.SetActiveMenuItemSystemName("GatewayAccounts");
}
<narnia-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        Gateway Accounts
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add New
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="StartDate" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="StartDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="EndDate" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="EndDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="UserName" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="UserName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="AccountType" />
                                </div>
                                <div class="col-md-8">
                                    @Html.RadioButtonFor(m => m.AccountType, 0)<span>Normal</span>
                                    @Html.RadioButtonFor(m => m.AccountType, 1)<span>System</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="search-gatewayaccounts" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="templates-grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#templates-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "GatewayAccount"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = {
                                                    AccountType: $('input[name=AccountType]:checked').val(),
                                                    StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                                    EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                                    UserName: $('#@Html.IdFor(model => model.UserName)').val()
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        }
                                    },
                                    schema: {
                                        data: "data",
                                        total: "total",
                                        errors: "errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "accName",
                                        title: "Account Name"
                                    },
                                    {
                                        field: "assetTypeId",
                                        title: "Asset Type"
                                    },
                                    {
                                        field: "createdDate",
                                        title: "Created On"
                                    },
                                    {
                                        field: "id",
                                        title: "Edit",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="Edit/#=id#"><i class="fa fa-pencil"></i>Edit</a>'
                                    }
                                ]
                            });
                        });
                    </script>
                    <script>
                        $(document).ready(function () {
                            //search button
                            $('#search-gatewayaccounts').click(function () {
                                //search
                                var grid = $('#templates-grid').data('kendoGrid');
                                grid.dataSource.read();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>










