﻿@using Narnia.Web.Areas.Admin.Models.Messaging
@model MessageTemplateModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="margin-bottom">
                        <em> Edit message template - @Model.Name</em>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="AllowedTokens" />
                        </div>
                        <div class="col-md-9">
                            <a id="allowedTokensShowHide" href="javascript:toggleLoadedAllowedTokens();">Show</a>
                            <div id="pnlAllowedTokens" style="display: none; white-space: pre-line">
                                <div class="form-text-row">@Model.AllowedTokens</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Name</div>
                            <input asp-for="Name" type="hidden" />
                        </div>
                    </div>
                    <script>
                        function toggleLoadedAllowedTokens() {
                            $('#pnlAllowedTokens').toggle();
                            if ($('#pnlAllowedTokens').css('display') == 'none') {
                                $('#allowedTokensShowHide').html('Show');
                            } else {
                                $('#allowedTokensShowHide').html('Hide');
                            }
                        }
                    </script>

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="Subject" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="Subject" asp-required="true" />
                            <span asp-validation-for="Subject"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="Body" />
                        </div>
                        <div class="col-md-9">
                            <div class="input-group input-group-required">
                                <narnia-editor asp-for="Body" asp-template="RichEditor" />
                                <div class="input-group-btn">
                                    <narnia-required />
                                </div>
                            </div>
                            <span asp-validation-for="Body"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="IsActive" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="IsActive" />
                            <span asp-validation-for="IsActive"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">Test</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary" onclick="setLocation('@(Url.Action("TestTemplate", new {id = Model.Id}))')">Test</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>












