﻿@using Narnia.Web.Areas.Admin.Models.Messaging;
@model MessageTemplateModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("MessageTemplates");
}
<form asp-controller="MessageTemplate" asp-action="Create" method="post" id="messagetemplate-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add New
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Back to List</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save And Continue
            </button>

        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>