﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("EmailAccounts");
}
<link href="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>

<link href="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<script src="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">All email accounts</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <a class="btn btn-danger" data-toggle="modal" href="javascript:void(0)" id="btn-add-emailaccount"> Add new <i class="fa fa-plus"></i> </a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <br />
        <table id="tb-setting" class="table table-bordered table-striped">
          
        </table>
    </div>
    <!-- /.box-body -->
</div>
<div id="frm-edit-emailaccount" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
                <div class="modal-content" id="edit-form">
                  
                </div>
            </div>
</div>
<script type="text/javascript">
    var resourceTable = null;
    function deleteResource(url) {
        if (confirm('Delete this record?')) {
            $.ajax({
                url: url,
                type: "post",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data) {
                        alert("Delete Successful");
                        resourceTable.ajax.reload();
                    } else {
                        alert("Delete Fail");
                    }
                },
                error: function (xhr, status, errThrow) {
                    alert(errThrow);
                }
            });
        } else {
            return false;       
        }
    }

    function getResource(url) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#edit-form").html(data);
                $("#frm-edit-emailaccount").modal("show");
            },
            error: function (xhr, status, errThrow) {
                alert(errThrow);
            }
        });
    }
    function parseDateColumn(data, type, fullObject) {
        if(data != null)
            return moment(data).format("DD/MM/YYYY HH:mm:ss");
        return "";
    }
    $(function () {
        $('#frm-edit-emailaccount').on('hidden.bs.modal', function (e) {
            //remove all html code:
            $("#edit-form").html('');
        })
        $("#btn-add-emailaccount").click(function () {
            var newItemUrl = '@Url.Action("Add")';
            getResource(newItemUrl);
        });
        
        resourceTable = $('#tb-setting').DataTable(
               {
                   paging: true,
                   ajax:
                   {
                       url: '@Url.Action("List")',
                       type: "POST",
                       contentType: "application/json; charset=utf-8"
                   },
                   "pageLength": 20,
                   "lengthMenu": [
                       [10, 15, 20, -1],
                       [10, 15, 20, "All"] // change per page values here
                   ],
                   columns: [
                       { title: "Id", data: "id" },
                       { title: "Email", data: "email" },
                       { title: "Display Name", data: "displayName" },
                       { title: "Host", data: "host" },
                     { title: "Port", data: "port" },
                       {
                           //Edit column
                           mRender: function (data, type, fullObject) {
                               var Id = fullObject.id;
                               var url = '@Url.Action("Edit")/?Id=' + Id;
                               return '<a id="btn-update" data-toggle="modal" onclick="getResource(\'' + url + '\')" href="javascript:void(0)" class="edit"> Edit </a>';
                           }
                       },
                       {
                           //Delete column
                           mRender: function (data, type, fullObject) {
                               var Id = fullObject.id;
                               var url = '@Url.Action("Delete")/?Id=' + Id;
                               return '<a class="delete" onclick="deleteResource(\'' + url + '\')" href="javascript:void(0)"> Delete </a>';
                           }
                       }
                   ]
               });
    });
</script>





<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Areas/Admin/assets/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->