﻿@model Narnia.Core.Models.WithdrawViewModel
@{
    ViewData["Title"] = "View";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Rút @Model.CoinCode</h2>
            </div>
            <div class="panel-body">
                <form asp-action="withdrawal" asp-controller="wallet" class="form-horizontal create-coin-withdrawal-form" name="frmWithDraw" novalidate="">
                    <div class="form-group">
                        <label for="" class="col-xs-4 col-md-3 control-label">Số dư khả dụng</label>
                        <div class="col-xs-7 col-md-4"><span class="form-control control-black available-balance" disabled="">@Model.Balance</span></div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-4 col-md-3" data-required="true" for="coin_address">
                            Ví @Model.CoinCode<span class="required-symbol"> *</span>
                        </label>
                        <div class="group-btc-address col-xs-7 col-md-4">
                            @Html.TextBoxFor(m => m.CoinWalletAddress, new { @class = "form-control", required = "required", autocomplete = "off" })
                            <span class="input-group-btn">
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="btc-amount has-in-help">
                            <label for="coin_amount" class="col-xs-4 col-md-3 control-label ">
                                Lượng @Model.CoinCode
                            </label>
                            <div class="col-xs-7 col-md-4">
                                @Html.TextBoxFor(m => m.WithdrawAmount, new { @class = "form-control", required = "required", autocomplete = "off", onkeypress = "return commonJs.allowNumberAndDot(event, this);" })
                                <div class="in-help">
                                    <span>Số @Model.CoinCode rút tối đa: &nbsp;</span><b class="coin_amount">@Model.MaximumWithdrawAmount</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @{
                            var showButtonCSS = @Model.Balance > 0 ? "" : "disabled";
                            <div class="col-xs-offset-3 col-xs-10"><button type="submit" class="btn btn-danger @showButtonCSS">Gửi</button></div>
                        }
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Lịch sử rút @Model.CoinCode</h4>
            </div>
            <div class="panel-body">
                @*<div>
            <div>
                <div class="text-center">
                    <div class="loading-bar"></div>
                </div>
                <div>
                    <div class="text-center">Bạn chưa yêu cầu rút trước đây</div>
                </div>
            </div>
        </div>*@
                @{ await Html.RenderPartialAsync("_HistoryWalletTransaction", 2);}
            </div>
        </div>

    </div>
</div>

<script src="~/js/coinWallet.js"></script>

