﻿@using Narnia.Web.Framework.UI;
@model string
@{
    Html.AddScriptParts("~/lib/ckeditor/ckeditor.js", excludeFromBundle: true);
}

<textarea name="@ViewData.TemplateInfo.HtmlFieldPrefix">@ViewData.TemplateInfo.FormattedModelValue</textarea>
<script>
  
    $(document).ready(function () { 
            var roxyFileman = '/lib/fileman/index.html';
            CKEDITOR.replace('@ViewData.TemplateInfo.HtmlFieldPrefix', {
            filebrowserBrowseUrl: roxyFileman,
            filebrowserImageBrowseUrl: roxyFileman + '?type=image',
            removeDialogTabs: 'link:upload;image:upload',
        });
   
        CKEDITOR.instances['@ViewData.TemplateInfo.HtmlFieldPrefix'].on('change', function () { CKEDITOR.instances['@ViewData.TemplateInfo.HtmlFieldPrefix'].updateElement() });
     });
    

</script>









