﻿@model int

<div class="row col-md-12">
    <br />
    <div class="box-body">
        <table id="tblTradeHistory_@Model" class="table table-bordered table-striped"></table>
    </div>
</div>

<script type="text/javascript">
    var resourceTable = null;
    $(function () {

        resourceTable = $('#tblTradeHistory_@Model').DataTable(
            {
                responsive: true,
                paging: true,
                serverSide: true,
                ajax:
                {
                    url: '/trades/trade-history',
                    type: "POST",
                    data: function (d) {
                        d.type = @Model;
                    }
                },
                "searching": false,
                "pageLength": 20,
                "lengthMenu": [
                    [10, 15, 20, 25, 50],
                    [10, 15, 20, 25, 50] // change per page values here
                ],
                columns: [
                    { title: "Stt", data: "transactionId" },
                    { title: "Mã giao dịch", data: "transactionCode" },
                    { title: "Tổng số tiền", data: "amountCoin" },
                    { title: "Loại tiền", data: "assetTypeId" },
                    { title: "User tạo", data: "userAdsId" },

                    { title: "Ngày tạo", data: "createdDateDisplay" }
                ]
            });

        //$("#btnSearch").click(function () {
        //    resourceTable.ajax.reload();
        //});
    });
</script>