﻿@{
    ViewData["Title"] = "Wallet";
}

<link href="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>

<link href="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<script src="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>

<div class="main-content">
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#pending">Giao dịch đang chờ xử lý</a></li>
            <li><a data-toggle="tab" href="#closed">Giao dịch bị hủy</a></li>
            <li><a data-toggle="tab" href="#completed">Giao dịch đã hoàn thành</a></li>
        </ul>

        <div class="tab-content">
            <div id="pending" class="tab-pane fade in active">
                @*<a class="contentLink" style="display: none;" data-loaded="0" asp-controller="Trades" asp-action="Active">Giao dịch đang chờ xử lý</a>
        <div class="content" ></div>*@

                @*@await Component.InvokeAsync("PendingTrade", null)*@
                @{await Html.RenderPartialAsync("_TradesHistory", 1);}
            </div>
            <div id="closed" class="tab-pane fade">
                @*@await Component.InvokeAsync("ClosedTrade", null)*@
                @{await Html.RenderPartialAsync("_TradesHistory", 2);}
            </div>
            <div id="completed" class="tab-pane fade">
                @{await Html.RenderPartialAsync("_TradesHistory", 3);}

            </div>
        </div>
    </div>
</div>  