﻿@using Newtonsoft.Json
@model string
@{
    string assetTypeId = JsonConvert.SerializeObject(Model);
}

<div class="col-xs-12 text-center">
    <h2 class="title-block">
        DANH SÁCH NGƯỜI MUA<br />
        <span class="checkbox">
            <input type="checkbox" id="chkShowOfflineBuyer"><label for="chkShowOfflineBuyer">Hiển thị cả người mua đang offline</label>
        </span>
    </h2>
</div>
<div class="col-xs-12">
    <ul class="list-offer buyer" id="buyer-panel"></ul>
    <div class="col-xs-12 no-padding text-center">
        <ul class="pagination" id="buy-pager"></ul>
    </div>
</div>

<script id="rpt-buy-item-tmpl" type="text/x-jsrender">
    {{if data.length > 0}}
    {{for data}}
    <li>
        <div class="col-xs-9 pull-left">
            <p>
                <span class="text-green">
                    <strong>
                        {{:~formatCurrency(coinPrice)}} {{:currencyName}}/
                    </strong>
                </span>
                <span class="text-orange"> {{:coinName}}</span> qua <span>{{:bankName}}</span>
            </p>
            <p>
                Tối đa: <i>
                    <strong class="text-red">
                        {{:~formatCurrency(amount)}}
                    </strong>
                </i> <span class="text-orange">{{:coiName}}</span>
            </p>
            <p><span class="fa fa-user-circle-o"></span><span class="text-uppercase"><a target="_blank" href="/Account/Profile?userid={{:userId}}">{{:userName}}</a> </span><span class="badge badge-buyer">giao dịch tức thì</span></p>
        </div>
        <div class="col-xs-3 pull-right no-padding"><a href="/offers/sell/{{:id}}" class="btn btn-buy">Bán</a></div>
    </li>
    {{/for}}
    {{else}}
    <li>
        <span>No data found</span>
    </li>
    {{/if}}
</script>

<script type="text/javascript">
    var assetType = @Html.Raw(@assetTypeId);

    $(document).ready(function () {
        var offlineBuyer = $('#chkShowOfflineBuyer').is(':checked');
        loadReportBuyer(offlineBuyer);

        $('#chkShowOfflineBuyer').click(function () {
            loadReportBuyer(this.checked);
        });
    });

    function loadReportBuyer(offlineBuyer) {
        var buyReport = new BuySellReport(2, assetType, offlineBuyer, { pagingPanel: "#buy-pager", rptItemContainer: "#buyer-panel", tmplRptItem: "#rpt-buy-item-tmpl" });
        buyReport.init();
        buyReport.loadData();
    }
</script>