﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theme coin</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/exchangeoffer.css">
    @*<link rel="stylesheet" type="text/css" href="css/style.css">*@
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />

    
</head>
<body>
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validate/jquery.validate-v1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/exchangeoffer.js"></script>
@*<script type="text/javascript" src="js/npm.js"></script>*@
<script type="text/javascript" src="~/js/fontawesome.min.js"></script>
<script src="~/js/toastr.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>

<input type="hidden" id="toastrSuccess" value="@TempData["success"]" />
<input type="hidden" id="toastrInfo" value="@TempData["info"]" />
<input type="hidden" id="toastrWarning" value="@TempData["warning"]" />
<input type="hidden" id="toastrError" value="@TempData["error"]" />

<div id="wrapper">
    <header id="header" class="">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Kiến Thức Cơ Bản</a></li>
                        <li><a asp-controller="ExchangeOffer" asp-action="History"><i class="fa fa-search" aria-hidden="true"></i>Tra Cứu Giao Dịch</a></li>
                        @*<li><a href="#">Đăng Nhập/Đăng Ký</a></li>*@
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </header><!-- /header -->
    <section id="body-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                    @await Component.InvokeAsync("ExchangeOfferSideBar")
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>

<script type="text/javascript">
    $(function () {

        if ($('#toastrSuccess').val()) {
            displayMessage($('#toastrSuccess').val(), 'success');
        }
        if ($('#toastrInfo').val()) {
            displayMessage($('#toastrInfo').val(), 'info');
        }
        if ($('#toastrWarning').val()) {
            displayMessage($('#toastrWarning').val(), 'warning');
        }
        if ($('#toastrError').val()) {
            displayMessage($('#toastrError').val(), 'error');
        }
        //var padding = $(".navbar-fixed-top").height();
        //$('body').css("padding-top", padding);
    });
    var displayMessage = function (message, msgType) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onClick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[msgType](message);
    };
</script>