﻿<footer>
    <h1 class="footer-logo">VinaEx</h1>
    <p class="copyright">© 2018. All rights reserved.</p>
    <ul class="social">
        <li></li>
        <li><a href="javascript:void(0)"><span class="fa fa-facebook"></span></a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-twitter"></span></a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-reddit"></span></a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-google-plus"></span></a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-pinterest"></span></a></li>
        <li><a href="javascript:void(0)"><span class="fa fa-youtube"></span></a></li>
    </ul>
    <ul class="footer-nav">
        <li><a asp-controller="Home" asp-action="About">Về chúng tôi</a></li>
        <li><a asp-controller="Home" asp-action="FAQ">FAQ</a></li>
        <li><a asp-controller="Home" asp-action="Recruitment">Tuyển dụng</a></li>
        <li><a asp-controller="Home" asp-action="SecuredTransactions">Giao dịch đảm bảo</a></li>
        <li><a asp-controller="Home" asp-action="Media">Truyền thông</a></li>
        <li><a href="javascript:void(0)">Đội ngũ</a></li>
        <li><a asp-controller="Policy" asp-action="TermsOfService">Chính sách và điều khoản</a></li>
        <li><a href="javascript:void(0)">Hỗ trợ trực tuyến</a></li>
    </ul>
</footer>