﻿@using Narnia.Business
@using Narnia.Business.Impl
@using Narnia.Core;
@using Narnia.Core.Infrastructure
@{
    var user = Narnia.Core.Infrastructure.EngineContext.Current.Resolve<IWorkContext>().CurrentUser;
    var iassetBalance = EngineContext.Current.Resolve<IAssetBalanceBusiness>();
    var workContext = EngineContext.Current.Resolve<IWorkContext>().WorkingSymbol;
    var assetBalance = iassetBalance.GetByUserIdAssetType((user?.Id ?? 0), workContext.AssetIdBase);
    var balance = assetBalance?.Balance - assetBalance?.FrozenBalance;

    var showBalance = string.Empty;
    if (balance == null)
    {
        showBalance = "0";
    }
    else
    {
        showBalance = balance.ToString();
    }
}

<div class="navbar-fixed-top">
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 col-sm-3">
                    <div class="pull-left">
                        <div data-menu-btn class="menuBtn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-5 text-center no-padding">
                    <div class="logo">
                        <h1><a href="/" title="">VinaEx<br /><span class="hidden-xs">Mua Bán Ethereum nhanh chóng và an toàn</span></a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 header-right">
                    @if (user != null)
                    {
                        <div class="header-right-user">
                            <p>
                                <a asp-controller="Account" asp-action="Profile"  class="header-user">
                                    chào: @user.Alias
                                </a>
                            </p>
                            <p>
                                <span class="user-balance">Số dư: @showBalance @workContext.AssetIdBase</span>
                            </p>
                        </div>
                        <div class="header-right-language">
                            <span class="gw-select language">
                                @await Component.InvokeAsync("LanguageSelector")
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
</div>