﻿@model int
<div class="row col-md-12">
    <div class="title"></div>
    <br />
    <div class="box-body">
        <table id="tblHistoryOpenningTransaction" class="table table-bordered table-striped"></table>
    </div>
</div>

<script type="text/javascript">
    var resourceTable = null;
    $(function () {
        //$('#txtDateFrom, #txtDateTo').datepicker({
        //    autoclose: true,
        //    format: 'dd/MM/yyyy'
        //});

        resourceTable = $('#tblHistoryOpenningTransaction').DataTable(
            {
                responsive: true,
                paging: true,
                serverSide: true,
                ajax:
                {
                    url: '/Account/OpenningTransaction',
                    type: "POST",
                    data: function (d) {
                        d.type = @Model;
                    }
                },
                "searching": false,
                "pageLength": 20,
                "lengthMenu": [
                    [10, 15, 20, 25, 50],
                    [10, 15, 20, 25, 50] // change per page values here
                ],
                columns: [
                    { title: "Mã giao dịch",
                        mRender: function (data, type, fullObject) {
                            var code = fullObject.transactionCode;
                            var url = '/offers/detail/' + code;
                            return '<a id="btn-view" href="' + url + '" class="edit">' + code + '</a>';
                        }
                    },
                    { title: "Ngày tạo", data: "createdDateDisplay" },
                    { title: "Ngày cập nhật", data: "updatedDateDisplay" },
                    { title: "Tổng tiền", data: "amountCoin" },
                    { title: "Loại tiền", data: "assetTypeId" },
                    { title: "Người mua", data: "userName" }
                    @*{

                        //Edit column
                        mRender: function (data, type, fullObject) {
                            var Id = fullObject.id;
                            var url = '@Url.Action("Edit")/?Id=' + Id;
                            return '<a id="btn-update" data-toggle="modal" onclick="getResource(\'' + url + '\')" href="javascript:void(0)" class="edit"> verify </a>';
                        }

                    }*@
                ]
            });

        //$("#btnSearch").click(function () {
        //    resourceTable.ajax.reload();
        //});
    });
</script>