﻿@model int

<div class="row col-md-12">
    <br/>
    <div class="box-body">
        <table id="tblHistoryTransaction_@Model" class="table table-bordered table-striped"></table>
    </div>
</div>

<script type="text/javascript">
    var resourceTable = null;
    $(function () {
        //$('#txtDateFrom, #txtDateTo').datepicker({
        //    autoclose: true,
        //    format: 'dd/MM/yyyy'
        //});

        resourceTable = $('#tblHistoryTransaction_@Model').DataTable(
            {
                responsive: true,
                paging: true,
                serverSide: true,
                ajax:
                {
                    url: '/wallet/TransactionHistory',
                    type: "POST",
                    data: function (d) {
                        d.type = @Model;
                        //d.FromDate = $("#txtDateFrom").val();
                        //d.ToDate = $("#txtDateTo").val();
                    }
                },
                "searching": false,
                "pageLength": 20,
                "lengthMenu": [
                    [10, 15, 20, 25, 50],
                    [10, 15, 20, 25, 50] // change per page values here
                ],
                columns: [
                    { title: "Stt", data: "transactionId" },
                    { title: "Mã giao dịch", data: "transactionCode" },
                    { title: "Ngày tạo", data: "createdDateDisplay" },
                    { title: "Tổng tiền", data: "amount" },
                    { title: "Trạng thái", data: "statusDisplay" },
                    { title: "Loại giao dịch", data: "transactionTypeDisplay" },
                    @*{
                        mRender: function (data, type, fullObject) {
                            var Id = fullObject.id;
                            var url = '@Url.Action("GetBanksAccount")/?userId=' + Id;
                            return '<a id="btn-view" data-toggle="modal" onclick="getResourceViewBank(\'' + url + '\')" href="javascript:void(0)" class="edit"> View bank </a>';
                        }
                    },*@

                    @*{

                        //Edit column
                        mRender: function (data, type, fullObject) {
                            var Id = fullObject.id;
                            var url = '@Url.Action("Edit")/?Id=' + Id;
                            return '<a id="btn-update" data-toggle="modal" onclick="getResource(\'' + url + '\')" href="javascript:void(0)" class="edit"> verify </a>';
                        }

                    }*@
                ]
            });

        //$("#btnSearch").click(function () {
        //    resourceTable.ajax.reload();
        //});
    });
</script>