﻿@{ 
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <title>vinaex </title>

    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/reset.css" />
            <link rel="stylesheet" href="~/css/style.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/reset.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
        </environment>*@
    <script src="~/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" crossorigin="anonymous">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css?v=1" rel="stylesheet" />
    <link href="~/css/bs-customize.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/slider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <script type="text/javascript">
         window.applicationBaseUrl = '@Narnia.Core.CommonHelper.GetBaseUrl()';
    </script>
    @using Narnia.Web.Framework.UI;

    @Html.NarniaHeadCustom()
    @Html.NarniaCssFiles(this.Url, ResourceLocation.Head)
    @Html.NarniaScripts(this.Url, ResourceLocation.Head)
</head>

<body>
  
    @*<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>*@
    @{Html.RenderPartial("_Header");}
    @await Component.InvokeAsync("Sidebar")
    <section class="main">
        @RenderBody()
    </section>

    <div class="bg-overlay hidden"></div>
    @{Html.RenderPartial("_Footer");}
    @*<environment names="Development">
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/main.js" asp-append-version="true"></script>
            <script src="~/js/signalr-client-1.0.0-alpha2-final.js" asp-append-version="true"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>

            <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>

    @RenderSection("scripts", required: false)

    <input type="hidden" id="toastrSuccess" value="@TempData["success"]" />
    <input type="hidden" id="toastrInfo" value="@TempData["info"]" />
    <input type="hidden" id="toastrWarning" value="@TempData["warning"]" />
    <input type="hidden" id="toastrError" value="@TempData["error"]" />

    @Html.NarniaCssFiles(this.Url, ResourceLocation.Footer)
    @Html.NarniaScripts(this.Url, ResourceLocation.Footer)
</body>

</html>

<script>
    $(function () {

        if ($('#toastrSuccess').val()) {
            displayMessage($('#toastrSuccess').val(), 'success');
        }
        if ($('#toastrInfo').val()) {
            displayMessage($('#toastrInfo').val(), 'info');
        }
        if ($('#toastrWarning').val()) {
            displayMessage($('#toastrWarning').val(), 'warning');
        }
        if ($('#toastrError').val()) {
            displayMessage($('#toastrError').val(), 'error');
        }
        //var padding = $(".navbar-fixed-top").height();
        //$('body').css("padding-top", padding);
    });
    var displayMessage = function (message, msgType) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onClick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[msgType](message);
    };
</script>