﻿@{ 
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <title>vinaex </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" crossorigin="anonymous">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css?v=1" rel="stylesheet" />
    <link href="~/css/bs-customize.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/slider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <script type="text/javascript">
         window.applicationBaseUrl = '@Narnia.Core.CommonHelper.GetBaseUrl()';
    </script>
    @using Narnia.Web.Framework.UI;

    @Html.NarniaHeadCustom()
    @Html.NarniaCssFiles(this.Url, ResourceLocation.Head)
    @Html.NarniaScripts(this.Url, ResourceLocation.Head)
</head>

<body>
    <script src="~/js/jquery.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>*@
    @await Component.InvokeAsync("Sidebar")
    <section class="main">
        @RenderBody()
    </section>

    <div class="bg-overlay hidden"></div>

    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>

    @RenderSection("scripts", required: false)

    <input type="hidden" id="toastrSuccess" value="@TempData["success"]" />
    <input type="hidden" id="toastrInfo" value="@TempData["info"]" />
    <input type="hidden" id="toastrWarning" value="@TempData["warning"]" />
    <input type="hidden" id="toastrError" value="@TempData["error"]" />

    @Html.NarniaCssFiles(this.Url, ResourceLocation.Footer)
    @Html.NarniaScripts(this.Url, ResourceLocation.Footer)
</body>

</html>

<script>
    $(function () {

        if ($('#toastrSuccess').val()) {
            displayMessage($('#toastrSuccess').val(), 'success');
        }
        if ($('#toastrInfo').val()) {
            displayMessage($('#toastrInfo').val(), 'info');
        }
        if ($('#toastrWarning').val()) {
            displayMessage($('#toastrWarning').val(), 'warning');
        }
        if ($('#toastrError').val()) {
            displayMessage($('#toastrError').val(), 'error');
        }
        //var padding = $(".navbar-fixed-top").height();
        //$('body').css("padding-top", padding);
    });
    var displayMessage = function (message, msgType) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onClick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[msgType](message);
    };
</script>