﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <title>vinaex </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" crossorigin="anonymous">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bs-customize.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/slider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body>
    <script src="~/js/jquery.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>*@
    <div class="navbar-fixed-top">
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="pull-left">
                            <div data-menu-btn class="menuBtn">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <div class="logo">
                            <h1><a href="index.html" title="">VinaEx<br /><span class="hidden-xs">Mua Bán Ethereum nhanh chóng và an toàn</span></a></h1>
                        </div>
                    </div>
                    <div class="col-xs-3 text-right">
                        <span class="col-xs-12 gw-select pull-right">
                            <span class="input-group select-language">
                                <select class="selectpicker" id="select-language">
                                    <option data-icon="en">English</option>
                                    <option data-icon="vn">Tiếng Việt</option>
                                </select>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <nav class="nav_main" data-menu>
        <ul class="list-unstyled primary">
            <li class="active"><a href="index.html"><span class="fa fa-bitcoin"></span>Bitcon</a></li>
            <li><a href="index.html"><span class="fa fa-usd"></span>Tether UsdT</a></li>
            <li><a href="index.html"><span class="fa fa-money"></span>Bitcon Cash</a></li>
            <li><a href="index.html"><span class="fa fa-shopping-cart"></span>Mua Bán ETH</a></li>
            <li><a href="index.html"><span class="fa fa-credit-card"></span>Ví ETH</a></li>
            <li><a href="login.html"><span class="fa fa-sign-in"></span>Đăng Nhập</a></li>
        </ul>
    </nav>

    <section class="main">
        <div class="main-content">
            <div class="container">
                <div class="page-title">
                    <h2>Đăng Nhập / Đăng Ký</h2>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 frm-cnt">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="text" class="form-control" id="txtEmail" name="txtEmail" value="" placeholder="Nhập Email của bạn">
                        </div>
                    </div>
                    <div class="form-group"><a class="btn btn-submit" href="login-msg.html">Tiếp Tục</a></div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <h1 class="footer-logo">VinaEx</h1>
        <p class="copyright">&copy; 2018. All rights reserved.</p>
        <ul class="social">
            <li></li>
            <li><a href="javascript:void(0)"><span class="fa fa-facebook"></span></a></li>
            <li><a href="javascript:void(0)"><span class="fa fa-twitter"></span></a></li>
            <li><a href="javascript:void(0)"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="javascript:void(0)"><span class="fa fa-reddit"></span></a></li>
            <li><a href="javascript:void(0)"><span class="fa fa-google-plus"></span></a></li>
            <li><a href="javascript:void(0)"><span class="fa fa-pinterest"></span></a></li>
            <li><a href="javascript:void(0)"><span class="fa fa-youtube"></span></a></li>
        </ul>
        <ul class="footer-nav">
            <li><a href="javascript:void(0)">Về chúng tôi</a></li>
            <li><a href="javascript:void(0)">FAQ</a></li>
            <li><a href="javascript:void(0)">Tuyển dụng</a></li>
            <li><a href="javascript:void(0)">Giao dịch đảm bảo</a></li>
            <li><a href="javascript:void(0)">Truyền thông</a></li>
            <li><a href="javascript:void(0)">Đội ngũ</a></li>
            <li><a href="javascript:void(0)">Chính sách và điều kiện</a></li>
            <li><a href="javascript:void(0)">Hỗ trợ trực tuyến</a></li>
        </ul>
    </footer>
    <div class="bg-overlay hidden"></div>

    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/datetime.js"></script>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/moment.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>