﻿@model int
<div class="row col-md-12">
    <div class="title"></div>
    <br />
    <div class="box-body">
        <table id="tblMyAdvertisement_@Model" class="table table-bordered table-striped"></table>
    </div>
</div>

<script type="text/javascript">
    var resourceTable = null;
    $(function () {
        //$('#txtDateFrom, #txtDateTo').datepicker({
        //    autoclose: true,
        //    format: 'dd/MM/yyyy'
        //});
        //1; ban 2: mua
        resourceTable = $('#tblMyAdvertisement_@Model').DataTable(
            {
                paging: true,
                serverSide: true,
                ajax:
                {
                    url: '/Advertisement/MyAdvertisement',
                    type: "POST",
                    data: function (d) {
                        d.type = @Model;
                    }
                },
                "searching": false,
                "pageLength": 20,
                "lengthMenu": [
                    [10, 15, 20, 25, 50],
                    [10, 15, 20, 25, 50] // change per page values here
                ],
                columns: [
                    //{ title: "Mã giao dịch", data: "transactionCode" },
                    //{
                    //    mRender: function (data, type, fullObject) {
                    //        var code = fullObject.transactionCode;
                    //        var url = '/offers/detail/' + code;
                    //        return '<a id="btn-view" href="' + url + '" class="edit">' + code + '</a>';
                    //    }
                    //},
                    { title: "Loại tiền", data: "coinName" },
                    { title: "Giá tối thiểu", data: "minCoinNumber" },
                    { title: "Giá tối đa", data: "maxCoinNumber" },

                    { title: "Ngày tạo", data: "createdDateDisplay" },
                    { title: "Ngày cập nhật", data: "updatedDateDisplay" },
                    { title: "Tổng tiền", data: "amountCoin" },
                    { title: "Người mua", data: "userName" }
                    @*{

                        //Edit column
                        mRender: function (data, type, fullObject) {
                            var Id = fullObject.id;
                            var url = '@Url.Action("Edit")/?Id=' + Id;
                            return '<a id="btn-update" data-toggle="modal" onclick="getResource(\'' + url + '\')" href="javascript:void(0)" class="edit"> verify </a>';
                        }

                    }*@
                ]
            });

        //$("#btnSearch").click(function () {
        //    resourceTable.ajax.reload();
        //});
    });
</script>