﻿
@model List<RatingViewModel>

@if (Model.Count > 0)
{
    <div class="frm-cnt-tab frm-eth">
        <h3>Phản hồi về vinhngt</h3>
        <div class="feedback">
            <div class="feedbacks-list">
                @foreach (var item in Model)
                {
                    <div class="feedback-item"><i>"@item.Content" - </i><span>@item.Alias</span></div>
                }
            </div>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}

