﻿
@model string
@{
    var coinType = Model;
}


<div class="col-xs-12">
    <ul class="list-offer seller" id="seller-panel"></ul>
    <div class="col-xs-12 no-padding text-center">
        <ul class="pagination" id="sell-pager"></ul>
    </div>
</div>

<script id="rpt-sell-item-tmpl" type="text/x-jsrender">
    {{if data.length > 0}}
    {{for data}}
    <li>
        <div class="col-xs-9 pull-left">
            <p>
                <span class="text-green">
                    <strong>
                        {{:~formatCurrency(coinPrice)}} {{:currencyName}}/
                    </strong>
                </span>
                <span class="text-orange">
                    {{:coinName}}
                </span> qua <span> {{:bankName}}</span>
            </p>
            <p>
                Tối đa: <i>
                    <strong class="text-red">
                        {{:~formatCurrency(maxCoinNumber)}}
                    </strong>
                </i> <span class="text-orange">{{:coinName}}</span>
            </p>
            <p><span class="fa fa-user-circle-o"></span><span class="text-uppercase">{{:userName}}</span><span class="badge badge-seller">người bán nhanh</span></p>
        </div>
        <div class="col-xs-3 pull-right no-padding"><a href="/offers/buy/{{:id}}" class="btn btn-sell">Mua</a></div>
    </li>
    {{/for}}
    {{else}}
    <li>
        <span>No data found</span>
    </li>
    {{/if}}
</script>



<script type="text/javascript">
    $(document).ready(function () {
        loadReportSeller();
    });

    function loadReportSeller() {
        var sellReport = new BuySellReportByUserId(1,  '@coinType', { pagingPanel: "#sell-pager", rptItemContainer: "#seller-panel", tmplRptItem: "#rpt-sell-item-tmpl" });
        sellReport.init();
        sellReport.loadData();
    }
</script>