﻿@using Newtonsoft.Json
@model string
@{    
    string assetTypeId = JsonConvert.SerializeObject(Model);
}

<script src="~/lib/jsrender/jsrender.js"></script>
<script src="~/js/jsNarniaReport.js"></script>
<script src="~/js/jsAdvertisement.js"></script>
<script src="~/js/simplePagination.js"></script>
<script src="~/js/accounting.js"></script>
<div class="col-xs-12 text-center">
    <h2 class="title-block">
        DANH SÁCH NGƯỜI BÁN<br />
        <span class="checkbox">
            <input type="checkbox" id="chkShowOfflineSeller"><label for="chkShowOfflineSeller">Hiển thị cả người bán đang offline</label>
        </span>
    </h2>
</div>
<div class="col-xs-12">
    <ul class="list-offer seller" id="seller-panel"></ul>
    <div class="col-xs-12 no-padding text-center">
        <ul class="pagination" id="sell-pager"></ul>
    </div>
</div>

<script id="rpt-sell-item-tmpl" type="text/x-jsrender">
    {{if data.length > 0}}
    {{for data}}
    <li>
        <div class="col-xs-9 pull-left">
            <p>
                <span class="text-green">
                    <strong>
                        {{:~formatCurrency(coinPrice)}} {{:currencyName}}/
                    </strong>
                </span>
                <span class="text-orange">
                    {{:coinName}}
                </span> qua <span> {{:bankName}}</span>
            </p>
            <p>
                Tối đa: <i>
                    <strong class="text-red">
                        {{:~formatCurrency(amount)}}
                    </strong>
                </i> <span class="text-orange">{{:coinName}}</span>
            </p>
            <p><span class="fa fa-user-circle-o"></span><span class="text-uppercase"><a target="_blank" href="/Account/Profile?userid={{:userId}}">{{:userName}}</a> </span><span class="badge badge-seller">giao dịch tức thì</span></p>
        </div>
        <div class="col-xs-3 pull-right no-padding"><a href="/offers/buy/{{:id}}" class="btn btn-sell">Mua</a></div>
    </li>
    {{/for}}
    {{else}}
    <li>
        <span>No data found</span>
    </li>
    {{/if}}
</script>



<script type="text/javascript">
    var assetType = @Html.Raw(@assetTypeId);
    $(document).ready(function () {
        var offlineSeller = $('#chkShowOfflineSeller').is(':checked');
        loadReportSeller(offlineSeller);

        $('#chkShowOfflineSeller').click(function () {
            loadReportSeller(this.checked);
        });
    });

    function loadReportSeller(offlineSeller) {
        var sellReport = new BuySellReport(1,  assetType, offlineSeller, { pagingPanel: "#sell-pager", rptItemContainer: "#seller-panel", tmplRptItem: "#rpt-sell-item-tmpl" });
        sellReport.init();
        sellReport.loadData();
    }
</script>