﻿<div id="slider-banner" data-slider>
    <div class="item">
        <img class="img-responsive" src="~/images/banner-01.jpg" alt="">
    </div>
    <div class="item">
        <img class="img-responsive" src="~/images/banner-02.jpg" alt="">
    </div>
    <div class="item">
        <img class="img-responsive" src="~/images/banner-03.jpg" alt="">
    </div>
</div>