/****************** Bootstrap Select ******************/
.header .gw-select{
    width: 50px;
    margin: 0px;
    padding: 0;
}
.gw-select .select-language .btn.dropdown-toggle, .gw-select .select-language .btn.dropdown-toggle:focus{
    background: none;
    border: 0 none;
    border-radius: 0;
    height: 40px;
    color: #b0bec5;
    vertical-align: top;
    outline:0 !important;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.gw-select .select-language .btn.dropdown-toggle:focus{
    margin-right: 3px;
}
.gw-select .btn{
    padding: 0 15px 0 5px;
}
.gw-select .select-language .dropdown-menu{
    background: #222222;
    border: 0 none;
    border-radius: 0;
    color: #b0bec5;
    line-height: 40px;
    max-height: 400px !important;
    overflow-y: auto;
    padding: 0;
}
@media (min-width: 320px) and (max-width: 359px){
    .gw-select .select-language .dropdown-menu{
        font-size: 12px;
    }
    .gw-select .select-language .btn.dropdown-toggle, .gw-select .select-language .btn.dropdown-toggle:focus{
        font-size: 12px;
    }
}

.gw-select .select-language .dropdown-menu > li > a{
    color: #b0bec5;
    line-height: 40px;
}
.gw-select .select-language .dropdown-menu>li>a:focus,.gw-select .select-language .dropdown-menu>li>a:hover {
    color:#b0bec5;
    background-color:#010101;
}

/* Language List */
.select-language .dropdown-menu > li:last-child > a{
    border-bottom: 0 none;
}
.select-language .dropdown-menu > li{
    margin-bottom: 0;
}
.select-language .dropdown-menu > li > a{
    padding-left: 12px;
    border-bottom: 1px solid #383838;
}
.gw-select .select-language .btn.dropdown-toggle{
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
}
.select-language .glyphicon{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin: 9px 0 0 0;
    vertical-align: top;
}
@media (min-width: 375px){
    .select-language .glyphicon{
        margin: 9px 5px 0 5px;
    }
    .gw-select .select-language .btn.dropdown-toggle{
        padding-left: 12px;
    }
}
.vn{
    background: url("../images/vn.png") no-repeat 0 0;
}
.en{
    background: url("../images/en.png") no-repeat 0 0;
}


.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
}
.bootstrap-select.btn-group .dropdown-menu li span.text{
    white-space: normal;
    word-wrap: break-word;
    height: auto;
}
@media (min-width: 320px) and (max-width: 414px){
    header .bootstrap-select.btn-group .dropdown-menu li span.text{
        display: none !important;
    }
}
.bootstrap-select.btn-group .dropdown-menu.inner, .bootstrap-select.btn-group .dropdown-menu{
    max-height: 300px !important;
    overflow-y: auto !important;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{
    margin-left: 0;
}

.select-1 {
    border: none;
}
.style-control-2 {
    border: 1px solid #a2a2a3;
    height: 45px;
    padding: 0 0 0 10px;
    padding-left: 33%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select-1.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}
.style-control-2 .select-1 .btn-default {
    border: none;
    margin-top: 1px;
    height: 41px;
    width: 100%;   
    border-radius: 0;
}
.select-2.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 23.8%;
    float: right;

}
.select-2.bootstrap-select {
    margin-left: 2px !important;
}
.select-2.bootstrap-select:last-child{
    margin-left: 0 !important;
}

.style-control-2 .select-2 .btn-default{
    border: none; 
    margin-top: 1px;
    height: 41px;      
    border-radius: 0;
}

input[type=checkbox].checkbox {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 15px;
}
