
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  border-radius: 10px;
  background: #cecece99;
  padding: 5px;
  border: 3px solid #ddd;
}
div.bhoechie-tab-menu .title-list-group {
    padding: 0 15px;
    font-weight: bold;
    font-size: 20px;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
  padding: 15px;
  padding-top: 5px;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a {
    text-align: left;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .icon-currency,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}
div.bhoechie-tab>div.bhoechie-tab-content-buy.active {
    display: none;
}
div.bhoechie-tab-content-sell, div.bhoechie-tab-content-buy {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
}
div.bhoechie-tab div.bhoechie-tab-content-sell:not(.active){
  display: none;
}
div.bhoechie-tab div.bhoechie-tab-content-buy:not(.active){
  display: none;
}
.input-group-addon {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: red;
    text-align: center;
    background-color: #f2dede;
    border-left: 1px solid red;
    border-radius: 4px;
}
input#input {
    height: 45px !important;
}
.panel-default .panel-heading {
    color: #2C3E50;
    background-color: #ecf0f1;
    border-color: #ecf0f1;
}
.panel-body h5 {
    font-weight: bold;
    font-size: 15px;
}
.select-bank ul li.bank-name {
    list-style: none;
    margin-right: 5px;
    display: inline-block;
}
.select-bank ul li.bank-name a {
    color: #fff;
    padding: 10px 15px;
    background: #cecece;
    border-radius: 10px;
}
.select-bank ul li.bank-name a.active {
    color: #fff;
    padding: 10px 15px;
    background: #3F51B5;
}

.select-bank ul li.bank-name a:hover {
    text-decoration: none;
    background: #7987d2;
}
.coin-price {
    text-align: right;
}
.icon-currency {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;

}
.btc-icon {
    background: url(../images/btc.ico) no-repeat;
}
.eth-icon {
    background: url(../images/eth.ico) no-repeat;
}
.usdt-icon {
    background: url(../images/usdt.ico) no-repeat;
}
.pm-icon {
    background: url(../images/pm.ico) no-repeat;
}
