﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*--uypc--*/
.wap-chart {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height:100%;
}

.box-time-left.order {
    color: #006837;
    border-color: #006837;
}

.box-time-left {
    float: right;
    position: relative;
    display: block;
    padding: 8px 10px 8px 40px;
    background-color: #e6e6e6;
    border: .5px solid #006837;
    border-radius: 10px;
}
.flash-messages {
    margin-bottom: 10px;
}

.close-account{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
/*--uypc--*/


.coin-address .input-address {
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    width: 100%;
    text-align: left;
    cursor: text;
    position: relative
}

    .coin-address .input-address > div {
        position: absolute;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .coin-address .alert, .coin-address .input-address > div {
        padding-left: 15px;
        padding-right: 15px
    }

.coin-address .address-text-line {
    margin: 0 auto 15px
}

.coin-address .input-group-address {
    max-width: 380px
}

.coin-address .input-group-address-note {
    max-width: 380px;
    padding-top: 3px;
    padding-bottom: 3px
}

    .coin-address .input-group-address-note.no-margin-bottom {
        margin-bottom: 0
    }

.coin-address .input-group-address-wrapper {
    display: inline-block;
    margin-right: 3px
}

.coin-address .btn-copy-clipboard {
    vertical-align: top;
    height: 40px;
    padding: 0 10px
}

.coin-address .input-group-addon {
    padding: 0
}

/*--uypc--*/
.title-decorated {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 5px;
}

.title-accent {
    padding-top: 5px;
}

/* Dành cho điện thoại */
.referral-link {
    padding: 10px;
}
/*--end uypc--*/