﻿
@{
    ViewData["Title"] = "CloseAccount";
}

<div class="container">
    <h2>Đóng tài khoản</h2>

    <span class="close-account">Bạn có thể yêu cầu đóng tài khoản của mình. Nếu tài khoản của bạn được yêu cầu đóng, bạn vẫn có thể khôi phục tài khoản trong vòng 30 ngày. Sau 30 ngày, hệ thống của chúng tôi sẽ xóa hoàn toàn tất cả các chi tiết của bạn và do đó việc khôi phục lại sẽ không còn khả thi nữa.</span>
</div>


