﻿@model List<Narnia.Core.Models.UserLoginHistoryModel>
@{
    ViewData["Title"] = "HistoryLogin";
}

<div class="container">
    <h2>Lịch sử đăng nhập</h2>

    @if (Model.Any())
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Địa chỉ IP</th>
                    <th>Ngày giờ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IPAddress</td>
                        <td>@item.LoginDate.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <span class="alert-error">không tìm thấy dữ liệu</span>

    }
</div>