﻿@model Narnia.Core.Models.UserInforModel
@{
    ViewData["Title"] = "Notification";
}


<div class="container">
    <h2>Thông báo</h2>
    <form data-reactroot="" class="form-horizontal notifications-form">
        <div class="row email-notifications">
            <h4 class="text-center">
                <strong>Thông báo qua email</strong>
            </h4>
            <div class="form-group new-trade">
                <label class="col-xs-6 col-sm-4 col-md-3 control-label">Có giao dịch mới</label>
                <div class="col-xs-6 col-sm-6 col-md-6 switch-container">
                    <span class="switch" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(223, 223, 223); border-radius: 15px; box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; box-sizing: border-box; display: inline-block; height: 30px; opacity: 1; position: relative; user-select: none; width: 70px; transition: 0.2s;">
                        <span style="background-color: rgb(255, 255, 255); border-radius: 100%; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; display: inline-block; height: 28px; left: 0px; position: absolute; top: 0px; width: 28px; transition: 0.2s;"></span>
                        @if (Model.HasSendEmailNewTransaction)
                        {
                            <span class="switch-text" style="margin: 4px 10px; color: white;">ON</span>
                        }
                        else
                        {
                            <span class="switch-text" style="margin: 4px 31px;color: rgb(169, 169, 169);">OFF</span>
                        }

                        <input type="checkbox" value="on" style="display: none;">
                    </span>
                </div>
            </div>
            <div class="form-group trade_status">
                <label class="col-xs-6 col-sm-4 col-md-3 control-label">Trạng thái giao dịch thay đổi</label>
                <div class="col-xs-6 col-sm-6 col-md-6 switch-container">
                    <span class="switch" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(223, 223, 223); border-radius: 15px; box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; box-sizing: border-box; display: inline-block; height: 30px; opacity: 1; position: relative; user-select: none; width: 70px; transition: 0.2s;">
                        <span style="background-color: rgb(255, 255, 255); border-radius: 100%; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; display: inline-block; height: 28px; left: 0px; position: absolute; top: 0px; width: 28px; transition: 0.2s;"></span>
                        @if (Model.HasSendEmailExchangeTransaction)
                        {
                            <span class="switch-text" style="margin: 4px 10px; color: white;">ON</span>
                        }
                        else
                        {
                            <span class="switch-text" style="margin: 4px 31px;color: rgb(169, 169, 169);">OFF</span>
                        }

                        <input type="checkbox" value="on" style="display: none;">
                    </span>
                </div>
            </div>

            @*<div class="form-group trade_message">
                <label class="col-xs-6 col-sm-4 col-md-3 control-label">Tin nhắn từ giao dịch</label>
                <div class="col-xs-6 col-sm-6 col-md-6 switch-container">
                    <span class="switch" style="background-color: rgb(76, 217, 100); border: 1px solid rgb(76, 217, 100); border-radius: 15px; box-shadow: rgb(76, 217, 100) 0px 0px 0px 40px inset; box-sizing: border-box; display: inline-block; height: 30px; opacity: 1; position: relative; transition: 0.2s; user-select: none; width: 70px;">
                        @if (Model.HasSendEmailExchangeTransaction)
                        {
                            <span class="switch-text" style="margin: 4px 10px; color: white;">ON</span>
                        }
                        else
                        {
                            <span class="switch-text" style="margin: 4px 31px;color: rgb(169, 169, 169);">OFF</span>
                        }
                        <input type="checkbox" value="on" style="display: none;">
                    </span>
                </div>
            </div>*@
        </div>
        <hr>
        <div class="row phone-notifications">
            <h4 class="text-center">
                <strong>Thông báo qua điện thoại</strong>
            </h4>
            <div class="form-group phone-new-trade">
                <label class="col-xs-6 col-sm-4 col-md-3 control-label">Có giao dịch mới</label>
                <div class="col-xs-6 col-sm-6 col-md-6 switch-container">
                    <span class="switch" style="background-color: rgb(76, 217, 100); border: 1px solid rgb(76, 217, 100); border-radius: 15px; box-shadow: rgb(76, 217, 100) 0px 0px 0px 40px inset; box-sizing: border-box; display: inline-block; height: 30px; opacity: 1; position: relative; transition: 0.2s; user-select: none; width: 70px;">
                        <span style="background-color: rgb(255, 255, 255); border-radius: 100%; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; display: inline-block; height: 28px; left: 40px; position: absolute; top: 0px; transition: 0.2s; width: 28px;"></span>
                        @if (Model.HasSendSMSNewTransaction)
                        {
                            <span class="switch-text" style="margin: 4px 10px; color: white;">ON</span>
                        }
                        else
                        {
                            <span class="switch-text" style="margin: 4px 31px;color: rgb(169, 169, 169);">OFF</span>
                        }
                        <input type="checkbox" value="on" style="display: none;">
                    </span>
                </div>
            </div>
            <div class="form-group phone-trade-paid">
                <label class="col-xs-6 col-sm-4 col-md-3 control-label">Giao dịch được thanh toán</label>
                <div class="col-xs-6 col-sm-6 col-md-6 switch-container">
                    <span class="switch" style="background-color: rgb(76, 217, 100); border: 1px solid rgb(76, 217, 100); border-radius: 15px; box-shadow: rgb(76, 217, 100) 0px 0px 0px 40px inset; box-sizing: border-box; display: inline-block; height: 30px; opacity: 1; position: relative; transition: 0.2s; user-select: none; width: 70px;">
                        <span style="background-color: rgb(255, 255, 255); border-radius: 100%; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; display: inline-block; height: 28px; left: 40px; position: absolute; top: 0px; transition: 0.2s; width: 28px;"></span>
                        @if (Model.HasSendSMSTransactionPaid)
                        {
                            <span class="switch-text" style="margin: 4px 10px; color: white;">ON</span>
                        }
                        else
                        {
                            <span class="switch-text" style="margin: 4px 31px;color: rgb(169, 169, 169);">OFF</span>
                        }
                        <input type="checkbox" value="on" style="display: none;">
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>