﻿
@model Narnia.Web.Areas.Admin.Models.Offers.OfferModel
@{
    Layout = "";
    Html.SetActiveMenuItemSystemName("Offer");
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Offer Information</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <label class="col-md-3 control-label">UserName</label>
            <div class="col-md-9">@Model.AdvertiseUser.UserName</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">AssetType</label>
            <div class="col-md-9">@Model.AssetTypeId</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Currency</label>
            <div class="col-md-9">@Model.CurrencyId</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Price</label>
            <div class="col-md-9">
                <span>@Model.AmountProcessed</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Date</label>
            <div class="col-md-9">@Model.CreatedDate</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">MinCoinNumber</label>
            <div class="col-md-9">@Model.MinCoinNumber</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">MaxCoinNumber</label>
            <div class="col-md-9">@Model.MaxCoinNumber</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">PaymentMethod</label>
            <div class="col-md-9">@Model.PayType.PaymentMethodName</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">PaymentAllowTime</label>
            <div class="col-md-9">@Model.PaymentAllowTime</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Bank</label>
            <div class="col-md-9">@Model.Bank.BankName</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Status</label>
            <div class="col-md-9">
                @if (Model.Approved)
                {
                    <span>Approved</span>
                }
                else
                {
                    <span>Not Approved</span>
                }
            </div>
        </div>
    </div>
</div>
