﻿@using Narnia.Core.Enums;
@using Narnia.Web.Areas.Admin.Models.TransactionWallet;
@using  Narnia.Business;
@model TransactionWalletDetailAdminViewModel

@{
    Layout = "";
}

<script>
    $(document).ready(function () {
        toggleChangeTranStatus(false);
    });

    function toggleChangeTranStatus(editmode) {
        if (editmode) {
            $('#pnlChangeTranStatus').show();
            $('#btnChangeTranStatus').hide();
        } else {
            $('#pnlChangeTranStatus').hide();
            $('#btnChangeTranStatus').show();
        }
    }
</script>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Status" />
                </div>
                <div class="col-md-9">
                    <div class="input-group input-group-short">
                        <div class="input-group-text">
                            <strong @*class="form-text-row" *@ class="btn bg-red">
                                @Model.DisplayStatus
                            </strong>
                        </div>
                        @if (Model.CanChangeStatus)
                        {
                            <div class="input-group-btn">
                                <button type="submit" name="btnChangeTranStatus" onclick="toggleChangeTranStatus(true);return false;" id="btnChangeTranStatus" class="btn btn-primary">
                                    Change Status
                                </button>
                                <div id="pnlChangeTranStatus" style="margin-top: 3px;">
                                    <narnia-select asp-for="Status" asp-items="@(((TransactionStautus) Model.Status).ToSelectList(valuesValidToExclude:Model.ValuesValidToExclude))" />
                                    <button type="submit" name="btnSaveTranStatus" id="btnSaveTranStatus" class="btn btn-primary" style="margin-left: 3px">
                                        Save
                                    </button>
                                    <narnia-action-confirmation asp-button-id="btnSaveTranStatus" />
                                    <button type="submit" name="btnCancelOrderStatus" onclick="toggleChangeTranStatus(false);return false;" id="btnCancelOrderStatus" class="btn bg-teal" style="margin-left: 3px">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="TransactionCode" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.TransactionCode</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="CreatedDate" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.CreatedDate</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Amount" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.Amount</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Unit" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.Unit</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="TransactionType" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.DisplayTransactionType</div>
                </div>
            </div>
            @if (Model.ShowBankInfo)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="BankName" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.BankName</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="Branch" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Branch</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="AccountNo" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.AccountNo</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="AccountName" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.AccountName</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="OrderNo" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.OrderNo</div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="OrderNo" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.OrderNo</div>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.EvidenceCode))
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="EvidenceId" />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="@Url.Action("GetFileThumbnail", "Transaction", new {code = @Model.EvidenceCode, width = 250, height = 250})" />
                            </div>
                            <div class="col-md-12" style="margin-top: 10px">
                                @*<div class="row">*@
                                <a href="@Url.Action("GetImage", new {code = @Model.EvidenceCode})" target="_blank" class="btn btn-primary">ViewFile</a>
                                <a href="@Url.Action("Download", new {code = Model.EvidenceCode})" target="_blank" class="btn btn-primary">Download</a>
                                @*</div>*@
                            </div>
                        </div>

                    </div>

                </div>
            }


        </div>
    </div>

</div>