@using Narnia.Web.Areas.Admin.Models.TransactionWallet;
@model TransactionWalletDetailAdminViewModel
@{
    ViewData["Title"] = "TransactionWallet Details";
    Html.SetActiveMenuItemSystemName("TransactionWallet");
}
<form asp-controller="TransactionWallet" asp-action="Edit" method="post" id="transaction-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit TransactionWallet details - @Model.TransactionCode
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Back To List</a>
            </small>
        </h1>
    </div>
    @Html.HiddenFor(x => x.TransactionId)
    @Html.HiddenFor(x => x.TransactionCode)
    <div asp-validation-summary="All"></div>
    <div class="content">
        <div class="form-horizontal">
            <narnia-tabs id="transaction-edit">
                <narnia-tab asp-name="tab-info" asp-title="Transaction Info" asp-default="true">@await Html.PartialAsync("_TransactionWalletDetails.Info", Model)</narnia-tab>
            </narnia-tabs>
        </div>
    </div>
</form>