﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model int
@{
    var userId = Model;
}

<script src="~/js/jsCommission.js"></script>

<table class="table table-striped table-eth">
    <tr>
        <th>UserName</th>
        <th>Bí Danh</th>
        <th>Hoa Hồng</th>
        <th>Loại Tiền</th>
        <th>Level</th>
        <th>Tỷ Lệ</th>
        <th>Ngày Tạo</th>
        <th>Ngày Cập Nhật</th>
        <th>Trạng Thái</th>
    </tr>
    <tr class="list-offer " id="commission-panel"></tr>
</table>

<div class="col-xs-12 no-padding text-center">
    <ul class="pagination" id="commission-pager"></ul>
</div>

<script id="rpt-commission-item-tmpl" type="text/x-jsrender">
    {{if data.length > 0}}
    {{for data}}
    <td>{{:userName}}</td>
    <td>{{:alias}}</td>
    <td>{{:~formatCurrency(commAmt)}}</td>
    <td>{{:assetTypeId}}</td>
    <td>{{:commLevel}}</td>
    <td>{{:commRate}}</td>
    <td>{{:createdDate}}</td>
    <td>{{:updatedDate }}</td>
    <td>{{:status}}</td>
    {{/for}}
    {{else}}
    <td colspan="9" class="text-center">Chưa có thông tin</td>
    {{/else}}

    {{/if}
</script>

<script type="text/javascript">
    $(document).ready(function () {
       loadPannelCommission();
    });

    function loadPannelCommission() {
        var commissionReport = new CommissionReport(@userId, { pagingPanel: "#commission-pager", rptItemContainer: "#commission-panel", tmplRptItem: "#rpt-commission-item-tmpl" });
        commissionReport.init();
        commissionReport.loadData();
    }
</script>