﻿<link href="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>

<link href="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<script src="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>

<div class="main-content">
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#openning-transaction">Giao dịch đang mở</a></li>
            <li><a data-toggle="tab" href="#closed-transaction">Giao dịch đã đóng</a></li>
            <li><a data-toggle="tab" href="#my-sellAdvertisement">Quảng cáo bán</a></li>
            <li><a data-toggle="tab" href="#my-buyAdvertisement">Quảng cáo mua</a></li>
            @*<li><a data-toggle="tab" href="#reference-list">Danh sách giới thiệu</a></li>*@
        </ul>

        <div class="tab-content">
            <div id="openning-transaction" class="tab-pane fade in active">
                @{ await Html.RenderPartialAsync("_HistoryOpenningTransaction", 1);}
            </div>
            <div id="closed-transaction" class="tab-pane fade">
                @{ await Html.RenderPartialAsync("_HistoryClosedTransaction", 2);}
            </div>
            <div id="my-sellAdvertisement" class="tab-pane fade">
                @{ await Html.RenderPartialAsync("_MyAdvertisement", 1);}
            </div>
            <div id="my-buyAdvertisement" class="tab-pane fade">
                @{ await Html.RenderPartialAsync("_MyAdvertisement", 2);}
            </div>
            @* id="reference-list" class="tab-pane fade">

        </div>*@
        </div>
    </div>
</div>