﻿@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="page-title">
        <h2>Đăng Nhập / Đăng Ký</h2>
    </div>
    @if (Model.HasError)
    {
    <div class="flash-messages">
        <div class="alert alert-danger">
            Liên kết đăng nhập của bạn đã hết hạn. Vui lòng đăng nhập lại.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        
    </div>
        
    }
    <form asp-area="" asp-controller="Account" asp-action="Login" method="post" id="frmLogin">
        @Html.HiddenFor(m=>m.ReferenceCode)
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 frm-cnt">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    @*<input type="text" class="form-control" id="txtEmail" name="txtEmail" value="" placeholder="Nhập Email của bạn">*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập Email của bạn", required = "required" })
                </div>
            </div>
            <div class="form-group">
                @*<a class="btn btn-submit" href="login-msg.html">Tiếp Tục</a>*@
                <input type="submit" id="register" class="btn btn-submit" value="Tiếp Tục">
            </div>
        </div>
    </form>

</div>