﻿@model Narnia.Web.Models.AccountViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<script src="~/lib/jsrender/jsrender.js"></script>
<script src="~/js/jsNarniaReport.js"></script>
<script src="~/js/jsAdvertisement.js"></script>
<script src="~/js/simplePagination.js"></script>
<script src="~/js/accounting.js"></script>


<div class="container">
    <div class="page-title">
        <h2>Thông Tin Khách Hàng</h2>
    </div>
    <div class="col-xs-12 no-padding">
        <div class="frm-cnt-tab frm-eth">
            <table class="table table-striped table-eth">
                <tr>
                    <th colspan="2">Tóm lược về @Model.Email</th>
                </tr>
                <tr>
                    <td>Link Giới thiệu</td>
                    <td><strong>@Model.ReferralLink</strong></td>
                </tr>
                <tr>
                    <td>Tài khoản được tạo</td>
                    <td><strong>@Model.CreatedDate.ToString()</strong></td>
                </tr>
                <tr>
                    <td>Lần truy cập cuối</td>
                    <td><strong>@Model.LastLoginDate.ToString()</strong></td>
                </tr>
                <tr>
                    <td>Địa chị IP</td>
                    <td><strong>@Model.IPAddress</strong></td>
                </tr>
                <tr>
                    <td>Số điện thoại</td>
                    <td>
                        @{
                            if (string.IsNullOrEmpty(Model.Phone))
                            {
                                <strong class="text-success">
                                    Chưa xác minh
                                </strong>
                            }
                            else
                            {
                                <strong class="text-success">
                                    Đã xác minh
                                </strong>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>Facebook</td>
                    <td>
                        @{
                            if (string.IsNullOrEmpty(Model.UrlFaceBook))
                            {
                                <strong class="text-success">
                                    Chưa gửi
                                </strong>
                            }
                            else
                            {
                                <strong class="text-success">
                                    Đã gửi
                                </strong>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>Twitter</td>
                    <td>
                        @{
                            if (string.IsNullOrEmpty(Model.UrlTwitter))
                            {
                                <strong class="text-success">
                                    Chưa gửi
                                </strong>
                            }
                            else
                            {
                                <strong class="text-success">
                                    Đã gửi
                                </strong>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @if (Model.CanShowBalance == true)
    {
        <div class="col-xs-12 no-padding profile-block-cnt">
            <table class="table table-striped table-eth">
                <tr>
                    <th>Loại tiền</th>
                    <th>Số dư</th>
                    <th>Đóng băng</th>
                    <th>Link</th>
                </tr>
                @{
                    foreach (var assetBalance in Model.AssetBalances)
                    {
                        <tr>
                            <td>@assetBalance.AssetType</td>
                            <td>@(assetBalance.Balance - assetBalance.FrozenBalance)</td>
                            <td>@assetBalance.FrozenBalance</td>
                            <td><a href="@Url.RouteUrl("Deposit")/@assetBalance.AssetType">Deposit</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
    @if (Model.CanShowCommission == true)
    {
        <div class="col-xs-12 no-padding profile-block-cnt">
                @{Html.RenderPartial("~/Views/Account/_Commission.cshtml", Model.UserId);}
        </div>
    }

    <div class="col-xs-12 no-padding profile-block-cnt">
        <div class="frm-cnt-tab frm-eth">
            <h3>Mua @Model.AssetTypeId từ @Model.Email</h3>
            @{Html.RenderPartial("_BuyCoinPartial", Model.AssetTypeId);}
        </div>
    </div>
    <div class="col-xs-12 no-padding profile-block-cnt">
        <div class="frm-cnt-tab frm-eth">
            <h3>Bán @Model.AssetTypeId cho @Model.Email</h3>
            @{Html.RenderPartial("_SellCoinPartial", Model.AssetTypeId);}
        </div>
    </div>
</div>