﻿@model Narnia.Web.Models.AccountViewModels.UserViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="form-content"> 
        <h3>Đăng ký tài khoản</h3>
        <br />
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.ReferenceCode)

            @*<div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter Username", id = "username", name = "UserName", required = "required" })
            </div>*@
            <div class="form-group ">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email", id = "email", name = "Email", required = "required" })
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter FirstName" })
            </div>
            <div class="form-group ">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter LastName" })

            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", placeholder = "Enter PassWord", name = "PassWord", id = "password", required = "required" })
            </div>
            <div class="form-group ">

                @Html.PasswordFor(m => m.ConfirmPassWord, new { @class = "form-control", placeholder = "Enter PassWord", name = "ConfirmPassWord", id = "re_password", required = "required" })
            </div>
            <div class="form-group">
                <input type="submit" id="register" class="btn btn-primary" value="Register Now">
            </div>
            <div class="form-group"><a href="#">Already have an account?</a></div>
        }
</div>