﻿@model Narnia.Web.Models.EvidenceViewModel

@{
    ViewData["Title"] = "Verify user";
}

<h2>Cập nhật bằng chứng</h2>

<hr />

<div class="col-md-12">
    <div class="flash-messages">
        <div role="alert" class="alert alert-warning">
            <button type="button" class="close">
                @*<span aria-hidden="true">×</span>*@
                @*<span class="sr-only">Close alert</span>*@
            </button>
            Bạn phải xác minh tài khoản để mua Bitcoin từ quảng cáo này. Bằng cách gửi cho chúng tôi hình ảnh CMND của bạn.
        </div>
    </div>
</div>

<div class="col-md-12">
    <div role="alert" class="alert alert-warning">
        <div>
            <span>Hình ảnh xác minh cần thoả mản các điều kiện sau:</span>
            <ul>
                <li>Chưa qua chỉnh sửa</li>
                <li>Có độ phân giải tối thiểu 2 megapixels</li>
                <li>Rõ nét, không bị mờ</li>
            </ul>
            <p>Hình ảnh xác minh không thoả mãn các điều kiện trên sẽ không bao giờ được chấp nhận.</p>
        </div>
    </div>
</div>

<div class="col-md-12">
    <form asp-controller="Account" asp-action="Verify" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Transcode)
        <div class="form-group">
            <input type="file" id="file" asp-for="Image"/>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Cập nhật bằng chứng" class="btn btn-primary" />
        </div>
    </form>
</div>