﻿@model string
@{
    var email = ViewBag.Email as string;
    ViewData["Title"] = "Activate";
}

<div class="container">
    <div class="page-title">
        <h2>Đăng Nhập / Đăng Ký</h2>
    </div>
    <section data-reactroot="" class="page-content login-proceed-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info fade-and-collapsen">
                        <span>
                            <span>
                                <!-- react-text: 9 -->Chúng tôi đã gửi liên kết để đăng nhập vào
                                <!-- /react-text -->
                                <strong>@email</strong>
                                <!-- react-text: 11 -->. Bấm vào nút bên trong email là xong. Kiểm tra cả hộp thư rác nếu bạn không tìm thấy email trong hộp thư chính.
                                <!-- /react-text -->
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

