﻿@using Narnia.Web.Models.BankAccounts
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BankDepositViewModel
@{
    string bankAccString = JsonConvert.SerializeObject(Model.SystemBankAccounts);

}

<form asp-controller="BankAccount" asp-action="DepositVNDPost" method="post" id="fileUploadForm" enctype="multipart/form-data">
    <div class="main-content">
        <div class="container">
            <div class="col-xs-12">
                <h2>Thông Tin Tiền Gửi Nhanh</h2>
                <div class="tab-content">
                    <div class="form-group" style="height:22px">
                        <label class="col-md-3 control-label">Số Tiền VND</label>
                        <div class="col-md-9">
                            <input id="Amount" name="Amount" type="text" value="" style="width:300px" />
                        </div>
                    </div>
                    <div class="form-group" style="height:22px">
                        <label class="col-md-3 control-label">Số Lệnh Giao Dịch/Số Bút Toán</label>
                        <div class="col-md-9">
                            <input id="OrderNo" name="OrderNo" type="text" value="" style="width:300px" />
                        </div>
                    </div>
                    <div class="form-group" style="height:25px">
                        <label class="col-md-3 control-label">Số TK Ngân Hàng Hệ Thống</label>
                        <div class="col-md-9">
                            @Html.DropDownList("SystemBank", Model.SystemBankList, new { style = "width:300px; height:25px" })
                            <p><a href="#">Dẫn đến website Ngân Hàng</a></p>
                            <div>
                                <table>
                                    <tr>
                                        <td style="width:200px; font-weight:bold">Ngân hàng</td>
                                        <td id="bankName"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold">Họ và Tên chủ Tài Khoản</td>
                                        <td id="accountName"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold;">Số tài khoản</td>
                                        <td id="accountNo"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold; height:20px"></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                    @*<div class="form-group">
            <label class="col-md-3 control-label">Số di động</label>
            <div class="col-md-9">
                <label class="col-md-3 control-label">+84*******998</label>
                <input type="checkbox" id="chk-sendsms" />
                <label for="chk-sendsms">Vui lòng gửi SMS về thông báo của bạn</label>
            </div>
        </div>*@
                    <div class="form-group" >
                        <label class="col-md-3 control-label">Chọn tập tin</label>
                        <div class="col-md-9">
                            <input type="file" id="imgEvidence" name="imgEvidence" placeholder="chọn file" />
                        </div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                        @*<div class="form-group"><a id="btn-confirm" class="btn btn-submit" href="javascript:void(0)">Xác Nhận</a></div>*@
                        <input type="submit" id="btnSubmit" value="Xác Nhận" class="btn btn-success" />
                    </div>



                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

        var bankAccounts = @Html.Raw(@bankAccString);

        $(document).ready(function () {
            $("#SystemBank").change(function () {
                var selectedVal = $(this).val();
                if (selectedVal == '0')
                    return;
                var item;
                for (var i = 0; i < bankAccounts.length; i++) {
                    if (selectedVal == bankAccounts[i].Bank.Id) {
                        item = bankAccounts[i];
                        break;
                    }
                }

                $('#bankName').text(item.Bank.BankName);
                $('#accountName').text(item.AccountName);
                $('#accountNo').text(item.AccountNo);
            });

            $('#btnSubmit').click(function (event) {
                event.preventDefault();
                var _amount = $('#Amount').val();
                var _bank = $('#SystemBank').val();
                var _orderNo = $('#OrderNo').val(); 

                if (_amount == '' || isNaN(parseFloat(_amount))) {
                    toastr.warning('Số tiền không hợp lệ');
                    return;
                }

                if (_orderNo == '') {
                    toastr.warning('Nhập Số Lệnh Giao Dịch');
                    return;
                }

                if (_bank == '' || _bank == '0') {
                    toastr.warning('Vui lòng chọn Ngân Hàng');
                    return;
                }
               
                var form = $('#fileUploadForm')[0];
                var formdata = new FormData(form);
                formdata.append("BankId", _bank);
                formdata.append("Amount", _amount);
                formdata.append("OrderNo", _orderNo);

                $.ajax({
                    enctype: 'multipart/form-data',
                    cache: false,
                    type: "POST",
                    url: 'postdeposit',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    timeout: 600000,
                    success: function (response) {
                        if (response ==true)
                            toastr.success("Process request successfully");
                        else
                            toastr.error("Cannot Process request information. Please check again!");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //toastr.error(xhr.responeText);                        
                    }
                });

            });
        });

</script>


