﻿@{
    ViewBag.Title = "Commission Levels";
    Html.SetActiveMenuItemSystemName("CommissionLevels");
}
@using Narnia.Web.Framework.Models
@*@using Narnia.Web.Areas.Admin.Models.Localization*@
@model PagingSearchModel
<div class="content-header clearfix">
    <h1 class="pull-left">
        Commission Levels
    </h1>
</div>
<form asp-controller="Commission" asp-action="CommissionLevels" method="post" id="level-form">
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="levels-grid"></div>
                        <script>
                    $(document).ready(function() {
                        $("#levels-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("CommissionLevels", "Commission"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: function() {
                                            var data = {
                                            };
                                            addAntiForgeryToken(data);
                                            return data;
                                        }
                                    },
                                    create: {
                                        url: "@Html.Raw(Url.Action("CommissionLevelAdd", "Commission"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("CommissionLevelUpdate", "Commission"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("CommissionLevelDelete", "Commission"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "data",
                                    total: "total",
                                    errors: "errors",
                                    model: {
                                        id: "levelId",
                                        fields: {
                                            levelId: { editable: true, type: "number" },
                                            levelName: { editable: true, type: "string" },
                                            commRate: { editable: true, type: "number" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "create" || e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(Model.PageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(Model.AvailablePageSizes)],
                                @await Html.PartialAsync("_GridPagerMessages")
                            },
                            toolbar: [{ name: "create", text: "Add New Record" }],
                            editable: {
                                confirmation: "Are you sure you want to delete?",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "levelId",
                                    title: "Level",
                                    width: 300
                                }, {
                                    field: "levelName",
                                    title: "Name",
                                    width: 300

                                }
                                , {
                                    field: "commRate",
                                    title: "Commission rate",
                                    width: 100

                                }, {
                                    command: [
                                        {
                                            name: "edit",
                                            text: {
                                                edit: "Edit",
                                                update: "Update",
                                                cancel: "Cancel"
                                            }
                                        }, {
                                            name: "destroy",
                                            text: "Delete"
                                        }
                                    ],
                                    width: 200
                                }
                            ]
                        });
                    });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

