﻿@using Narnia.Web.Areas.Admin.Models.Commissions;
@model CommissionHistoryBySearchModel;
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("CommissionHistory");

}

<form asp-controller="Commission" asp-action="History" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            <text>Commission History</text>
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="StartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="StartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="EndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="EndDate" />
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="UserName" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="UserName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="Statuses" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-select asp-for="Statuses" asp-items="Model.AvailableStatuses" asp-multiple="true" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-history" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="history-grid"></div>
                        <script>
                            $(document).ready(function() {
                                $("#history-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("History", "Commission"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function () {
                                                    var data = {
                                                        StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                                        EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                                        UserName: $('#@Html.IdFor(model => model.UserName)').val(),
                                                        Statuses: $('#@Html.IdFor(model => model.Statuses)').val(),
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "data",
                                            total: "total",
                                            errors: "errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    //editable: {
                                    //    confirmation: "Are you sure you want to delete this item?",
                                    //    mode: "inline"
                                    //},
                                    scrollable: false,
                                    //dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "userName",
                                            title: "UserName",
                                            width: 100
                                        },
                                        {
                                            field: "alias",
                                            title: "Alias",
                                            width: 80
                                        },
                                        {
                                            field: "commissionAmount",
                                            title: "CommissionAmount",
                                            width: 100
                                        },
                                        {
                                            field: "assetTypeId",
                                            title: "AssetType   ",
                                            width: 100
                                        },
                                        {
                                            field: "commissionLevel",
                                            title: "CommissionLevel",
                                            width: 80
                                        },
                                        {
                                            field: "commissionRate",
                                            title: "CommissionRate",
                                            width: 80
                                        },
                                        {
                                            field: "createdDate",
                                            title: "Created On",
                                            width: 150,
                                            type: "date",
                                            format: "{0:G}"
                                        }, {

                                            field: "updateDate",
                                            title: "Updated On",
                                            width: 150,
                                            type: "date",
                                            format: "{0:G}"
                                        }
                                        ,
                                        {
                                            field: "status",
                                            title: "Paided",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(status) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        },
                                        //{
                                        //    field: "beneficiaryUserId",
                                        //    title: "View",
                                        //    width: 50,
                                        //    headerAttributes: { style: "text-align:center" },
                                        //    attributes: { style: "text-align:center" },
                                        //    template: '<a class="btn btn-default" href="~Admin/Account/Edit/#=beneficiaryUserId#"><i class="fa fa-eye"></i>View</a>'
                                        //}
                                    ]
                                } );
                            });
                        </script>
                        <script>
                            var selectedIds = [];
                            var reportAggregates = "";

                            $(document).ready(function () {
                                //search button
                                $('#search-history').click(function () {
                                    //search
                                    var grid = $('#history-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    return false;
                                });

                                $("#@Html.IdFor(model => model.UserName)").keydown(function (event) {
                                    if (event.keyCode === 13) {
                                        $("#history-offers").click();
                                        return false;
                                    }
                                });
                            });

                            @*function approveAdvertisement(id) {
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: '@Url.Action("ApproveAdvertisement")',
                                    dataType: "json",
                                    data: {
                                        Id:id,
                                        Type: $('#@Html.IdFor(model => model.Type)').val()
                                    },

                                    success: function (response) {
                                        if (response == true) {
                                            $("#search-history").click(); // search lai
                                        } else {
                                            toastr.error("An error occurred while processing your request. Please try again later.");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        toastr.error("An error occurred while processing your request. Please try again later.");
                                    }
                                });
                            }*@
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>