﻿body {
    color: #666;
    background-color: #f5f5f5;
    margin-top: 70px;
    font-family: Oswald, "Myriad Pro", Helvetica,  sans-serif;
}
a, a:hover, a:focus{
    text-decoration: none;
    outline: 0 none;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    color: #111111;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
/*Header*/
.header {
    background-color:#223136; 
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    position: relative;
    min-height: 70px;
}
.logo h1{
    margin: 10px 0 0 0;
    line-height: 36px;
    height: 60px;
}
@media (max-width: 767px){
    .logo h1{
        margin-top: 20px;
        height: 50px;
    }
}
.logo a{
    color: #ffffff;
    text-transform: uppercase;
}
.logo span{
    font-size: 12px;
    font-style: italic;
    color: #157fbf;
    text-transform: none;
    line-height: 16px;
    position: relative;
    top: -20px;
}

/*Menu*/
.menuBtn{
    background: none;
    border: none;
    display: inline-block;
    margin-top: 25px;    
    cursor: pointer;
}
.menuBtn span{
    background-color: #666666;
    display: block;
    height: 3px;
    margin: 0 auto 5px;
    width: 30px;
}
.nav_main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 200px;
    background-color: #25292C;
    overflow-y: auto;
    position: fixed;
    top: 0;    
    left: -350px;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.nav_main.active {
    left: 0;
}
.nav_main .primary {
    overflow-y: auto;
}
.nav_main .primary li {    
    background-color: #182027;  
    border-top: 1px solid #454545;
    border-bottom: 1px solid #25292C;
}
.nav_main .primary li a{
    color: #b0bec5; 
    padding: 10px 25px;
    display: block;
    text-transform: uppercase;
}
.nav_main .primary>li>a>span {
    margin-right: 10px;
}
.nav_main .primary li a:hover, .nav_main .primary li.active a{
    color: #e68f00;
}
.nav_main .primary>li>i{    
    font-size: 21px;
    color: rgba(255, 255, 255, 0.25);
    text-align: center;
    width: 35px;
    height: 40px;
    padding-top: 12px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    -ms-transition: transform .3s;
    transition: transform .3s;
}

.nav_main .primary li.active,.nav_main .primary li.menu-title {
    background-color: #223136;
}
.nav_main .primary li.menu-title{
    color: #fff;
    padding: 10px 25px;
    display: block;
}

.nav_main .primary li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.nav_main .primary li.active i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9995;
}

/*Main Content*/
.main{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    min-height: 400px;
}

.banner-text{
    background: #192028 url("../images/bg-price.jpg") no-repeat 50% 10%;
    background-size: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
}

.col-sell, .col-buy{
    text-align: center;
}
.col-sell h2, .col-buy h2{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}
.col-sell h3, .col-buy h3{
    font-size: 16px;
    margin: 0 0 10px 0;
}
.col-sell h3{
    color: #20872c;
}
.col-buy h3{
    color: #d10101;
}
.col-sell .btn{
    background: #20872c;
    border-bottom-color: #00a513;
}
.banner-text .btn{
    padding: 5px 10px;
}

@media (min-width: 1280px){
    .banner-text{
        position: relative;
        height: 144px;
        overflow: hidden;
        margin-top: -144px;
        background: rgba(25,32,40,.6);
    }
    .col-sell h2, .col-buy h2{
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
    }
    .col-sell h3, .col-buy h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .banner-text .btn{
        padding: 10px 20px;
    }
}


.main-content{
    display: block;
}
.title-block{
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #e3100e;
    background: #e2e2e2;
    padding: 15px 40px;
    margin: 5px auto;
    height: 70px;
    position: relative;
}
.title-block::before{  
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    display: block;
    width: 30px;
    height: 70px;
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    background: #e2e2e2;
}
.title-block::after{ 
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    display: block;
    width: 30px;
    height: 70px;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    background: #e2e2e2;
}
.title-block .checkbox{
    margin: 0;
}
.title-block label{
    font-size: 10px;
    font-style: italic;
    color: #666666;
    vertical-align: top;
}
.title-block.style-2{
    padding: 20px 40px;
    line-height: 30px;
}
@media (min-width: 320px) and (max-width: 414px){
    .title-block.style-2{
        font-size: 16px;
    }
}
.list-offer{
    overflow: hidden;
    padding: 0;
    margin: 10px 0;
}
.list-offer li{
    list-style: none;
    padding: 15px 0;
    margin-bottom: 1px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #ddd;
    width: 100%;
    display: block;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.list-offer.seller li{
    border-left: 3px solid #e07b04;
}
.list-offer li:first-child{
    border-top: 0 none;
}
.list-offer li:last-child{
    border-bottom: 0 none;
}
.list-offer li p:last-child{
    margin-bottom: 0;
}
.list-offer span{
    margin: 0 10px 0 0;
}
.text-green{
    color: #20872c;
}
.text-orange{
    color: #e68f00;
}
.text-red{
    color: #ff0000;
}
.badge-seller{
    background: #20872c;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-sell, .btn-buy{
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #111;
}
.btn-sell{
    border-bottom: 3px solid #f0a62b;
    background: #e07b04;
}
.btn-sell:hover, .btn-sell:focus{
    color: #ffffff;
    background: #111111;
}
.list-offer .btn-sell{
    float: right;
}

.list-offer li:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.badge-seller.slow{
    background-color: #010101;
    color: #ffffff;
}

.list-offer.buyer li{
    border-left: 3px solid #d43f3a;
}
.btn-buy{
    border-bottom: 3px solid #d43f3a;
    background: #d10101;
}
.btn-buy:hover, .btn-buy:focus{
    color: #ffffff;
    background-color: #111111;
}
.list-offer .btn-buy{
    float: right;
}
.badge-buyer{
    background-color: #730a77;
    color: #eeeeee;
    font-weight: 400;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination{
    margin: 0 0 20px 0;
}

/*Customer*/
.list-customer {
    padding: 0;
    margin: 20px 0;
}
.list-customer li{
    list-style: none;
}
.list-customer li small{
    font-style: italic;
}
.img-customer{
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    box-shadow: 0 3px 3px #999;
}

/*Footer*/
footer{
    border-top: 3px solid #d4d4d4;
    background: #223136;
    color: #858585;
    width: 100%;
}
.footer-logo{
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 0 5px 0;
    margin: 0;
}
.social{
    padding: 0;
    margin: 0;
    text-align: center;
}
.social li{
    display: inline-block;
    margin: 3px 10px;
}
.social .fa{
    font-size: 24px;
    color: #ffffff;
}
.copyright{
    text-align: center;
    font-size: 12px;
}
.footer-nav{
    padding: 10px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.footer-nav li{
    display: inline-block;
    border-right: 1px solid #858585;
    line-height: 16px;
    margin-bottom: 5px;
}
.footer-nav li:last-child{
    border-right: 0 none;
}
.footer-nav li a{
    color: #858585;
    padding: 0 10px;
}

/*Login Form*/
.page-title{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.frm-cnt{
    padding-top: 50px;
}
.btn-submit{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #f0a62b;
    background: #e07b04;
    color: #ffffff;
}
.btn-submit:hover, .btn-submit:focus{
    color: #ffffff;
    background: #111111;
}

/*Scrolling tabs*/
#nav-tab > .container{
    padding: 20px 10px;
    width: 100% !important;
}
.tab-content .container{
    padding: 0;
    position: relative;
    width: 100% !important;
}
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:0px;
    height:36px;
}
.list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-top:0px;
    margin-bottom: 5px;
}
.list li{
    display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}
.nav.list > li > a{
    padding: 5px 10px;
}
.scroller {
    text-align:center;
    cursor:pointer;
    display:none;
    padding:4px 10px;
    vertical-align:middle;
    background: #f5f5f5;
    color: #858585;
    position: absolute;
    top: 23px;
    z-index: 900;
}
.scroller:hover, .scroller:focus{
    color: #111111;
}
.scroller-right{
    float:right;
    right: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.scroller-left {
    float:left;
    left: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.scroller .glyphicon{
    font-size: 16px;
    font-weight: 400;
    width: 10px;
    height: 10px;
}

.tab-content{
    padding: 0 15px;
}
.tab-content .page-title h2{
    margin-top: 0;
}