﻿@model Narnia.Web.Areas.Admin.Models.Account.UserModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.UplineUsers.Count > 0)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-9">
                        <ul class="breadcrumb">
                            @foreach (var upline in Model.UplineUsers)
                            {
                                <li><a href="@Url.Action("Edit","Account",new { Id=upline.Id})">@upline.UserName</a></li>
                            }
                            <li class="active">@Model.UserName</li>
                        </ul>
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Email" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="Email" asp-required="true" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="IDNumber" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="IDNumber" asp-required="true" />
                    <span asp-validation-for="IDNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Phone" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="Phone" asp-required="true" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="CreatedDate" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="CreatedDate" asp-required="true" />
                    <span asp-validation-for="CreatedDate"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="UrlFaceBook" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="UrlFaceBook" asp-required="true" />
                    <span asp-validation-for="UrlFaceBook"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="UrlTwitter" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="UrlTwitter" asp-required="true" />
                    <span asp-validation-for="UrlTwitter"></span>
                </div>
            </div>
        </div>
    </div>
</div>
