﻿@model Narnia.Web.Areas.Admin.Models.Account.UserModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="commission-grid"></div>
            <script>
                            $(document).ready(function() {
                                $("#commission-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("GetHistoryCommissionByUserId", "Commission"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function() {
                                                    var data = {
                                                        UserId: '@Model.CommissionHistorySearchModel.UserId'
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "data",
                                            total: "total",
                                            errors: "errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.CommissionHistorySearchModel.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.CommissionHistorySearchModel.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    //editable: {
                                    //    confirmation: "Are you sure you want to delete this item?",
                                    //    mode: "inline"
                                    //},
                                    scrollable: false,
                                    //dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "refFromUserName",
                                            title: "RefFromUserName",
                                            width: 100
                                        },
                                        {
                                            field: "refAlias",
                                            title: "RefAlias",
                                            width: 80
                                        },
                                        {
                                            field: "commissionAmount",
                                            title: "CommissionAmount",
                                            width: 100
                                        },
                                        {
                                            field: "assetTypeId",
                                            title: "AssetType   ",
                                            width: 100
                                        },
                                        {
                                            field: "commissionLevel",
                                            title: "CommissionLevel",
                                            width: 80
                                        },
                                        {
                                            field: "commissionRate",
                                            title: "CommissionRate",
                                            width: 80
                                        },
                                        {
                                            field: "createdDate",
                                            title: "Created On",
                                            width: 150,
                                            type: "date",
                                            format: "{0:G}"
                                        }, {

                                            field: "updateDate",
                                            title: "Updated On",
                                            width: 150,
                                            type: "date",
                                            format: "{0:G}"
                                        }
                                        ,
                                        {
                                            field: "status",
                                            title: "Paided",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(status) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        }
                                    ]
                                } );
                            });
            </script>
        </div>
    </div>

</div>
