﻿@model Narnia.Web.Areas.Admin.Models.Account.UserModel

<div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="wallets-grid"></div>
                <script>
                            $(document).ready(function() {
                                $("#wallets-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "Wallet"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function() {
                                                    var data = {
                                                        UserId: '@Model.UserAssetBalanceSearchModel.UserId'
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "data",
                                            total: "total",
                                            errors: "errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.UserAssetBalanceSearchModel.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.UserAssetBalanceSearchModel.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "Are you sure you want to delete this item?",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    //dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "userName",
                                            title: "User",
                                            width: 80
                                        },
                                        {
                                            field: "walletAddress",
                                            title: "Wallet Address",
                                            width: 250
                                        },
                                        {
                                            field: "amount",
                                            title: "Amount",
                                            width: 80
                                        },
                                        {
                                            field: "assetTypeId",
                                            title: "Type",
                                            width: 80
                                        },
                                        {
                                            field: "createdDate",
                                            title: "Created On",
                                            width: 150,
                                            type: "date",
                                            format: "{0:G}"
                                        }
                                    ]
                                } );
                            });
                </script>
            </div>
        </div>

</div>
