﻿@model Narnia.Web.Areas.Admin.Models.Account.UserModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <narnia-tabs id="user-edit">
            <narnia-tab asp-name="tab-info" asp-title="Info" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</narnia-tab>
            @if (Model.Id > 0)
            {
                <narnia-tab asp-name="tab-balances" asp-title="Balance">@await Html.PartialAsync("_CreateOrUpdate.Balances", Model)</narnia-tab>
                <narnia-tab asp-name="tab-deposit" asp-title="Deposit History">@await Html.PartialAsync("_CreateOrUpdate.Deposit", Model)</narnia-tab>
                <narnia-tab asp-name="tab-withdrawal" asp-title="Withdrawal History">@await Html.PartialAsync("_CreateOrUpdate.Withdrawal", Model)</narnia-tab>
                <narnia-tab asp-name="tab-commissoin" asp-title="Commission History">@await Html.PartialAsync("_CreateOrUpdate.Commission", Model)</narnia-tab>
            }
        </narnia-tabs>
    </div>
</div>