﻿@model Narnia.Web.Areas.Admin.Models.Account.UserModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.UserId)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">User information</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IDNumber, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.IDNumber, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CreatedDate, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.CreatedDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UrlFaceBook, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.UrlFaceBook, new { @class = "form-control disabled", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UrlTwitter, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.UrlTwitter, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Image, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <img src="@Model.ImageDisplay" alt="avatar image" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    @if (!string.IsNullOrEmpty(@Model.ImageDisplay))
    {
        <button type="button" name="save" class="btn btn-success" onclick="updateUser(this)" id="btn-update-user">Verify Image</button>
    }
</div>

<script type="text/javascript">
    function updateUser(source) {
        var frmLUpdateUser = $("#frmLUpdateUser");
        var formData = frmLUpdateUser.serialize();
        if (source != null) {
            var buttonName = $(source).attr('name');
            var param = {};
            param[buttonName] = $(source).attr('value');
            formData = formData + '&' + $.param(param);
        }

        $("#btn-update-user").attr("disabled", "disabled");
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Admin/Account/Edit",
            data: formData,
            success: function (data) {
                if (data) {
                    alert("Process request successfully");
                    console.log("success");
                    //toastr.success("Process request successfully");
                    resourceTable.ajax.reload();
                    $('#frm-edit-user').modal('hide');
                } else {
                    alert("Cannot Process request information. Please check again!");
                    console.log("error");
                    //toastr.error("Cannot Process request information. Please check again!");
                    $('#frm-edit-user').modal('hide');
                }
                $("#btn-update-user").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
                $("#btn-update-user").removeAttr("disabled");
            }
        });
    }
</script>