﻿@model Narnia.Web.Areas.Admin.Models.ChangePassViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>
<hr />

<div class="login-box">
    <form asp-area="Admin" asp-action="ChangePassword" asp-controller="Account" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="login-box-body">
            <input type="hidden" asp-for="UserName" class="form-control" />
            <div class="form-group has-feedback">
                <label asp-for="NewPassWord" class="control-label"></label>
                <input asp-for="NewPassWord" class="form-control" />
                <span asp-validation-for="NewPassWord" class="text-danger"></span>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="ConfirmNewPassWord" class="control-label"></label>
                <input asp-for="ConfirmNewPassWord" class="form-control" />
                <span asp-validation-for="ConfirmNewPassWord" class="text-danger"></span>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                </div>
                <div class="col-xs-6">
                    <a asp-controller="Home" asp-action="Index" class="col-xs-12 btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

