﻿@model List<Narnia.Web.Models.BankAccountViewModel>
@{
    Layout = "";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Bank Account Information</h4>
</div>
<div class="modal-body">
    <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>BankName</th>
                        <th>BankCode</th>
                        <th>AccountName</th>
                        <th>AccountNo</th>
                        <th>Branch</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BankName</td>
                        <td>@item.BankCode</td>
                        <td>@item.AccountName</td>
                        <td>@item.AccountNo</td>
                        <td>@item.Branch</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
</div>
