﻿@using Narnia.Web.Areas.Admin.Models
@model UserLoginViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNonLogin.cshtml";
}

<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="login-logo">
        <b>Vinaex</b>
    </div>
    @using (Html.BeginForm("", "", FormMethod.Post, new { action = "/Admin/Account/Login", id = "admin-login-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="login-box-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                </div>
                <!-- /.col -->
            </div>
        </div>
    }
</div>
<div class="col-md-4"></div>

