﻿@model Narnia.Web.Areas.Admin.Models.Account.UserModel
@{
    Layout = "";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Xác nhận bằng chứng</h4>
</div>
<div class="modal-body">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>user</th>
                    <th>image</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Model.UserName</td>
                <td>
                    <img src="@Model.ImageDisplay" width="250" height="250" />
                    @*<img src="@Url.Action("GetFileThumbnail", "Account", new {  userId = @Model.UserId,width=250, height=250})" />*@
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    <form asp-area="Admin" asp-controller="Account" asp-action="VerifyEvidence" method="post">
        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        <button type="submit" class="btn btn-primary" id="btn-update">Verify</button>
    </form>
</div>
