﻿@model QuickBuySellViewModel
@{
    ViewData["Title"] = "Buy-Bitcoin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var quickBuyInfo = Model;
    var sFeeWithdrawal = "Phí rút " + quickBuyInfo.CoinName + " 0.0050 " + quickBuyInfo.CoinName;
}

<script src="~/lib/jsrender/jsrender.js"></script>
<script src="~/js/jsNarniaReport.js"></script>
<script src="~/js/jsQuickBuySellReport.js"></script>

<div class="main-content">
    <div class="container">
        <div class="col-xs-12 no-padding">
            <nav id="nav-tab">
                <ul class="nav nav-tabs nav-tabs-bc" role="tablist">
                    <li role="presentation" class="tab-buy-bc active">
                        <a href="#tab-buy-bc" data-toggle="tab" aria-expanded="false">Mua Ngay</a>
                    </li>
                    <li role="presentation" class="tab-sell-bc">
                        <a id="lnk-quick-sell-bc" href="#tab-sell-bc" data-toggle="tab" aria-expanded="false">Bán Ngay</a>
                    </li>
                </ul>
            </nav>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <div class="block-adment" style="padding-left:10px;">
                        <div class="row">
                            <div class="col-xs-5"><label>Số lượng  @quickBuyInfo.CoinName *</label></div>
                            <div id="pnl-Price-buy" class="col-md-5">
                                <div class="col-sm-5"><label>Nhận @quickBuyInfo.CoinName vào *</label></div>
                                                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <input id="txt-coin-number" class="form-control" name="coin-number" value="" />                                    
                                </div>
                                <div class="col-md-5">
                                    <span id="estimate-amount-buy" class="text-green"></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <select id="cboReceiveWallet">
                                    <option value="1">Ví VINAEX của bạn</option>
                                    <option value="2">Ví @quickBuyInfo.CoinName cá nhân</option>
                                </select>
                                <div id="pnl-wallet" class="row" style="display:none; padding-left:15px">
                                    <input id="txt-WalletAddress" class="form-control" value="" placeholder="Nhập địa chỉ ví @quickBuyInfo.CoinName tại đây" />
                                    <div style="background-color:#dfeffe; color:#3d94e6; line-height:25px">@sFeeWithdrawal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-adment">
                        <h3 class="text-uppercase">MUA TỪ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <ul class="list-offer buyer" id="buy-bitcoin-panel"></ul>
</div>

<script id="rpt-buy-bitcoin-item-tmpl" type="text/x-jsrender">
    {{if data.length > 0}}
    {{for data}}
    <li>
        <div class="col-xs-9 pull-left">
            <p>
                <span class="fa fa-user-circle-o"></span>
                <span class="text-uppercase">{{:userName}}</span>
                <span class="badge badge-seller">người bán nhanh</span>
            </p>
            <p>
                <span class="badge badge-seller">Yêu cầu người mua xác minh tài khoản</span>
            </p>
            <p>
                <strong>Tổng tiền: {{:amount}} @quickBuyInfo.CurrencyName</strong>
            </p>
            <p>
                <strong>Tỷ giá: {{:exchangeRate}} @quickBuyInfo.CurrencyName/</strong><span class="text-orange">@quickBuyInfo.CoinName</span> qua <span>{{:bankName}}</span>
            </p>
        </div>
        <div class="col-xs-3 pull-right no-padding">
            <a id="btn-buy" onclick="gotoTransaction({{:id}})" class="btn btn-buy">Mua Ngay</a>
            @*<a id="btn-buy" href="/offers/quicksell" class="btn btn-buy">Mua Ngay</a>*@
        </div>
    </li>
    {{/for}}
    {{else}}
    <li>        
        <span>Không có người nào muốn bán. Bạn có thể</span>
        <a class="btn btn-buy" onclick="gotoAdBuybitcoin('@quickBuyInfo.CoinName')">Tạo Quảng Cáo</a>
    </li>
    {{/if}}
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txt-coin-number').keyup(function () {
            var strAmount = '';
            if ($(this).val() != '') {
                var coinNumber = parseFloat($(this).val());
                if (isNaN(coinNumber)) coinNumber = 0;
                if (coinNumber > 0) {
                    strAmount = '<span>&asymp;</span> ' + (@quickBuyInfo.ExchangeRate * coinNumber).toString() + ' USD';
                    $('#estimate-amount-buy').html(strAmount);
                    loadquickBuyer(coinNumber);
                }
                else {
                    $('#buy-bitcoin-panel').html('');
                    $('#estimate-amount-buy').html('');
                }
            }

            $('#estimate-amount-buy').val(strAmount);
        });

        $('#lnk-quick-sell-bc').click(function () {
            window.location.href = "/quick/sell-bitcoin";
        });

        $('#cboReceiveWallet').change(function () { 
            if ($(this).val() == "2")
                $('#pnl-wallet').show();
            else
                $('#pnl-wallet').hide();
        });
    });

    function loadquickBuyer(coinNumber) {
        var _sellers = new QuickBuySellReport(1, coinNumber);
        _sellers.init();
        _sellers.loadData();
    }

    function gotoTransaction(id) {                
        @*$.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("quicksell", "offers")',
            data: { AdId: id, coinNumber: parseFloat($('#txt-coin-number').val()), walletAddress: $('#txt-WalletAddress').val() },
            success: function (result) {
            }
        });*@    

        var url = '/offers/quickbuy/' + id.toString() + '/' + $('#txt-coin-number').val();
        if ($('#txt-WalletAddress').val() != '')
            url += '/' + $('#txt-WalletAddress').val();
        window.location.href = url;        
    }

    function gotoAdBuybitcoin(id) {       

        var url = '/Home/BuySellAdvertisement/' + id.toString();       
        window.location.href = url;
    }
</script>
