﻿@model QuickBuySellViewModel
@{
    ViewData["Title"] = "Sell-Bitcoin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var quickSellInfo = Model;
}

<script src="~/lib/jsrender/jsrender.js"></script>
<script src="~/js/jsNarniaReport.js"></script>
<script src="~/js/jsQuickBuySellReport.js"></script>

<div class="main-content">
    <div class="container">
        <div class="col-xs-12 no-padding">
            <nav id="nav-tab">
                <ul class="nav nav-tabs nav-tabs-bc" role="tablist">
                    <li role="presentation" class="tab-buy-bc">
                        <a id="lnk-quick-buy-bc" href="#tab-buy-bc" data-toggle="tab" aria-expanded="false">Mua Ngay</a>
                    </li>
                    <li role="presentation" class="tab-sell-bc active">
                        <a href="#tab-sell-bc" data-toggle="tab" aria-expanded="false">Bán Ngay</a>
                    </li>
                </ul>
            </nav>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <div class="block-adment">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-sm-5 col-xs-7"><label>Số lượng  @quickSellInfo.CoinName *</label></div>
                                    <div class="input-group">
                                        <input id="txt-coin-number" class="form-control" name="coin-number" value="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <span id="estimate-amount-sell" class="text-green"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-adment">
                        <h3 class="text-uppercase">Bán Cho</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <ul class="list-offer buyer" id="buy-bitcoin-panel"></ul>
</div>

<script id="rpt-buy-bitcoin-item-tmpl" type="text/x-jsrender">
    {{if data.length > 0}}
    {{for data}}
    <li>
        <div class="col-xs-9 pull-left">
            <p>
                <span class="fa fa-user-circle-o"></span>
                <span class="text-uppercase">{{:userName}}</span>
                <span class="badge badge-seller">người thường xuyên</span>
            </p>
            <p>
                <strong>Tổng tiền: {{:amount}} @quickSellInfo.CurrencyName</strong>
            </p>
            <p>
                <strong>Tỷ giá: {{:exchangeRate}} @quickSellInfo.CurrencyName/</strong><span class="text-orange">@quickSellInfo.CoinName</span> qua <span>{{:bankName}}</span>
            </p>
        </div>
        <div class="col-xs-3 pull-right no-padding"><a onclick="gotoTransaction({{:id}})" class="btn btn-buy">Bán Ngay</a></div>
    </li>
    {{/for}}
    {{else}}
    <li>
        <span>Không có người nào muốn mua. Bạn có thể</span>
        <a class="btn btn-buy" onclick="gotoAdBuybitcoin('@quickSellInfo.CoinName')">Tạo Quảng Cáo</a>
    </li>
    {{/if}}
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txt-coin-number').keyup(function () {
            var strAmount = '';
            if ($(this).val() != '') {
                var coinNumber = parseFloat($(this).val());
                if (isNaN(coinNumber)) coinNumber = 0;
                if (coinNumber > 0) {
                    strAmount = '<span>&asymp;</span> ' + (@quickSellInfo.ExchangeRate * coinNumber).toString() + ' USD';
                    $('#estimate-amount-sell').html(strAmount);
                    loadquickSeller(coinNumber);
                }
                else { 
                    $('#buy-bitcoin-panel').html('');
                    $('#estimate-amount-sell').html('');
                }
            }

            $('#estimate-amount-sell').val(strAmount);
        });

        $('#lnk-quick-buy-bc').click(function () {
            window.location.href = "/quick/buy-bitcoin";
        });
    });

    function loadquickSeller(coinNumber) {
        var _sellers = new QuickBuySellReport(2, coinNumber);
        _sellers.init();
        _sellers.loadData();
    }
    function gotoTransaction(id) {
        
        var url = '/offers/quicksell/' + id.toString() + '/' + $('#txt-coin-number').val();       
        window.location.href = url;
    }

    function gotoAdBuybitcoin(id) {

        var url = '/Home/BuySellAdvertisement/' + id.toString();
        window.location.href = url;
    }
</script>