﻿@model LanguageSelectorModel
@using Microsoft.AspNetCore.Http
@using System.Net
@using Narnia.Core
@inject IWebHelper webHelper
@inject IHttpContextAccessor httpContextAccessor
@if (Model.AvailableLanguages.Count > 1)
{
<span class="input-group select-language">
    @{
        var rawUrl = webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request);
    }
    <select class="selectpicker" id="select-language" onchange="setLocation(this.value);">
        @foreach (var lang in Model.AvailableLanguages)
        {
            var icon = (!string.IsNullOrEmpty(lang.FlagImageFileName) && lang.FlagImageFileName.Trim().Length > 2) ? lang.FlagImageFileName.Trim().Substring(0, 2) : "";
            var selected = lang.Id.Equals(Model.CurrentLanguageId);
            var value = webHelper.ModifyQueryString(Url.Action("SetLanguage", "Common", new { langid = lang.Id }), "returnurl", rawUrl);
            if (selected)
            {
                <option data-icon="@icon" selected="selected" value="@value"></option>
            }
            else
            {
                <option data-icon="@icon" value="@value"></option>
            }
        }
    </select>

    @*<select id="select-languages" name="userlanguages" class="selectpicker" asp-items="@languages" onchange="setLocation(this.value);"></select>*@
</span>
}