﻿@using Narnia.Core.Models
@model BankAccountCreateModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.bankAccountId)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">BankAccount Admin Information</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <label class="col-md-3 control-label">Bank</label>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.BankId,@Model.banks, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Name</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account No</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.AccountNo, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Branch</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Branch, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">IsActived</label>
            <div class="col-md-9">
                @Html.CheckBoxFor(m => m.IsActived)
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    <button type="button" name="save" class="btn btn-success" onclick="submitBankAccountForm(this)" id="btn-update">
        @(Model.bankAccountId > 0 ? "Update":"Create")
    </button>
</div>

<script type="text/javascript">
    function submitBankAccountForm(source) {
        var frmEmailAccount = $("#bankaccount-form");
        var formData = frmEmailAccount.serialize();
        if (source != null) {
            var buttonName = $(source).attr('name');
            var param = {};
            param[buttonName] = $(source).attr('value');
            //formData = formData + '&' + $.param({ buttonName: $(source).attr('value') });
            formData = formData + '&' + $.param(param);
        }

        $("#btn-update").attr("disabled", "disabled");
        $.ajax({
            cache: false,
            type: "POST",
            url: frmEmailAccount.attr("action"),
            data: formData,
            success: function (data) {
                if (data.error == false) {
                    alert("Process request successfully");
                    resourceTable.ajax.reload();
                    //jQuery.noConflict();
                    $('#frm-edit-bankaccount').modal('hide');
                } else {
                    alert(data.message);
                }
                $("#btn-update").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
                $("#btn-update").removeAttr("disabled");
            }
        });
    }
</script>