﻿@using Narnia.Core.Enums;
@using Narnia.Core.Helpers
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("BankAccounts");
}

<link href="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>

<link href="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<script src="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">BankAccount Admin</h3>
    </div>
</div>

<div class="box">
    <!-- /.box-List -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <a class="btn btn-danger" data-toggle="modal" href="javascript:void(0)" id="btn-add-bankaccount"> Add new <i class="fa fa-plus"></i> </a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <br />
        <table id="tb-setting" class="table table-bordered table-striped"></table>
    </div>
</div>


<div id="frm-edit-bankaccount" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="edit-form">
                  
        </div>
    </div>
</div>

<script type="text/javascript">
        var resourceTable = null;
        $(function () {

            //$('#txtDateFrom, #txtDateTo').datepicker({
            //    autoclose: true,
            //    format: 'mm/dd/yyyy'
            //});

            resourceTable = $('#tb-setting').DataTable(
                   {
                    paging: true,
                    serverSide: true,
                       ajax:
                       {
                           url: '@Url.Action("LoadBankAccount")',
                           type: "POST",
                            //data: function (d) {
                            //    d.TransactionType = $("#TransactionType").val();
                            //    d.CoinType = $("#CoinType").val();
                            //    d.FromDate = $("#txtDateFrom").val();
                            //    d.ToDate = $("#txtDateTo").val();
                            //    d.Status = $("#Status").val()
                            //    d.TransactionCode = $("#TransactionCode").val();
                            //}
                        },
                    "searching": false,
                       "pageLength": 20,
                    "lengthMenu": [
                        [10, 15, 20, 25, 50],
                        [10, 15, 20, 25, 50] // change per page values here
                    ],
                       columns: [
                           //{ title: "Id", data: "id" },
                           { title: "BankName", data: "bankName" },
                           { title: "AccountName", data: "accountName" },
                           { title: "AccountNo", data: "accountNo" },
                           { title: "Branch", data: "branch" },
                           { title: "CreatedDate", data: "createdDate" },
                           { title: "IsActived", data: "isActived" },

                           //{
                           //    title: "Price", data: "coinPrice", render: function (data, type, fullObject) {
                           //        if (data <= 0)
                           //            return fullObject.currencyType.rate;
                           //        else
                           //            return data;
                           //    }
                           //},
                           //{ title: "Date", data: "createdDate" },
                           //{
                           //    title: "Status", data: "approved", render: function (data, type, fullObject) {
                           //        if (data == true)
                           //            return '<input type="checkbox" checked disabled="disabled">';
                           //        else
                           //            return '<a href="javascript:void(0);" onclick="approveSellAdvertise(' + fullObject.id + ')">Approved</a>';
                           //    }
                           //},
                           {
                               mRender: function (data, type, fullObject) {
                                   var Id = fullObject.id;
                                   var url = '@Url.Action("Edit")/?Id=' + Id;
                                   return '<a id="btn-update" data-toggle="modal" onclick="getResource(\'' + url + '\')" href="javascript:void(0)" class="edit"> Edit </a>';
                               }
                           }
                       ]
                });

            $("#btnSearch").click(function () {
                resourceTable.ajax.reload();
            });
          
        });
        function getResource(url) {
            $.ajax({
                url: url,
                type: "GET",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#edit-form").html(data);
                    $("#frm-edit-bankaccount").modal("show");
                },
                error: function (xhr, status, errThrow) {
                    alert(errThrow);
                }
            });
        }

    $(function () {
        $('#frm-edit-bankaccount').on('hidden.bs.modal', function (e) {
            //remove all html code:
            $("#edit-form").html('');
        })
            $("#btn-add-bankaccount").click(function () {
                var newItemUrl = '@Url.Action("Add")';
                getResource(newItemUrl);
            });
    });
        function getResource(url) {
            $.ajax({
                url: url,
                type: "GET",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#edit-form").html(data);
                    $("#frm-edit-bankaccount").modal("show");
                },
                error: function (xhr, status, errThrow) {
                    alert(errThrow);
                }
            });
        }
</script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Areas/Admin/assets/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->