﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("Home");
}

<section class="content-header">
    <h1>Welcome to administration page</h1>
</section>