﻿@{
    ViewData["Title"] = "Wallet";
}

<div class="row">
    <div class="col-lg-12">
        <div class="deposit-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Nạp ETHEREUM</h2>
                </div>
                <div class="panel-body text-center">
                    <div class="main-container">
                        <section class="coin-address">
                            <div class="address-text-line">
                                <div class="input-group-address-wrapper">
                                    <div class="input-group input-group-address">
                                        <div class="input-address">
                                            <div><a target="_blank" href="https://etherscan.io/tx/0x1075a29cd46290D155e09690Ff79486971705aBB">0x1075a29cd46290D155e09690Ff79486971705aBB</a></div>
                                        </div>
                                        <div class="input-group-addon"><button class="btn btn-default btn-copy-clipboard" title="Copy vào clipboard"><i class="icon-clipboard"></i></button></div>
                                    </div>
                                    <div class="input-group-address-note alert alert-warning text-left no-margin-bottom">
                                        <div>
                                            <span>Phí nạp</span><b class="coin_amount" data-ng-bind="vm.depositFee | currencyFormatter:$root.COIN_CURRENCY:'symbol':false:4">0.0050 ETH</b>
                                        </div>
                                        <div><span>Địa chỉ gửi tiền này chỉ chấp nhận ETH. Không gửi các loại coin khác vào nó.</span></div>
                                    </div>
                                </div>
                            </div>
                            <div id="deposit_qr_code">
                                <div class="qr text-center">
                                    <a class="mobile-app-hidden" href="ethereum:0x1075a29cd46290D155e09690Ff79486971705aBB" style="color: red;">
                                        <span>
                                            <img height="250" width="250" style="height: 250px; width: 250px;" />
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </section>
                        <button class="btn-generate-deposit-address btn btn-primary"><span>Tạo địa chỉ mới</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pending-coin-deposit-list-container">
            <!-- react-empty: 189 -->
        </div>
        <div class="deposit-coin-list-container">
            <div class="panel panel-default list-coin-deposits">
                <div class="panel-heading">
                    <h4 class="panel-title">Lịch sử nạp ETHEREUM</h4>
                </div>
                <div class="panel-body">
                    <div class="content-wrapper">
                        <div>
                            <div>
                                <div class="loading-container text-center">
                                    <div class="loading-bar"></div>
                                </div>
                                <div>
                                    <div class="no-order-message text-center">Chưa có giao dịch.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>