﻿@using Narnia.Core
@using Narnia.Core.Domain
@using Narnia.Core.Infrastructure
@using Narnia.Web.Models.Wallet

@model CoinDepositViewModel

@{
    ViewData["Title"] = "Deposit";
  
}

<section class="main">
    <div class="container deposit-container">
        <h2 class="page-title">Deposit</h2>
        <p>Please send Etherium to this wallet, our system will add Etherium to your wallet automatically.</p>
        <h2>ETH Wallet</h2>
        <p>
            @*<img src="~/images/qrcode.png" alt="" />*@
            <img src="https://api.qrserver.com/v1/create-qr-code/?size=160x160&data=ethereum:@Model.WalletAddress" />
        </p>
        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 mt-20">
            <div class="input-group">
                <input type="text" class="form-control" id="txtQrCode" name="txtQrCode" value="@Model.WalletAddress">
                <span class="input-group-addon" onclick="return copyTextToClipboard()"><i class="fa fa-copy"></i>&nbsp;Copy</span>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function copyTextToClipboard() {
        var copyText = document.getElementById("txtQrCode");
        copyText.select();
        document.execCommand("Copy");
        //toastr.warning("Copied the text: " + copyText.value).css("width", "400px");
    }
</script>

