﻿@model DepositVNDViewModel
@{
    ViewData["Title"] = "DepositVND";
}

<h2>DepositVND</h2>

<div class="col-xs-6">
    <form asp-controller="Wallet" asp-action="DepositVNDPost" method="post">
        <div class="form-group">
            <label>BankId Admin</label>
            @Html.TextBoxFor(x => x.BankId)
        </div>
        <div class="form-group">
            <label>Amount</label>
            @Html.TextBoxFor(x => x.DepositAmount)
        </div>
        <button type="submit">button</button>
    </form>
</div>