﻿@model WithdrawalViewModel
@{
    ViewData["Title"] = "Rút tiền VND";
}

<h2>Rút tiền VND</h2>

<ul>
    <li>1.Chọn tại khoản</li>
    <li>2.Nhận thông tin
    <li>3.Xác nhận</li>
</ul>

<div class="col-xs-6">
    <form asp-controller="Wallet" asp-action="WithdrawalVNDPost" method="post">
        <div class="form-group">
            <label>BankId</label>
            @Html.TextBoxFor(x => x.BankId)
        </div>
        <div class="form-group">
            <label>Amount</label>
            @Html.TextBoxFor(x => x.WithdrawalAmount)
        </div>
        <button type="submit">button</button>
    </form>
</div>