﻿@{
    ViewData["Title"] = "Wallet";
}

<link href="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>

<link href="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<script src="~/Areas/Admin/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>

<div class="main-content">
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Rút tiền</a></li>
            <li><a data-toggle="tab" href="#deposit">Nạp tiền</a></li>
            <li><a data-toggle="tab" href="#historyTransaction">Lịch sử giao dịch</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <vc:withdraw></vc:withdraw>
            </div>
            <div id="deposit" class="tab-pane fade">
                <vc:deposit></vc:deposit>
            </div>
            <div id="historyTransaction" class="tab-pane fade">
                <div class="tab-pane active">
                    @{ await Html.RenderPartialAsync("_HistoryWalletTransaction", 0);}
                </div>
            </div>
        </div>
    </div>
</div>  