﻿@model Narnia.Web.Models.InfoAdvertisementDetailViewModel
@using Narnia.Core.Enums
@{
    ViewData["Title"] = "Chi tiết giao dịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.TransIsValid)
{
    <p> You are buying @Model.AmountCoin.ToString("G29") @Model.AssetTypeId from <a href="/Account/Profile?userid=@Model.UserIdAds" target="_blank">@Model.Alias</a>. Bitcoin of the seller is already locked and secured for this trade. Please send payment to the seller then confirm bellow. After the trade is completed, your Bitcoin will be send to @Model.WalletAddress </p>

    <div class="form-group">
        <div class="col-xs-6">
            @if (Model.EvidenceId.HasValue && Model.IsAllowViewEvidence)
            {
                @*<img src="@Url.Action("getfile", "offers", new {id = @Model.EvidenceCode})" width="250" height="250" />*@
                <img src="@Url.Action("GetFileThumbnail","Transaction", new {code = @Model.EvidenceCode, width=250,height=250})"  />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="@Url.Action("GetFile", "Transaction", new {code = @Model.EvidenceCode})" target="_blank">Xem file</a>
                        </div>
                        <div class="col-md-6">
                            <a href="@Url.Action("Download","Transaction", new {code = Model.EvidenceCode})" target="_blank">Download</a>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Status == (int)TransactionStautus.Pending && Model.EvidenceId.HasValue == false && Model.IsAllowUploadEvidence)
            {
                <div class="col-xs-6">
                    <form asp-controller="Transaction" asp-action="UploadEvidence" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" id="Transcode" value="@Model.TransactionCode" name="Transcode" />
                        @*@Html.HiddenFor(x => x.TransactionCode)*@
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input type="file" id="imgInp" asp-for="Image" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                            <img id="preview" src="#" alt="your image" />
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Upload evidence" class="btn btn-submit btn-buy-eth" />
                        </div>
                    </form>
                </div>
            }
        </div>
        <div class="col-xs-6">
            @if (Model.IsAllowConfirm)
            {
                <form asp-controller="Transaction" asp-action="Confirm" method="post" >
                    <input type="hidden" value="@Model.TransactionCode" id="transcode" name="transcode" />
                    <div class="form-group">
                        <input type="submit" value="Confirm" class="btn btn-submit btn-buy-eth"/>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="frm-cnt-tab frm-eth">
        <table class="table table-eth">
            <tr>
                <th colspan="2">Payment detail</th>
            </tr>
            <tr>
                <td class="text-uppercase">Payment method</td>
                <td>@Model.PaymentMethodName</td>
            </tr>
            <tr>
                <td>Account to be paid</td>
                <td><span class="text-green">@Model.AmountCoin.ToString("G29") @Model.AssetTypeId</span></td>
            </tr>
            <tr>
                <td>Bank name</td>
                <td>@Model.BankName</td>
            </tr>
            <tr>
                <td>Phương thức thanh toán</td>
                <td>@Model.PaymentMethodName @Model.BankName</td>
            </tr>
            @if (Model.IsSellTransaction)
            {
                <tr>
                    <td>bank accountname</td>
                    <td>@Model.BankAccountNameAds</td>
                </tr>
                <tr>
                    <td>Bank accountNumber</td>
                    <td>@Model.BankAccountNumberAds</td>
                </tr>
            }
          
            <tr>
                <td>Payment reference</td>
                <td>@Model.TransactionCode</td>
            </tr>
        </table>
    </div>

    <div class="frm-cnt-tab frm-eth">
        <table class="table table-eth">
            <tr>
                <th colspan="2">Your Bitcoin Purse</th>
            </tr>
            <tr>
                <td class="text-uppercase">BTC Address</td>
                <td>@Model.WalletAddress</td>
            </tr>
        </table>
    </div>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        if ($("#imgInp").length > 0) {
            $("#imgInp").change(function () {
                readURL(this);
            });
        }
    </script>
}
else
{
    <p class="text-center">Giao dịch không tồn tại.</p>
}