﻿    @model Narnia.Web.Models.InfoAdvertisementForSellBuyViewModel
@{
    ViewData["Title"] = "BuySellAdvertisement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <br>
    <div class="container">
        @if (@Model.IsActived)
        {
            <div class="page-title text-center">
                <h4>Bán @Model.AssetIdBase lấy @Model.CurrencyName qua @Model.BankName tại @Model.CountryName cho <span class="text-red">@Model.UserName</span></h4>
                @*Bán @Model.AssetIdBase lấy @Model.CurrencyName qua @Model.BankName tại @Model.CountryName cho
                <span class="text-red">@Model.UserName</span>*@
            </div>
        }

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
            @if (!@Model.IsActived)
            {
                <div class="frm-cnt-tab frm-eth">
                    <div class="alert alert-warning">
                        <span class="fa fa-warning"></span>Quảng cáo này hiện tại không hoạt động
                    </div>
                </div>
            }
            else
            {
                <form class="form open-trade-form" name="form" asp-controller="offers" asp-action="createtranforsell" method="post" novalidate="">
                    @Html.HiddenFor(x => x.Id)
                    <div class="frm-cnt-tab frm-eth">
                        <div class="form-group">
                            <div class="col-sm-4 col-xs-12">
                                <label><span>Số lượng @Model.AssetIdBase: <span class="required">*</span></span></label>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <input type="number" name="TransactionAmount" id="TransactionAmount" class="form-control" value="@Model.TransactionAmount.ToString("G29")"/>
                                @*@Html.TextBoxFor(i => i.TransactionAmount, new {@type = "number", @class = "form-control"})*@
                            </div>
                            <div class="col-xs-12 col-sm-8 no-padding pull-right">
                                @*<span class="text-green col-xs-12" id="USD_amount">≈ @Model.ToUSD.ToString("G29") USD</span>*@
                                <span class="text-red col-xs-12" id="inValid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-xs-12">
                                <label><span>Số lượng VND: <span class="required">*</span></span></label>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <input class="form-control" type="text" id="VND_amount" value="@Model.ToVND.ToString("##,###") VNĐ" disabled/>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-sm-4 col-xs-12"><label><span>Nhận @Model.AssetIdBase vào: <span class="required">*</span></span></label></div>
                                <div class="col-sm-8 col-xs-12">
                                    <select class="selectpicker">
                                        <option value="">Ví Remitano của bạn</option>
                                        <option value="">Ví BTC cá nhân / Phí rút BTC: 0.000045</option>
                                    </select>
                                </div>
                            </div>*@
                        @if (Model.CanTransaction)
                        {
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-submit btn-buy-eth">Bán @Model.AssetIdBase</button>
                                </div>
                            </div>
                        }

                    </div>
                </form>
            }
            <div class="frm-cnt-tab frm-eth">
                <table class="table table-eth">
                    <tr>
                        <th colspan="2">Thông tin chi tiết quảng cáo</th>
                    </tr>
                    <tr>
                        <td class="text-uppercase">BÁN CHO</td>
                        <td class="text-uppercase">
                            <a href="/Account/Profile?userId=@Model.UserId" target="_blank">@Model.Alias</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Giá</td>
                        <td><span class="text-green">@Model.AvgPrice.ToString("##,###") VND / @Model.AssetIdBase</span></td>
                    </tr>
                    <tr>
                        <td>Lượng giới hạn</td>
                        <td><span class="badge badge-warning eth">@Model.MinCoinNumber.ToString("G29")</span> - <span class="badge badge-warning eth">@Model.MaxCoinNumber.ToString("G29") @Model.AssetIdBase</span></td>
                    </tr>
                    <tr>
                        <td>Phương thức thanh toán</td>
                        <td>@Model.PaymentMethodName: @Model.BankName</td>
                    </tr>
                    <tr>
                        <td>Vị trí</td>
                        <td>@Model.CountryName</td>
                    </tr>
                    <tr>
                        <td>Thời gian cho phép thanh toán</td>
                        <td>@Model.PaymentAllowTime phút</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
            <div class="panel-group pt-20" id="accordion" role="tablist">
                <div class="panel panel-default">
                    <div class="card">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Giao dịch có an toàn không?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Khi bạn mở giao dịch, Ethereum của người bán sẽ được khoá trong hệ thống, điều này giúp bạn yên tâm khi chuyển tiền cho người bán mà không sợ bị lừa đảo. Nếu người bán không chịu giải phóng Ethereum cho bạn sau khi đã nhận thanh toán, bạn chỉ việc nhấn vào nút "Tranh chấp giao dịch" và đội ngũ hỗ trợ của chúng tôi sẽ xuất hiện để trợ giúp.</p>
                                <p>
                                    <strong><a href="javascript:void(0)" class="text-orange">Bấm vào đây để đọc thêm về Giao Dịch Đảm Bảo</a></strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="card">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Khi nào thì tôi nhận được Ethereum?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Bạn sẽ nhận được Ethereum ngay lập tức sau khi người bán xác nhận đã nhận được thanh toán của bạn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if ($('#TransactionAmount').length > 0) {
        $('#TransactionAmount').on("change paste keyup", function () {
            var price = parseFloat($(this).val());

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ExchangePrice")',
                data: { price: price, avgPrice: @Model.AvgPrice, minCoin: @Model.MinCoinNumber, maxCoin: @Model.MaxCoinNumber, currencyName:"@Model.AssetIdBase"},
                success: function (data) {
                    $('#VND_amount').val(data.vnd);
                    //$('#USD_amount').text(data.usd);
                    $(".btn-buy-eth").prop("disabled", !data.valid)
                    if (data.valid == false) {
                        $("#inValid").html(data.messErr)
                    } else {
                        $("#inValid").html('')
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.error(xhr.responeText);
                }
            });
        });
    };
</script>