﻿@model Narnia.Web.Areas.Payments.Models.ManualBankDepositModel
@{
    ViewData["Title"] = "View";
    ViewContext.ClientValidationEnabled = true;
    Html.AddScriptParts("~/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.js");
    Html.AddScriptParts("~/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.js");
    Html.AddCssFileParts("~/css/custom.css");
    Html.AddScriptParts("~/js/customValidation.js");
}

<form method="post" asp-controller="ManualBankPayment" asp-action="ProcessDeposit" asp-area="Payments">
    <div class="row">
        <p>
            Manual Bank Deposit
        </p>
        <div>
            @foreach (var bankAcc in Model.SystemBankAccounts)
            {
                <div class="form-group">
                    <span>Account:</span>
                    <div>@bankAcc.AccountName</div>
                </div>
                <div class="form-group">
                    <span>Account No:</span>
                    <div>@bankAcc.AccountNo</div>
                </div>
            }
            
            <div class="form-group">
                <narnia-label asp-for="Amount" />
                <div>
                    <narnia-editor asp-for="Amount" />
                    <span>@Model.AssetTypeId</span>
                    <span asp-validation-for="Amount"></span>
                </div>
            </div>
            <div class="form-group">
                <narnia-label asp-for="OrderNo" />
                <div>
                    <narnia-editor asp-for="OrderNo" />
                    <span asp-validation-for="OrderNo"></span>
                </div>
            </div>
            <div class="form-group">
                <narnia-label asp-for="BankName" />
                <div>
                    <narnia-editor asp-for="BankName" />
                    <span>@Model.AssetTypeId</span>
                    <span asp-validation-for="BankName"></span>
                </div>
            </div>
            <div class="form-group">
                <narnia-label asp-for="BillingDate" />
                <div>
                    <narnia-editor asp-for="BillingDate" />
                    <span asp-validation-for="BillingDate"></span>
                </div>
            </div>
            <div class="form-group">
                <narnia-label asp-for="AccountName" />
                <div>
                    <narnia-editor asp-for="AccountName" />
                    <span asp-validation-for="AccountName"></span>
                </div>
            </div>
            <div class="form-group">
                <narnia-label asp-for="AccountNumber" />
                <div>
                    <narnia-editor asp-for="AccountNumber" />
                    <span asp-validation-for="AccountNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <narnia-label asp-for="EvidencePictureId" />
                <div>
                    <narnia-editor asp-for="EvidencePictureId" />
                    <span asp-validation-for="EvidencePictureId"></span>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Deposit" />
        </div>
    </div>
    @Html.HiddenFor(m => m.AssetTypeId)
</form>

<script type="text/javascript">

</script>