﻿@using Narnia.Web.Areas.Admin.Models.Wallets
@model WalletSearchModel
@{
    ViewBag.Title = "Wallet Listing";
    Html.SetActiveMenuItemSystemName("Wallets");
}

<form asp-controller="Commission" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Wallet Listing
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="StartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="StartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="EndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="EndDate" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="AssetTypeIds" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-select asp-for="AssetTypeIds" asp-items="Model.AvailableAssetTypeIds" asp-multiple="true" asp-valuetype="string" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="UserName" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="UserName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-wallets" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="wallets-grid"></div>
                        <script>
                            $(document).ready(function() {
                                $("#wallets-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "Wallet"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function() {
                                                    var data = {
                                                        StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                                        EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                                        AssetTypeIds: $('#@Html.IdFor(model => model.AssetTypeIds)').val(),
                                                        UserName: $('#@Html.IdFor(model => model.UserName)').val()
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "data",
                                            total: "total",
                                            errors: "errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "Are you sure you want to delete this item?",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    //dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "userName",
                                            title: "User",
                                            width: 80
                                        },
                                        {
                                            field: "walletAddress",
                                            title: "Wallet Address",
                                            width: 250
                                        },
                                        {
                                            field: "amount",
                                            title: "Amount",
                                            width: 80
                                        },
                                        {
                                            field: "assetTypeId",
                                            title: "Type",
                                            width: 80
                                        },
                                        {
                                            field: "createdDate",
                                            title: "Created On",
                                            width: 150,
                                            type: "date",
                                            format: "{0:G}"
                                        },
                                        {
                                            field: "id",
                                            title: "View",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=id#"><i class="fa fa-eye"></i>View</a>'
                                        }
                                    ]
                                } );
                            });
                        </script>
                        <script>

                            $(document).ready(function () {
                                //search button
                                $('#search-wallets').click(function () {
                                    //search
                                    var grid = $('#wallets-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    return false;
                                });

                                $("#@Html.IdFor(model => model.UserName)").keydown(function (event) {
                                    if (event.keyCode === 13) {
                                        $("#search-wallets").click();
                                        return false;
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
