﻿@using Narnia.Web.Models.Feedbacks;
@model IList<FeedbackViewModel>

<div class="col-xs-12 text-center">
    <h2 class="title-block style-2">Khách Hàng của chúng tôi</h2>
</div>

<div class="col-xs-12">
    <ul class="list-customer">
        @foreach(var fb in Model)
        {
            <li class="col-xs-12 col-sm-6">
                <img src="images/visu-cus-01.jpg" alt="" align="left" class="img-customer img-circle" />
                <p>"@fb.Content"</p>
                <h4>
                    @Html.ActionLink(fb.CreatedUser.UserName, "Profile", "Account", routeValues: new { userId = fb.CreatedUser.Id })
                    ->
                    @Html.ActionLink(fb.ReceivedUser.UserName, "Profile", "Account", routeValues: new { userId = fb.ReceivedUser.Id })
                     - <small>@fb.CreatedDate.ToString("dd.MM.yyyy")</small>
                </h4>
            </li>
        }
    </ul>
</div>