﻿@model Narnia.Web.Areas.Payments.Models.PerfectMoneyModel
@{
    ViewData["Title"] = "View";
}

<form id="frm_Pay" action="https://perfectmoney.is/api/step1.asp" method="POST">

    <input type="hidden" name="PAYEE_ACCOUNT" value="@Model.PayeeAccount">
    <input type="hidden" name="PAYEE_NAME" value="@Model.PayeeName">
    <input type="hidden" name="PAYMENT_ID" value="@Model.PaymentId">
    <input type="hidden" name="PAYMENT_AMOUNT" value="@Model.Amount">
    <input type="hidden" name="PAYMENT_UNITS" value="@Model.Unit">
    <input type="hidden" name="STATUS_URL" value="@Model.StatusUrl">
    <input type="hidden" name="PAYMENT_URL" value="@Model.SuccessUrl">
    <input type="hidden" name="PAYMENT_URL_METHOD" value="@Model.PaymentUrlMethod">
    <input type="hidden" name="NOPAYMENT_URL" value="@Model.CancelUrl">
    <input type="hidden" name="NOPAYMENT_URL_METHOD" value="@Model.NoPaymentUrlMethod">
    <input type="hidden" name="SUGGESTED_MEMO" value="">
    <input type="hidden" name="AssetTypeId" value="@Model.AssetTypeId">
    <input type="hidden" name="UserId" value="@Model.UserId">
    <input type="hidden" name="BAGGAGE_FIELDS" value="AssetType UserId">
    @*<input type="submit" id="btn-Pay" name="PAYMENT_METHOD" value="Pay Now!">*@
</form>
<script type="text/javascript">
    $(document).ready(function () { 
        $("#frm_Pay").submit();
    });
</script>