﻿@model DateTime
@*<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@((Model > DateTime.MinValue ? Model : DateTime.Today).ToShortDateString())" />*@
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@((Model > DateTime.MinValue ? Model : DateTime.Today).ToString("dd/MM/yyyy"))" />
<script>
    $(document).ready(function () {
        $("#@Html.IdForModel()").datetimepicker({ format: 'DD/MM/YYYY', keepOpen: false });


        $('#@Html.IdForModel()').on("dp.change", function (e) {
            var newDate = e.date.format('YYYY-MM-DD');
            var oldDate = e.oldDate.format('YYYY-MM-DD');
            if (newDate != oldDate) {
                $(this).data("DateTimePicker").hide();
            }
        });

    });
</script>