@model DateTime?
@using System.Globalization
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@(Model > DateTime.MinValue || Model.HasValue ? Model.Value.ToString(CultureInfo.CurrentCulture.DateTimeFormat) : null)" />
<script>
    $(document).ready(function () {
        $("#@Html.IdForModel()").datetimepicker({
            popup: {
                position: "bottom right",
                origin: "top right"
            }
        });
    });
</script>