﻿@using Narnia.Core.Models
@model BankCreateModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Bank Information</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <label class="col-md-3 control-label">Bank Name</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.BankName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Bank Code</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.BankCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    <button type="button" name="save" class="btn btn-success" onclick="submitbankForm(this)" id="btn-update">
        @(Model.Id > 0 ? "Update":"Create")
    </button>
</div>

<script type="text/javascript">
    function submitbankForm(source) {
        var frmEmailAccount = $("#bank-form");
        var formData = frmEmailAccount.serialize();
        if (source != null) {
            var buttonName = $(source).attr('name');
            var param = {};
            param[buttonName] = $(source).attr('value');
            //formData = formData + '&' + $.param({ buttonName: $(source).attr('value') });
            formData = formData + '&' + $.param(param);
        }

        $("#btn-update").attr("disabled", "disabled");
        $.ajax({
            cache: false,
            type: "POST",
            url: frmEmailAccount.attr("action"),
            data: formData,
            success: function (data) {
                if (data.error == false) {
                    alert("Process request successfully");
                    resourceTable.ajax.reload();
                    //jQuery.noConflict();
                    $('#frm-edit-bank').modal('hide');
                } else {
                    alert(data.message);
                }
                $("#btn-update").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
                $("#btn-update").removeAttr("disabled");
            }
        });
    }
</script>