﻿@using Narnia.Web.Areas.Admin.Models.Localization
@model LanguageModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Name" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="Name" asp-required="true" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="LanguageCulture" />
                </div>
                <div class="col-md-9">
                    @{
                        var cultures = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.SpecificCultures)
                            .OrderBy(x => x.EnglishName)
                            .Select(x => new SelectListItem
                            {
                                Value = x.IetfLanguageTag,
                                Text = $"{x.EnglishName}. {x.IetfLanguageTag}"
                            });
                    }
                    <narnia-select asp-for="LanguageCulture" asp-items="@cultures" />
                    <span asp-validation-for="LanguageCulture"></span>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="FlagImageFileName" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="FlagImageFileName" asp-render-form-control-class="false" />
                    <span asp-validation-for="FlagImageFileName"></span>
                    <script>
                        $(function() {
                            $('#FlagImageFileName').kendoDropDownList({
                                dataTextField: "text",
                                dataValueField: "value",
                                valueTemplate:
                                    '<span class="image" style="background-image: url(\'@Url.Content("~/images/flags/#:data.text#")\'); width: 16px; height: 11px;"></span><span>#:data.value#</span>',
                                template:
                                    '<span class="image" style="background-image: url(\'@Url.Content("~/images/flags/#:data.text#")\'); width: 16px; height: 11px;"></span><span>#:data.value#</span>',
                                dataSource: {
                                    transport: {
                                        type: "json",
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetAvailableFlagFileNames", "Language"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    }
                                }
                            }).data("kendoDropDownList");
                        });
                    </script>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Published" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="Published" />
                    <span asp-validation-for="Published"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="DisplayOrder" />
                </div>
                <div class="col-md-9">
                    <narnia-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
        </div>
    </div>
</div>
