﻿@using Narnia.Web.Areas.Admin.Models.Localization
@model LanguageModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <narnia-tabs id="language-edit">
            <narnia-tab asp-name="tab-info" asp-title="Info" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</narnia-tab>
            <narnia-tab asp-name="tab-resources" asp-title="Resources">@await Html.PartialAsync("_CreateOrUpdate.Resources", Model)</narnia-tab>
        </narnia-tabs>
    </div>
</div>