﻿@using Narnia.Web.Areas.Admin.Models.Localization;
@model LanguageModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("Languages");
}

<form asp-controller="Language" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit Language - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Back</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save And Continue
            </button>

            <a asp-action="ExportXml" asp-route-id="@Model.Id" class="btn bg-green">
                <i class="fa fa-download"></i>
                Export Resources
            </a>
            <button type="button" class="btn bg-olive" data-toggle="modal" data-target="#importxml-window">
                <i class="fa fa-upload"></i>
                Import Resources
            </button>

            <span id="language-template-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Delete
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<narnia-delete-confirmation asp-model-id="@Model.Id" asp-button-id="language-template-delete" />

@*import resources form*@
<div id="importxml-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importxml-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importxml-window-title">Import</h4>
            </div>
            <form asp-controller="Language" asp-route-id="@Model.Id" asp-action="ImportXml" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <strong>Note1</strong>
                            </li>
                            <li>
                                <strong>Note2</strong>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        XmlFile
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importxmlfile" name="importxmlfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="importxmlsubmit" type="submit" class="btn btn-primary" value="Import" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
