﻿@{
    ViewBag.Title = "Index";
    Html.SetActiveMenuItemSystemName("Languages");
}
@using Narnia.Web.Areas.Admin.Models.Localization
@model LanguageSearchModel
<div class="content-header clearfix">
    <h1 class="pull-left">
        Languages
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add New
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="languages-grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#languages-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "Language"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "data",
                                        total: "total",
                                        errors: "errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "Are you sure you want to delete this item?",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                {
                                    field: "name",
                                    title: "Name"
                                 }
                                    , {
                                    field: "flagImageFileName",
                                    title: "Flag Image",
                                    width: 100,
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/images/flags/")#=flagImageFileName#" />'
                                }, {
                                    field: "languageCulture",
                                    title: "Culture",
                                    width: 200
                                }, {
                                    field: "displayOrder",
                                    title: "Display Order",
                                    width: 150
                                }, {
                                    field: "published",
                                    title: "Published",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "id",
                                    title: "Edit",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=id#"><i class="fa fa-pencil"></i>Edit</a>'
                                }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>