﻿<table align="center" border="0" cellspacing="0" style="border-collapse:collapse;border-radius:3px;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;width:100%">
    <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:separate;font-size:1px;height:2px;line-height:3px;width:100%">
                    <tbody>
                        <tr>
                            <td bgcolor="#9b59b6" valign="top"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" height="100%" style="border-collapse:collapse;border-color:#dddddd;border-radius:0 0 3px 3px;border-style:solid;border-width:1px;width:100%" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"  style="background:#ffffff">
                                                <a  href="http://Vinaex.io" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://Vinaex.io&amp;source=gmail&amp;ust=1530591775210000&amp;usg=AFQjCNGJwQc5eVy5lxaHYCG9-ESHE9E-Ww">
                                                    Vinaex
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background:white;color:#525252;font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:22px;overflow:hidden;padding:40px 40px 30px">
                                <p>
                                    <span>
                                        Xin chào
                                        <b>"%NewMember.Email%"</b>,
                                    </span>
                                </p>
                                <p>Đây là liên kết để bạn đăng nhập vào Vinaex</p>
                                <p>
                                    <a href="%NewMember.ActivationLink%" style="color:#fff;background-color:#9b59b6;background-image:linear-gradient(to bottom,#9b59b6 0%,#a66bbe 100%);background-repeat:repeat-x;border-color:#8f4bab;border:1px solid transparent;white-space:nowrap;padding:12px 24px;font-size:14px;text-decoration:none;line-height:1.42857;border-radius:4px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://Vinaex.io/vn/login/uypc78@gmail.com/paE3tqVWWMwcNjcBbMtG5CK8FqBrfNSA2fNgxgY&amp;source=gmail&amp;ust=1530591775210000&amp;usg=AFQjCNEVVTqaRbLmQlJ37Zy6jrFk2A1KKQ">Đăng nhập tôi vào Vinaex</a>
                                </p>
                                <p>Liên kết sẽ hết hiệu lực trong 30 phút và chỉ có thể sử dụng 1 lần. Cảm ơn bạn vì đã sử dụng Vinaex!</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top">
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" width="350">
                                                                <div>
                                                                    <a href="http://vinaex.io/" target="_blank" data-saferedirecturl="">Vinaex</a> - Mua Bitcoin và Ethereum nhanh chóng và an toàn
                                                                    <br>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </td>
        </tr>
    </tbody>
</table>