﻿@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject IHttpContextAccessor httpContextAccessor
@using Microsoft.AspNetCore.Http
@using Narnia.Web.Framework.UI;
@using Narnia.Core;
@{
    var kendoVersion = "2014.1.318";

    Html.AppendCssFileParts("~/css/admin/styles.css");
    Html.AppendCssFileParts("~/css/toastr.min.css");
    Html.AppendCssFileParts("~/lib/adminLTE/css/AdminLTE.min.css");
    Html.AppendCssFileParts("~/lib/bootstrap/css/bootstrap.min.css");

    Html.AppendCssFileParts($"~/lib/kendo/{kendoVersion}/kendo.rtl.min.css");
    Html.AppendCssFileParts($"~/lib/kendo/{kendoVersion}/kendo.default.min.css");
    Html.AppendCssFileParts($"~/lib/kendo/{kendoVersion}/kendo.common.min.css");
    Html.AppendCssFileParts("~/lib/jquery-ui/jquery-ui-1.10.3/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    Html.AppendCssFileParts("~/lib/fontAwesome/css/font-awesome.min.css");
    Html.AppendCssFileParts("~/lib/typeahead/typeahead.css");
    Html.AppendCssFileParts("~/lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css");
    <!-- AdminLTE Skins (choose a skin from the css/skins) -->
    Html.AppendCssFileParts("~/lib/adminLTE/css/skins/_all-skins.min.css");

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VINAEX | @ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Html.NarniaHeadCustom()
    @Html.NarniaCssFiles(this.Url, ResourceLocation.Head)
    @Html.NarniaScripts(this.Url, ResourceLocation.Head)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>VINAEX System</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                @*<b>Version</b> 2.3.5*@
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a asp-controller="Home" asp-action="Index" asp-area="">Vinaex</a>.</strong> All rights
            reserved.
        </footer>
    </div>
</body>
</html>

