﻿@using Narnia.Core.Infrastructure;
@using Narnia.Web.Framework.Menu;
@{
    Func<IList<string>, bool> roleFunc = roles => { return true; };
    //load sitemap
    var siteMap = new XmlSiteMap();
    siteMap.LoadFrom("~/Areas/Admin/sitemap.config", roleFunc);
    var rootNode = siteMap.RootNode;
}

<ul class="sidebar-menu" data-widget="tree">
    @foreach (var item in rootNode.ChildNodes.Where(x => x.Visible))
    {
        @await Html.PartialAsync("_MenuItem", item)
    }
    <li class="">
        <a href="javascript:void(0)" class="nav-link " id="clear-cache">
            <i class="fa fa-book"></i>
            <span class="title">Clear Cache</span>
        </a>
    </li>
    <li class="">
        <a href="javascript:void(0)" class="nav-link " id="restart-app">
            <i class="fa fa-book"></i>
            <span class="title">Restart Application</span>
        </a>
    </li>
</ul>