﻿@using Narnia.Core.Enums;
@model Narnia.Web.Models.TransactionDetailAdminViewModel
@{
    Layout = "";
}


@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.TransactionId)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Transaction</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.TransactionCode, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.TransactionCode</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.AmountCoin, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.AmountCoin</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.CreatedDate, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.CreatedDate</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.UpdatedDate, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.UpdatedDate</p>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.UserName</p>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Status, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.DisplayStatus</p>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.AssetTypeId, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.AssetTypeId</p>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.PaymentAllowTime, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.PaymentAllowTime</p>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.UserConfirm, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                <p>@Model.UserConfirm</p>
            </div>
        </div>

    </div>
    @if (Model.EvidenceId > 0)
    {
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(m => m.EvidenceId, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            @*<img src="@Url.Action("GetImage", new {code = @Model.EvidenceCode})" width="250" height="250"/>*@
                            <img src="@Url.Action("GetFileThumbnail", "Transaction", new {  code = @Model.EvidenceCode,width=250, height=250})" />

                        </div>    
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6"><a href="@Url.Action("GetImage", new {code = @Model.EvidenceCode})" target="_blank">Xem file</a></div>
                                <div class="col-md-6"><a href="@Url.Action("Download",new {code=Model.EvidenceCode})" target="_blank">Download</a></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    }
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    @if (Model.Status == (int) TransactionStautus.HasEvidence)
    {
        <button type="button" name="save" class="btn btn-success" onclick="confirm(this)" id="btn-update">Confirm</button>    
    }
</div>

<script type="text/javascript">
    function confirm(source) {
        var TransactionId = parseInt($("#TransactionId").val());
        $("#btn-update").attr("disabled", "disabled");
        debugger 
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Admin/Transaction/AdminConfirm",
            data: { transId: TransactionId},
            success: function (data) {
                if (!data.err) {
                    //alert("Process request successfully");
                    toastr.success("Process request successfully");
                    resourceTable.ajax.reload();
                    $('#frm-detail-transaction').modal('hide');
                } else {
                    //alert("Cannot Process request information. Please check again!");
                    toastr.error("Cannot Process request information. Please check again!");
                }
                $("#btn-update").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
                $("#btn-update").removeAttr("disabled");
            }
        });
    }
</script>