﻿@using Narnia.Core.Enums;
@using Narnia.Web.Areas.Admin.Models.Transactions;
@using  Narnia.Business;
@model TransactionModel

@{
    Layout = "";
}

<script>
    $(document).ready(function () {
        toggleChangeTranStatus(false);
        toggleOrderTotals(false);
    });

    function toggleChangeTranStatus(editmode) {
        if (editmode) {
            $('#pnlChangeTranStatus').show();
            $('#btnChangeTranStatus').hide();
        } else {
            $('#pnlChangeTranStatus').hide();
            $('#btnChangeTranStatus').show();
        }
    }

    function toggleOrderTotals(editmode) {
        if (editmode) {
            $('#trEditOrderTotals').show();
            $('#btnEditOrderTotals').hide();
            $('#btnSaveOrderTotals').show();
            $('#btnCancelOrderTotals').show();
        } else {
            $('#trEditOrderTotals').hide();
            $('#btnEditOrderTotals').show();
            $('#btnSaveOrderTotals').hide();
            $('#btnCancelOrderTotals').hide();
        }
    }
</script>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="Status" />
                </div>
                <div class="col-md-9">
                    <div class="input-group input-group-short">
                        <div class="input-group-text">
                            <strong @*class="form-text-row" *@ class="btn bg-red">
                                @Model.StatusString
                            </strong>
                        </div>
                        @if (Model.CanChangeStatus)
                        {
                            <div class="input-group-btn">
                                <button type="submit" name="btnChangeTranStatus" onclick="toggleChangeTranStatus(true);return false;" id="btnChangeTranStatus" class="btn btn-primary">
                                    Change Status
                                </button>
                                <div id="pnlChangeTranStatus" style="margin-top: 3px;">
                                    <narnia-select asp-for="Status" asp-items="@(((TransactionStautus) Model.Status).ToSelectList(valuesValidToExclude:Model.ValuesValidToExclude))" />
                                    <button type="submit" name="btnSaveTranStatus" id="btnSaveTranStatus" class="btn btn-primary" style="margin-left: 3px">
                                        Save
                                    </button>
                                    <narnia-action-confirmation asp-button-id="btnSaveTranStatus" />
                                    <button type="submit" name="btnCancelOrderStatus" onclick="toggleChangeTranStatus(false);return false;" id="btnCancelOrderStatus" class="btn bg-teal" style="margin-left: 3px">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="TransactionCode" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.TransactionCode</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="AmountCoin" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.AmountCoin</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <narnia-label asp-for="AssetTypeId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.AssetTypeId</div>
                </div>
            </div>
            
            @if (Model.ShowTransferType)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="TransferType" />
                    </div>
                    <div class="col-md-3">
                        @if (Model.CanChangeTransferType)
                        {
                            <narnia-select asp-disabled asp-for="TransferType" asp-items="@((TransferType) Model.TransferType).ToSelectList()"/>
                            <span asp-validation-for="TransferType"></span>
                        }
                        else
                        {
                            <div class="form-text-row">@Model.TransferTypeString</div>
                        }
                        
                    </div>
                </div>
            }
            

            @if (!string.IsNullOrEmpty(Model.EvidenceCode))
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <narnia-label asp-for="EvidenceId" />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="@Url.Action("GetFileThumbnail", "Transaction", new {code = @Model.EvidenceCode, width = 250, height = 250})" />
                            </div>
                            <div class="col-md-12" style="margin-top: 10px">
                                @*<div class="row">*@
                                <a href="@Url.Action("GetImage", new {code = @Model.EvidenceCode})" target="_blank" class="btn btn-primary">ViewFile</a>
                                <a href="@Url.Action("Download", new {code = Model.EvidenceCode})" target="_blank" class="btn btn-primary">Download</a>
                                @*</div>*@
                            </div>
                        </div>

                    </div>

                </div>
            }


        </div>
    </div>

</div>