﻿@using Narnia.Web.Areas.Admin.Models.Transactions;
@model TransactionSearchModel;
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("Transactions");

}

<form asp-controller="Commission" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Transactions
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    Export
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportxml-all">
                            <i class="fa fa-file-code-o"></i>
                            Export all to XML
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportxml-selected">
                            <i class="fa fa-file-code-o"></i>
                            Export Selected Items to XML
                        </button>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            Export All to Excel
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportexcel-selected">
                            <i class="fa fa-file-excel-o"></i>
                            Export Selected Items to Excel
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="StartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="StartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="EndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="EndDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="UserName" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="UserName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="AssetTypeIds" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-select asp-for="AssetTypeIds" asp-items="Model.AvailableAssetTypeIds" asp-multiple="true" asp-valuetype="string"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="Statuses" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-select asp-for="Statuses" asp-items="Model.AvailableStatuses" asp-multiple="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <narnia-label asp-for="TransactionCode" />
                                    </div>
                                    <div class="col-md-8">
                                        <narnia-editor asp-for="TransactionCode" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-commissions" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="transaction-grid"></div>
                        <script>
                            $(document).ready(function() {
                                $("#transaction-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "Transaction"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function () {
                                                    var data = {
                                                        StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                                        EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                                        TransactionCode: $('#@Html.IdFor(model => model.TransactionCode)').val(),
                                                        UserName: $('#@Html.IdFor(model => model.UserName)').val(),
                                                        Statuses: $('#@Html.IdFor(model => model.Statuses)').val(),
                                                        AssetTypeIds: $('#@Html.IdFor(model => model.AssetTypeIds)').val()
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "data",
                                            total: "total",
                                            errors: "errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "Are you sure you want to delete this item?",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    //dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "transactionId",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=transactionId#' class='checkboxGroups'/>",
                                            width: 50
                                        },
                                        {
                                            field: "transactionCode",
                                            title: "TransactionCode",
                                            width: 80
                                        },
                                        {
                                            field: "buyer",
                                            title: "Buyer",
                                            width: 150
                                        },
                                        {
                                            field: "seller",
                                            title: "Seller",
                                            width: 150
                                        },
                                        {
                                            field: "amountCoin",
                                            title: "Amount",
                                            width: 80
                                        }
                                        ,
                                        {
                                            field: "assetTypeId",
                                            title: "unit",
                                            width: 80
                                        },
                                        {
                                            field: "statusString",
                                            title: "Status",
                                            width: 80
                                        },
                                        {
                                            field: "createdDate",
                                            title: "Created On",
                                            width: 150,
                                            type: "date",
                                            format: "{0:G}"
                                        },
                                        {
                                            field: "transactionId",
                                            title: "View",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=transactionId#"><i class="fa fa-eye"></i>View</a>'
                                        }
                                    ]
                                } );
                            });
                        </script>
                        <script>
                            var selectedIds = [];
                            var reportAggregates = "";

                            $(document).ready(function () {
                                //search button
                                $('#search-commissions').click(function () {
                                    //search
                                    var grid = $('#transaction-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //clear selected checkboxes
                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    return false;
                                });

                                $("".concat("#@Html.IdFor(model => model.UserName),",
                                    "#@Html.IdFor(model => model.TransactionCode)")).keydown(function (event) {
                                    if (event.keyCode === 13) {
                                        $("#search-commissions").click();
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#transaction-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                                    var $check = $(this);
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if ($check.is(":checked") == true) {
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    } else if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {
                                $('#transaction-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#transaction-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                                var numChkBoxesChecked = $('#transaction-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>