﻿
@{
    ViewData["Title"] = "Về chúng tôi";   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <h2 class="cntpage-title"><span>Về chúng tôi</span></h2>
    <div class="cnt-general">
        <p class="text-center"><img src="~/images/visu-about.jpg" alt="" /></p>
        <p>VINAEX là một sản phẩm của Babylon Solutions Limited - thành lập tại Seychelles, cung cấp một giải pháp giao dịch Bitcoin đảm bảo P2P nơi mà mọi người mua và bán Bitcoin dễ dàng và an toàn tuyệt đối với giao diện đơn giản mà hiệu quả, đội ngũ hỗ trợ khách hàng thân thiện 24/7 và phí giao dịch thấp nhất. VINAEX được xây dựng bởi những đội ngũ chuyên môn cao với kinh nghiệm làm việc trong các hệ thống ngân hàng chuyên nghiệp và trong việc xây dựng các hệ thống về Tài chính, Tiền điện tử, Hệ thống Thanh Toán và Phát triển Phần Mềm.</p>
        <p>Hiện tại, VINAEX được cung cấp và sử dụng tại nhiều quốc gia như Mỹ, Malaysia, Nigeria, Việt Nam, Campodia, Trung Quốc và đang được phát triển và mở rộng mỗi ngày.</p>
        <p>Hãy liên hệ với chúng tôi qua email <a href="mailto:info@vinaex.com">info@vinaex.com</a> nếu bạn cần thêm thông tin. Đối với các khách hàng cần hỗ trợ về đơn hàng hoặc có câu hỏi chi tiết về nền tảng, có thể liên hệ chúng tôi qua email <a href="mailto:support@vinaex.com">support@vinaex.com</a>.</p>
    </div>
</div>


