﻿@using Narnia.Core
@using Narnia.Core.Infrastructure

@model BuySellAdvertisementModel
@{
    ViewData["Title"] = "BuySellAdvertisement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string currencyTypeId = ViewBag.CurrencyId;

    Double feePercentage = 0.5;
    feePercentage = Convert.ToDouble(EngineContext.Current.Resolve<Narnia.Core.ISiteSetting>().FeePercentage);

    var currentSymbol = ViewBag.CurrentSymbol as CoinSymbolViewModel;
    var allCurrency = ViewBag.AllCurrency as List<CurrencyViewModel>;
    var listBanks = ViewBag.ListBanks as List<BankViewModel>;
    
    var assetTypeId = currentSymbol.AssetIdBase;
    // var coinByUSD = assetTypeId.ToLower() + "USD";
    var coinByUSD = "USD";

    var actualPrice = Model.CoinPrice * currentSymbol.AvgPrice; // so tien VND/coin
    var priceClientSee = actualPrice + ((actualPrice * Convert.ToDecimal(feePercentage)) / 100); // so tien co tinh phi

    var currencybyasset = currencyTypeId + " / " + assetTypeId;
}

<div class="main-content">
    <div class="container">
        <div class="page-title">
            <h2>TẠO QUẢNG CÁO MỚI</h2>
        </div>
        <div class="box-head">
            <div data-toggle="buttons" class="btn-group btn-group-sm">
                <label type="button" class="btn btn-primary active" onclick="dynamicFormView(false)">
                    <input type="radio" name="mode" autocomplete="off" value="basic">Cơ bản
                </label>
                <label type="button" class="offer-mode-detailed btn btn-default" onclick="dynamicFormView(true)">
                    <input type="radio" name="mode" autocomplete="off" value="detailed">Chi tiết
                </label>
            </div>
        </div>

        <div class="col-xs-12 no-padding">
            <h3 class="text-uppercase">Tôi Muốn</h3>
            <nav id="nav-tab">
                <ul class="nav nav-tabs nav-tabs-bc" role="tablist">
                    <li role="presentation" class="tab-buy-bc active">
                        <a href="#tab-buy-bc" data-toggle="tab" aria-expanded="false" onclick="onChangeGUIfoBuySell(true)">Mua @assetTypeId</a>
                    </li>
                    <li role="presentation" class="tab-sell-bc">
                        <a href="#tab-sell-bc" data-toggle="tab" aria-expanded="false" onclick="onChangeGUIfoBuySell(false)">Bán @assetTypeId</a>
                    </li>
                </ul>
            </nav>

            <div class="tab-content">
                @*form mua*@
                <div role="tabpanel" class="tab-pane active" id="tab-buy-bc">
                    <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="add-buy-advertise-form">
                        <h4 class="text-block-title">GIÁ</h4>
                        <div class="block-adment">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Giá @coinByUSD</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong id="lbl-Price-buy">@Model.CoinPrice.ToString("N5") VND / @coinByUSD</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtPrice-buy" class="form-control" name="price" value="" onkeypress = "return commonJs.allowNumberAndDot(event, this);"><span class="input-group-addon">VND</span>
                                    </div>
                                </div>
                                <div class="col-md-5"><span class="explanation">Giá 1 @coinByUSD theo VND</span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Giá @assetTypeId bạn thực trả</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-6 text-xs-right">
                                            <strong id="lblActualPriceOfCoin-buy">@actualPrice.ToString("N5")</strong><strong> @currencybyasset</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <span class="explanation">
                                        <span>Đây là giá tương ứng với tỉ giá Bitstamp (Blockchain) hiện tại (<strong class="text-primary">@currentSymbol.AvgPrice.ToString("N5")</strong>). Giá sẽ biến động khi tỉ giá Bitstamp (Blockchain) thay đổi.</span>
                                    </span>
                                </div>
                            </div>

                            <div class="tab-buy-detail row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Giá @assetTypeId người bán thấy</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-6 text-xs-right">
                                            <strong id="lblPrice-to-seller">@priceClientSee.ToString("N5")</strong><strong> @currencybyasset</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">Giá đã bao gồm phí giao dịch do người bán chịu</div>
                            </div>
                            <div class="tab-buy-detail row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Đơn vị tiền tệ</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>VND</strong></div>
                                        @*<div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>*@
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboCurrency-buy">
                                            @{Html.RenderPartial("_Currency", allCurrency);}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">Đơn vị tiền tệ để đổi lấy @currencybyasset</div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Sàn giao dịch tham khảo</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-6 text-xs-right">
                                            <strong>Bitstamp (Blockchain)</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboCoinExchange">
                                            <option value="1">Bitstamp (Blockchain)</option>
                                            <option value="2">Bitfinex</option>
                                            <option value="3">Kraken EUR</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">Sàn giao dịch được dùng để cập nhập giá cho quảng cáo của bạn</div>
                            </div>
                            <div class="tab-buy-detail row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Giá @assetTypeId tối đa</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-5"></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtMaxPrice-buy" type="text" value="" onkeypress = "return commonJs.allowNumberAndDot(event, this);" />
                                    </div>
                                </div>
                                <div class="col-md-5">Giá tối đa bạn muốn trả cho 1 Bitcoin (tính theo VND)</div>
                            </div>
                        </div>
                        <h4 class="tab-buy-detail text-block-title" style="display:none">GIỚI HẠN</h4>
                        <div class="tab-buy-detail block-adment" style="display:none">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Số @assetTypeId tối thiểu</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>@Model.MinCoinNumber.ToString() @assetTypeId</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtMinCoinNumber-buy" type="text" value="@Model.MinCoinNumber.ToString()" />
                                    </div>
                                </div>
                                <div class="col-md-5">Số @assetTypeId tối thiểu trong một giao dịch. (ít nhất là @Model.MinCoinNumber.ToString() @assetTypeId)</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Số @assetTypeId tối đa</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>@Model.MaxCoinNumber.ToString() @assetTypeId</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtMaxCoinNumber-buy" type="text" value="@Model.MaxCoinNumber.ToString()" />
                                    </div>
                                </div>
                                <div class="col-md-5">Tổng số @assetTypeId mà bạn sẽ mua.</div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Vị trí</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>Việt Nam</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <select id="cboCountry-buy" style="display:none">
                                            <option value="1">Việt Nam</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="text-block-title">THÔNG TIN THANH TOÁN</h4>
                        <div class="block-adment">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Phương thức thanh toán</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>Chuyển khoản ngân hàng</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboBankMethod-buy" class="selectpicker">
                                            <option value="1">Chuyển khoản ngân hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-buy-detail row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Thời gian cho phép thanh toán</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>@Model.PaymentAllowTime.ToString() phút</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboPaymentAllowTime-buy">
                                            <option value="15">15 Phút</option>
                                            <option value="30">30 Phút</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12"><label><span>Tên Ngân Hàng</span></label></div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <select id="cboBanks-buy" class="selectpicker">
                                                    @{Html.RenderPartial("_Banks", listBanks);}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                            <div class="form-group"><a id="btnBuyAdvertise" class="btn btn-submit" href="javascript:void(0)">Tạo</a></div>
                        </div>
                    </form>
                </div>

                @*form bán*@
                <div role="tabpanel" class="tab-pane" id="tab-sell-bc">
                    <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="add-sell-advertise-form">
                        <h4 class="text-block-title">GIÁ</h4>
                        <div class="block-adment">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Giá @coinByUSD</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong id="lbl-Price-sell">@Model.CoinPrice.ToString("N5") VND / @coinByUSD</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtPrice-sell" class="form-control" name="price" value=""><span class="input-group-addon">VND</span>
                                    </div>
                                </div>
                                <div class="col-md-5"><span class="explanation">Giá 1 @coinByUSD theo VND</span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Giá @assetTypeId bạn thực nhận</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-6 text-xs-right">
                                            <strong id="lblActualPriceOfCoin-sell">@actualPrice.ToString("N5")</strong><strong> @currencybyasset</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <span class="explanation">
                                        <span>Đây là giá tương ứng với tỉ giá Bitstamp (Blockchain) hiện tại (<strong class="text-primary">7491.87</strong>). Giá sẽ biến động khi tỉ giá Bitstamp (Blockchain) thay đổi.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="tab-sell-detail row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Giá @assetTypeId người mua thấy</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-6 text-xs-right">
                                            <strong id="lblPrice-to-buyer">@priceClientSee</strong><strong> @currencybyasset</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <div class="tab-sell-detailrow" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Đơn vị tiền tệ</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>VND</strong></div>
                                        @*<div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>*@
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:block">
                                    <div class="input-group">
                                        <select id="cboCurrency-sell">
                                            @{Html.RenderPartial("_Currency", allCurrency);}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Sàn giao dịch tham khảo</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-6 text-xs-right">
                                            <strong>Bitstamp (Blockchain) BCH</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboCoinExchange">
                                            <option value="1">Bitstamp (Blockchain)</option>
                                            <option value="2">Bitfinex</option>
                                            <option value="3">Kraken EUR</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <div class="tab-sell-detail row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-6"><label><span>Giá @assetTypeId tối thiểu</span></label></div>
                                        <div class="col-sm-5 text-right col-xs-5"></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtMinPrice-sell" type="text" value="" />
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                        </div>
                        <h4 class="tab-sell-detail text-block-title" style="display:none">GIỚI HẠN</h4>
                        <div class="tab-sell-detail block-adment" style="display:none">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Số @assetTypeId tối thiểu</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>@Model.MinCoinNumber.ToString() @assetTypeId</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtMinCoinNumber-sell" type="text" value="@Model.MinCoinNumber.ToString()" />
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Số @assetTypeId tối đa</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>@Model.MaxCoinNumber.ToString() @assetTypeId</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <input id="txtMaxCoinNumber-sell" type="text" value="@Model.MaxCoinNumber.ToString()" />
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Vị trí</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>Việt Nam</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboCountry-sell" style="display:none">
                                            <option value="1">Việt Nam</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-block-title">THÔNG TIN THANH TOÁN</h4>
                        <div class="block-adment">
                            <div class="row mb-15">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Phương thức thanh toán</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>Chuyển khoản ngân hàng</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a id="btn-change-Paymethod-sell" class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div id="pnl-PayOption-sell" class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboBankMethod-sell">
                                            <option value="1">Chuyển khoản ngân hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-sell-detail row" style="display:none">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-7"><label>Thời gian cho phép thanh toán</label></div>
                                        <div class="col-sm-5 text-right col-xs-5"><strong>@Model.PaymentAllowTime.ToString() phút</strong></div>
                                        <div class="col-sm-2 text-left col-xs-12 text-xs-right"><a class="btn-change">Thay đổi</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="display:none">
                                    <div class="input-group">
                                        <select id="cboPaymentAllowTime-sell" class="selectpicker">
                                            <option value="15">15 Phút</option>
                                            <option value="30">30 Phút</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12"><label><span>Tên Ngân Hàng</span></label></div>
                                        <div class="col-sm-7 col-xs-12">
                                            <div class="form-group">
                                                <select id="cboBanks-sell" class="selectpicker">
                                                    @{Html.RenderPartial("_Banks", listBanks);}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12"><label><span>Số Tài Khoản</span></label></div>
                                        <div class="col-sm-7 col-xs-12">
                                            <div class="form-group">
                                                <input id="txtBankAccNumber" class="form-control" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12"><label><span>Tên Tài Khoản</span></label></div>
                                        <div class="col-sm-7 col-xs-12">
                                            <div class="form-group">
                                                <input id="txtBankAccName" class="form-control" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                            <div class="form-group"><a id="btnSellAdvertise" class="btn btn-submit" href="javascript:void(0)">Tạo</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="currencyTypeId" id="currencyTypeId" value="@currencyTypeId" />
<input type="hidden" name="assetTypeId" id="assetTypeId" value="@assetTypeId" />


<script src="~/js/accounting.js"></script>

<script type="text/javascript">
    var _isSaleCoin = false, isBaseForm = true;

    $(function () {
        // register buy action form
        registerBuyActionForm();

        // register sell action form
        registerSellActionForm();

        /// click thay doi
        $('.btn-change').each(function () {
            $(this).click(function () {
                $(this).parent().prev().hide();
                $(this).parent().parent().parent().siblings().show();
                $(this).parent().hide();
            });
        });
    });

    function onChangeGUIfoBuySell(isBuy) {
        _isSaleCoin = !isBuy;

        if (!isBaseForm) {
            if (_isSaleCoin)
                expanseFormSell(true);
            else
                expanseFormBuy(true);
        }
    }

    function dynamicFormView(isDetail) {
        isBaseForm = !isDetail;

        if (_isSaleCoin)
            expanseFormSell(isDetail);
        else
            expanseFormBuy(isDetail);
    }

    function setActiveAddButton(submitId, isDisabled) {
        $("#" + submitId).prop("disabled", isDisabled);
    }


    function createBuySellAdvertise(submitId, advertiseInput) {

        setActiveAddButton(submitId, true);

        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("AddBuyAdvertisement")',
            data: { advertise: advertiseInput },
            success: function (data) {
                //debugger 
                if (data.error == false) {
                    //toastr.success("You have created successful.");
                    setActiveAddButton(submitId, false);
                    window.history.go(-1);
                } else {
                    toastr.error(data.message);
                    setActiveAddButton(submitId, false);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                toastr.error(xhr.responeText);
                setActiveAddButton(submitId, false);
            }
        });
    }

    // register buy action form
    function registerBuyActionForm() {
        $("#btnBuyAdvertise").click(function () {

            var mess = '';
            var currencyId = $('#currencyTypeId').val();
            if ($('#cboCurrency-buy').val() != '')
                currencyId = $('#cboCurrency-buy').val();

            var limitPrice = 0;
            if (!isBaseForm && $('#txtMaxPrice-buy').val() != '')
                limitPrice = parseFloat($('#txtMaxPrice-buy').val());

            if (isNaN(limitPrice)) limitPrice = 0;

            if (mess != '')
                toastr.error(mess);
            else {
                var _advertise = {
                    IsSale: false,
                    CurrencyId: currencyId,
                    AssetTypeId: $('#assetTypeId').val(),
                    CoinPrice: parseFloat($('#txtPrice-buy').val()),
                    MaxCoinPrice: limitPrice,
                    BankId: parseInt($('#cboBanks-buy').val()),
                    MinCoinNumber: parseFloat($('#txtMinCoinNumber-buy').val()),
                    MaxCoinNumber: parseFloat($('#txtMaxCoinNumber-buy').val()),
                    CountryId: parseInt($('#cboCountry-buy').val()),
                    PaymentMethodId: parseInt($('#cboBankMethod-buy').val()),
                    PaymentAllowTime: parseFloat($('#cboPaymentAllowTime-buy').val())
                };

                createBuySellAdvertise($(this).attr('id'), _advertise);
            }
        });


        // change Price
       $('#txtPrice-buy').keyup(function () {
            var price = parseFloat($(this).val());
            var _actualPrice = price * @currentSymbol.AvgPrice; // so tien VND/coin
           $('#lblActualPriceOfCoin-buy').text(formatCurrency(_actualPrice));

            // gia nguoi mua nhin thay
            var _priceClientSee = _actualPrice + ((_actualPrice * @feePercentage) / 100); // so tien co tinh phi
           $('#lblPrice-to-seller').text(formatCurrency(_priceClientSee));

        }).val(@Model.CoinPrice);
    }

    function formatCurrency(amount) {
        return accounting.formatMoney(amount, "", 5, ",", ".");
    }

        // register sell action form
    function registerSellActionForm() {
        $("#btnSellAdvertise").click(function () {
            var mess = '';
            var currencyId = $('#currencyTypeId').val();
            if ($('#cboCurrency-sell').val() != '')
                currencyId = $('#cboCurrency-sell').val();

            var limitPrice = 0;
            if (!isBaseForm && $('#txtMaxPrice-sell').val() != '')
                limitPrice = parseFloat($('#txtMaxPrice-sell').val());

            if (isNaN(limitPrice)) limitPrice = 0;

            if (mess != '')
                toastr.error(mess);
            else {
                var _advertise = {
                    IsSale: true,
                    CurrencyId: currencyId,
                    AssetTypeId: $('#assetTypeId').val(),
                    CoinPrice: parseFloat($('#txtPrice-sell').val()),
                    MinCoinPrice: limitPrice,
                    MaxCoinPrice: limitPrice,
                    BankId: parseInt($('#cboBanks-sell').val()),
                    MinCoinNumber: parseFloat($('#txtMinCoinNumber-sell').val()),
                    MaxCoinNumber: parseFloat($('#txtMaxCoinNumber-sell').val()),
                    CountryId: parseInt($('#cboCountry-sell').val()),
                    PaymentMethodId: parseInt($('#cboBankMethod-sell').val()),
                    PaymentAllowTime: parseFloat($('#cboPaymentAllowTime-sell').val()),
                    BankAccountNumber: $('#txtBankAccNumber').val(),
                    BankAccountName: $('#txtBankAccName').val()
                };

                createBuySellAdvertise($(this).attr('id'), _advertise);
            }
        });

        $('#txtPrice-sell').keyup(function () {
            var price = parseFloat($(this).val());
            var _actualPrice = price * @currentSymbol.AvgPrice; // so tien VND/coin
            $('#lblActualPriceOfCoin-sell').text(formatCurrency(_actualPrice));

            // gia nguoi ban nhin thay
            var _priceClientSee = _actualPrice + ((_actualPrice * @feePercentage) / 100); // so tien co tinh phi
            $('#lblPrice-to-buyer').text(formatCurrency(_priceClientSee));

        }).val(@Model.CoinPrice);
    }

    function expanseFormBuy(isExpanse) {
        if (isExpanse) {
            $('.tab-buy-detail').show();
        }
        else {
            $('.tab-buy-detail').hide();
        }
    }

    function expanseFormSell(isExpanse) {
        if (isExpanse) {
            $('.tab-sell-detail').show();
        }
        else {
            $('.tab-sell-detail').hide();
        }
    }

</script>

