﻿
@{
    ViewData["Title"] = "Các câu hỏi thường gặp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form autocomplete="off" class="header__form search js__search" data-searching-for-phrase="Search results for:" data-search-failed-phrase="Looks like something went wrong. Try searching again.">
    <input type="text" autocomplete="off" class="search__input js__search-input o__ltr" placeholder="Search for answers..." tabindex="1" name="q" value="">
    <div class="search_icons">
        <button type="submit" class="search__submit o__ltr"></button>
        <a class="search__clear-text__icon">
            <svg class="interface-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M8.018 6.643L5.375 4 4 5.375l2.643 2.643L4 10.643 5.375 12l2.643-2.625L10.625 12 12 10.643 9.357 8.018 12 5.375 10.643 4z"></path>
            </svg>
        </a>

    </div>
</form>

<div class="main-content">
    <h2 class="cntpage-title"><span>Các câu hỏi thường gặp</span></h2>
    <div class="cnt-general">

        <div class="content educate_content">
            <section class="section">
                <div class="g__space">
                    <a href="/giới-thiệu-chung" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="biz-shop" fill="none" fill-rule="evenodd"><path d="M43 19.625V44H5V19.625" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M25 38H9V26h16v12zm14 6H29V26h10v18zm4-40H5l-4 8h46l-4-8zm4 10a6 6 0 0 1-6 6c-1.652 0-2.914-.92-4-2-1.416 2.25-4.146 4-7 4a7.973 7.973 0 0 1-6-2.72A7.97 7.97 0 0 1 18 22c-2.854 0-5.584-1.75-7-4-1.084 1.08-2.348 2-4 2a6 6 0 0 1-6-6v-2h46v2z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 18v-6l2-8m11 15.28V4m13 14v-6l-2-8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M35 35a1 1 0 1 0 0 2 1 1 0 0 0 0-2" fill="#231F1F"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Giới thiệu chung</h2>
                                <p class="paper__preview">Những thông tin tổng quan về công ty và các loại tiền được hỗ trợ</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/840633/square_128/robot-male-icon-1478913974.png?1478913974" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/415035/square_128/tam-face-small-1518517249.jpg?1518517249" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                8 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bot,</span> <span class="c__darker"> Bryan,</span> and <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/hướng-dẫn-giao-dịch" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="biz-dollar" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M47 24c0 12.703-10.297 23-23 23C11.3 47 1 36.703 1 24 1 11.298 11.3 1 24 1c12.703 0 23 10.298 23 23z"></path><path d="M19 29a5 5 0 0 0 5 5 5 5 0 0 0 0-10 5 5 0 0 1 0-10 5 5 0 0 1 5 5m-5-8v26" stroke-linecap="round"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Hướng dẫn giao dịch</h2>
                                <p class="paper__preview">Các thông tin cần biết khi giao dịch</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/839459/square_128/bitcoin-about-1520822195.png?1520822195" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/840633/square_128/robot-male-icon-1478913974.png?1478913974" class="avatar__image">

                                        <span class="avatar__image avatar__fallback">+1</span>
                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                25 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> VINAEX,</span> <span class="c__darker"> Feather,</span> and <span class="c__darker"> Bot</span> and 1 other
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/tai-khoản-and-bảo-mật" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="user-check" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M42 34l-6.05 6L32 35.99" stroke-linecap="round"></path><path d="M25 29v-5.72m-10 .126V29L4.98 32.577A6 6 0 0 0 1 38.227V43h22"></path><path d="M29.976 13c0 6.627-4.476 12-10 12-5.522 0-10-5.373-10-12s4.478-12 10-12c5.524 0 10 5.373 10 12z"></path><path d="M29.938 11.938c-.336.04-.62-.004-.96.06-3.408.66-5.596-.576-7.47-3.857-1.125 2.16-4.642 3.86-7.53 3.86a8.035 8.035 0 0 1-3.873-.96M47 37c0 5.523-4.478 10-10 10-5.524 0-10-4.477-10-10s4.476-10 10-10c5.522 0 10 4.477 10 10z"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Tài khoản &amp; Bảo mật</h2>
                                <p class="paper__preview">Làm thế nào để xác minh tài khoản và nâng cao tính bảo mật cho tài khoản của bạn</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/840633/square_128/robot-male-icon-1478913974.png?1478913974" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/839459/square_128/bitcoin-about-1520822195.png?1520822195" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/415035/square_128/tam-face-small-1518517249.jpg?1518517249" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                9 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bot,</span> <span class="c__darker"> Feather,</span> and <span class="c__darker"> Bryan</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/ứng-dụng-diện-thoại" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="devices-mobile" fill="none" fill-rule="evenodd"><path d="M39 43a4 4 0 0 1-4 4H13a4 4 0 0 1-4-4V5a4 4 0 0 1 4-4h22a4 4 0 0 1 4 4v38zm0-34H9m30 30H9" stroke-width="2" stroke-linecap="round"></path><path d="M24 41a2 2 0 1 0 0 4 2 2 0 0 0 0-4" fill="#231F1F"></path><path d="M19 5h10" stroke-width="2" stroke-linecap="round"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Ứng dụng điện thoại</h2>
                                <p class="paper__preview">Các câu hỏi liên quan đến ứng dụng VINAEX trên điện thoại di động</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/840633/square_128/robot-male-icon-1478913974.png?1478913974" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                2 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bot</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/hoa-hồng-va-quảng-cao" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="comms-mail" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M47 3L1 22l18 7L47 3z"></path><path d="M47 3l-8 37-20-11L47 3zM19 29v16l7-12"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Hoa hồng và quảng cáo</h2>
                                <p class="paper__preview">Thông tin về việc hoa hồng cho việc giới thiệu</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/840633/square_128/robot-male-icon-1478913974.png?1478913974" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                2 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bot</span> and <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/about-us" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="biz-shop" fill="none" fill-rule="evenodd"><path d="M43 19.625V44H5V19.625" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M25 38H9V26h16v12zm14 6H29V26h10v18zm4-40H5l-4 8h46l-4-8zm4 10a6 6 0 0 1-6 6c-1.652 0-2.914-.92-4-2-1.416 2.25-4.146 4-7 4a7.973 7.973 0 0 1-6-2.72A7.97 7.97 0 0 1 18 22c-2.854 0-5.584-1.75-7-4-1.084 1.08-2.348 2-4 2a6 6 0 0 1-6-6v-2h46v2z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 18v-6l2-8m11 15.28V4m13 14v-6l-2-8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M35 35a1 1 0 1 0 0 2 1 1 0 0 0 0-2" fill="#231F1F"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">About Us</h2>
                                <p class="paper__preview">More information about our product, company, bitcoin and stuff</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/415035/square_128/tam-face-small-1518517249.jpg?1518517249" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                10 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bryan</span> and <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/trading" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="biz-dollar" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M47 24c0 12.703-10.297 23-23 23C11.3 47 1 36.703 1 24 1 11.298 11.3 1 24 1c12.703 0 23 10.298 23 23z"></path><path d="M19 29a5 5 0 0 0 5 5 5 5 0 0 0 0-10 5 5 0 0 1 0-10 5 5 0 0 1 5 5m-5-8v26" stroke-linecap="round"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Trading</h2>
                                <p class="paper__preview">How to buy and sell</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/415035/square_128/tam-face-small-1518517249.jpg?1518517249" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                20 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bryan</span> and <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/accounts-and-security" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="user-check" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M42 34l-6.05 6L32 35.99" stroke-linecap="round"></path><path d="M25 29v-5.72m-10 .126V29L4.98 32.577A6 6 0 0 0 1 38.227V43h22"></path><path d="M29.976 13c0 6.627-4.476 12-10 12-5.522 0-10-5.373-10-12s4.478-12 10-12c5.524 0 10 5.373 10 12z"></path><path d="M29.938 11.938c-.336.04-.62-.004-.96.06-3.408.66-5.596-.576-7.47-3.857-1.125 2.16-4.642 3.86-7.53 3.86a8.035 8.035 0 0 1-3.873-.96M47 37c0 5.523-4.478 10-10 10-5.524 0-10-4.477-10-10s4.476-10 10-10c5.522 0 10 4.477 10 10z"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Accounts &amp; Security</h2>
                                <p class="paper__preview">Questions related to your account settings</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                        <img src="https://static.intercomassets.com/avatars/415035/square_128/tam-face-small-1518517249.jpg?1518517249" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                5 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> VINAEX</span> and <span class="c__darker"> Bryan</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/mobile" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="devices-mobile" fill="none" fill-rule="evenodd"><path d="M39 43a4 4 0 0 1-4 4H13a4 4 0 0 1-4-4V5a4 4 0 0 1 4-4h22a4 4 0 0 1 4 4v38zm0-34H9m30 30H9" stroke-width="2" stroke-linecap="round"></path><path d="M24 41a2 2 0 1 0 0 4 2 2 0 0 0 0-4" fill="#231F1F"></path><path d="M19 5h10" stroke-width="2" stroke-linecap="round"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Mobile</h2>
                                <p class="paper__preview">Questions related to VINAEX Mobile application</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/415035/square_128/tam-face-small-1518517249.jpg?1518517249" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                3 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bryan</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/marketing" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="comms-mail" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M47 3L1 22l18 7L47 3z"></path><path d="M47 3l-8 37-20-11L47 3zM19 29v16l7-12"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Marketing</h2>
                                <p class="paper__preview">More information about marketing and referrals</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/415035/square_128/tam-face-small-1518517249.jpg?1518517249" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                2 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> Bryan</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/tentang-syarikat-kami" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="book-bookmark" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M35 31l-6-6-6 6V7h12v24z"></path><path d="M35 9h6v38H11a4 4 0 0 1-4-4V5" stroke-linejoin="round"></path><path d="M39 9V1H11a4 4 0 0 0 0 8h12" stroke-linejoin="round"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Tentang Syarikat Kami</h2>
                                <p class="paper__preview">Maklumat lanjut mengenai syarikat kami,produk, bitcoin dan yang lain</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                9 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/trading-di-vinaex" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="biz-dollar" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M47 24c0 12.703-10.297 23-23 23C11.3 47 1 36.703 1 24 1 11.298 11.3 1 24 1c12.703 0 23 10.298 23 23z"></path><path d="M19 29a5 5 0 0 0 5 5 5 5 0 0 0 0-10 5 5 0 0 1 0-10 5 5 0 0 1 5 5m-5-8v26" stroke-linecap="round"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Trading di VINAEX</h2>
                                <p class="paper__preview">Bagaimana melakukan jual beli</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                20 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/akaun-dan-keselamatan" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="user-check" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M42 34l-6.05 6L32 35.99" stroke-linecap="round"></path><path d="M25 29v-5.72m-10 .126V29L4.98 32.577A6 6 0 0 0 1 38.227V43h22"></path><path d="M29.976 13c0 6.627-4.476 12-10 12-5.522 0-10-5.373-10-12s4.478-12 10-12c5.524 0 10 5.373 10 12z"></path><path d="M29.938 11.938c-.336.04-.62-.004-.96.06-3.408.66-5.596-.576-7.47-3.857-1.125 2.16-4.642 3.86-7.53 3.86a8.035 8.035 0 0 1-3.873-.96M47 37c0 5.523-4.478 10-10 10-5.524 0-10-4.477-10-10s4.476-10 10-10c5.522 0 10 4.477 10 10z"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Akaun dan Keselamatan</h2>
                                <p class="paper__preview">Pertanyaan berhubungan tentang akaun dan keselamatan anda</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                4 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/mobile-aplikasi" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="devices-tablet" fill="none" fill-rule="evenodd"><path d="M41 43a4 4 0 0 1-4 4H11a4 4 0 0 1-4-4V5a4 4 0 0 1 4-4h26a4 4 0 0 1 4 4v38z" stroke-width="2" stroke-linecap="round"></path><path d="M24 41a2 2 0 1 0 0 4 2 2 0 0 0 0-4" fill="#231F1F"></path><path d="M37 39H11V7h26v32z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M24 3a1 1 0 1 0-.002 1.998A1 1 0 0 0 24 3" fill="#231F1F"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Mobile Aplikasi</h2>
                                <p class="paper__preview">Soalan yang berkaitan dengan mobile app VINAEX</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                3 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="g__space">
                    <a href="/pemasaran" class="paper ">
                        <div class="collection o__ltr">
                            <div class="collection__photo">
                                <svg role="img" viewBox="0 0 48 48"><g id="comms-mail" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M47 3L1 22l18 7L47 3z"></path><path d="M47 3l-8 37-20-11L47 3zM19 29v16l7-12"></path></g></svg>
                            </div>
                            <div class="collection_meta" dir="ltr">
                                <h2 class="t__h3 c__primary">Pemasaran</h2>
                                <p class="paper__preview">Maklumat lanjut di marketing dan rujukan</p>
                                <div class="avatar">
                                    <div class="avatar__photo avatars__images o__ltr">
                                        <img src="https://static.intercomassets.com/avatars/850773/square_128/logo-1024-black-1479500904.png?1479500904" class="avatar__image">

                                    </div>
                                    <div class="avatar__info">
                                        <div>
                                            <span class="c__darker">
                                                2 articles in this collection
                                            </span>
                                            <br>
                                            Written by <span class="c__darker"> VINAEX</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>


