﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";    
}

@{Html.RenderPartial("_Sidebar");}

<div class="col-xs-12 banner-text">
    <div class="col-xs-6 col-sell col-md-2 col-md-offset-4">
        <h2>Giá bán:</h2>
        <h3>@Model.BuyPrice</h3>
        <a class="btn btn-sell" href="/quick/buy-bitcoin">Mua Ngay</a>
    </div>
    <div class="col-xs-6 col-buy col-md-2">
        <h2>Giá mua:</h2>
        <h3>@Model.SellPrice</h3>
        <a class="btn btn-buy" href="/quick/sell-bitcoin">Bán Ngay</a>
    </div>
</div>

<div class="main-content" id="main-index">
    <div class="alert alert-info">
        <div class="text-center">
            <span>
                <span>
                    Nhận ngay
                    <b>@Model.ReferralAmount</b>
                    cho mỗi một người được bạn giới thiệu tham gia Vinaex.
                </span>
            </span>
            <span>Chia sẻ liên kết sau:</span>
        </div>
        @if (Model.UserId > 0)
        {
            <div class="text-center">
                <div class="referral-link">
                    <strong class="text-danger referral-link">@Model.ReferralLink</strong>
                    @*<a class="text-gray" href="https://www.facebook.com/dialog/feed?app_id=117488185335202&amp;display=popup&amp;link=https://remitano.com/btc/vn?ref=u789789" target="_blank">
                        <i class="icon-facebook-squared"></i>
                    </a>
                    <a class="text-gray" href="https://twitter.com/intent/tweet?text=https://remitano.com/btc/vn?ref=u789789" target="_blank">
                        <i class="icon-twitter-squared"></i>
                    </a>*@
                </div>
            </div>
        }
        else
        {
            <div class="text-center">
                <a asp-action="LogIn" asp-controller="Account" class="btn btn-primary btn-sm">Đăng nhập để lấy link giới thiệu</a>
            </div>
        }
        <p class="text-center">
            <a href="#">Tìm hiểu thêm</a>
        </p>
    </div>

    @*DANH SÁCH NGƯỜI BÁN*@
    @{Html.RenderPartial("_SellAdvertisement", @Model.AssetTypeId);}

    @*DANH SÁCH NGƯỜI MUA*@
    @{Html.RenderPartial("_BuyAdvertisement", @Model.AssetTypeId);}

    <div class="col-xs-12">
        <div class="col-xs-4 pull-right no-padding">
            <a asp-controller="Home" asp-action="BuySellAdvertisement" asp-route-id="@Model.AssetTypeId" class="btn btn-buy">Tạo Quảng Cáo</a>
        </div>
    </div>

    @*Khách Hàng của chúng tôi*@
    @await Component.InvokeAsync("Feedback")    
</div>

<script type="text/javascript">
</script>
