﻿
@{
    ViewData["Title"] = "Truyền thông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <h2 class="cntpage-title"><span>Báo chí &amp; Truyền thông</span></h2>
    <div class="cnt-general">
        <div class="row content-wrapper">
            <div class="table-presses">
                <div class="table-row">
                    <div class="table-cell col-md-6 col-sm-12"><div class="press-row text-center-mobile"><div class="logo-row"><a href="https://www.abitgreedy.com/vinaex/" target="_blank"><img src="https://s3.remitano.com/uploads/press/attachment/17/thumb_ratio_aBitGreedy.png" alt=""></a><span class="press-date">March 15, 2018</span></div><a class="press-title" href="https://www.abitgreedy.com/remitano/" target="_blank">VINAEX Exchange Review</a><p>The Bitcoin community on Bitcointalk, Reddit, and Facebook have divergent opinions about VINAEX. However, the company receives many positive reviews when it comes to customer support as well as the efficiency of the platform. As a peer-to-peer currency exchange platform, VINAEX provides a secure trading environment and connects Bitcoin traders from different parts of the world. Therefore, the integrity of traders determines whether the platform can be trusted or not.</p></div></div><div class="table-cell col-md-6 col-sm-12">
                        <div class="press-row text-center-mobile">
                            <div class="logo-row"><a href="http://www.coindesk.com/press-releases/press-release-p2p-exchange-just-got-better-new-player-remitano/" target="_blank"><img src="https://s3.remitano.com/uploads/press/attachment/5/thumb_ratio_coindesk.png" alt=""></a><span class="press-date">December 28, 2016</span></div><a class="press-title" href="http://www.coindesk.com/press-releases/press-release-p2p-exchange-just-got-better-new-player-remitano/" target="_blank">P2P Exchange Just Got Better with new player VINAEX</a><p>
    With the banks keep harassing centralized exchange, P2P Exchange is getting more attention as it nullifies the ability of the banks to shut down the exchange.

    Taken Malaysia for example, in the last month, the banks decided to shut down bank accounts of many famous centralized exchanges in effect cause great trouble when customers trying to cash out or deposit. During that time, trading had been in effect shifted to P2P Exchanges, like VINAEX.
</p>
                        </div>
                    </div>
                </div><div class="table-row"><div class="table-cell col-md-6 col-sm-12"><div class="press-row text-center-mobile"><div class="logo-row"><a href="https://cointelegraph.com/press-releases/remitano-p2p-bitcoin-exchange-is-completely-independent-from-traditional-banking-partners" target="_blank"><img src="https://s3.remitano.com/uploads/press/attachment/4/thumb_ratio_cointelegraph-small.png" alt=""></a><span class="press-date">January 1, 2017</span></div><a class="press-title" href="https://cointelegraph.com/press-releases/remitano-p2p-bitcoin-exchange-is-completely-independent-from-traditional-banking-partners" target="_blank">VINAEX P2P Bitcoin Exchange is Completely Independent from Traditional Banking Partners</a><p>VINAEX Bitcoin P2P exchange, with its service in multiple countries operates without the need of a banking partner, completely shielding the service from their whims and fancies. VINAEX is different from other centralized exchange platforms currently in the market, which are heavily dependent on the banks to receive deposits and facilitate withdrawals for customers.</p></div></div><div class="table-cell col-md-6 col-sm-12"><div class="press-row text-center-mobile"><div class="logo-row"><a href="http://www.newsbtc.com/2017/01/02/remitano-p2p-bitcoin-exchange-eliminates-dependency-mainstream-banking-sector/" target="_blank"><img src="https://s3.remitano.com/uploads/press/attachment/6/thumb_ratio_newsbtc.png" alt=""></a><span class="press-date">January 2, 2017</span></div><a class="press-title" href="http://www.newsbtc.com/2017/01/02/remitano-p2p-bitcoin-exchange-eliminates-dependency-mainstream-banking-sector/" target="_blank">VINAEX P2P Bitcoin Exchange Eliminates Dependency on Mainstream Banking Sector</a><p>VINAEX, according to traffic metrics, is the biggest Bitcoin exchange in Vietnam. Other leading sources of traffic on VINAEX are Nigeria and Malaysia. The platform is aiming to establish itself as the largest Bitcoin exchange platform in other Asian and African countries. With the introduction of its service in the United States and Australia, VINAEX platform is on an expansion spree, which it will pursue aggressively to build a global presence.</p></div></div></div><div class="table-row">
                    <div class="table-cell col-md-6 col-sm-12">
                        <div class="press-row text-center-mobile">
                            <div class="logo-row"><a href="https://appdevelopermagazine.com/4794/2017/1/2/Remitano-Bitcoin-P2P-leaves-out-the-banks-to-help-secure-your-money/" target="_blank"><img src="https://s3.remitano.com/uploads/press/attachment/7/thumb_ratio_appdevelopermagazine.png" alt=""></a><span class="press-date">January 2, 2017</span></div><a class="press-title" href="https://appdevelopermagazine.com/4794/2017/1/2/Remitano-Bitcoin-P2P-leaves-out-the-banks-to-help-secure-your-money/" target="_blank">VINAEX Bitcoin P2P leaves out the banks to help secure your money</a><p>
                                As banks and nations slowly move towards a cashless society, people everywhere have began to buy "third party" currencies that exist outside of national monetary systems.

                                The fear being caused from the bank's future control of the monetary policies and possible installation of negative interest rates. Not to mention the tracking and storing of all financial transactions over a certain amount of money by the government. It's easy to see why people are weary of the emerging practice.
                            </p>
                        </div>
                    </div><div class="table-cell col-md-6 col-sm-12">
                        <div class="press-row text-center-mobile">
                            <div class="logo-row"><a href="http://bitcoinist.com/remitano-p2p-bitcoin-exchange/" target="_blank"><img src="https://s3.remitano.com/uploads/press/attachment/8/thumb_ratio_bitcoinist-black.png" alt=""></a><span class="press-date">January 9, 2017</span></div><a class="press-title" href="http://bitcoinist.com/remitano-p2p-bitcoin-exchange/" target="_blank">VINAEX Introduces an Independent P2P Bitcoin Exchange Platform</a><p>
    Bitcoin is a decentralized currency, but the same can’t be said about a majority of Bitcoin exchange platforms, except for VINAEX. Many exchanges currently work as centralized platforms with conventional banking relationship to facilitate fiat deposits and withdrawals.

    The inclusion of traditional banking system into Bitcoin-based infrastructure makes exchange platforms heavily dependent on them. If the banking partner decides to withdraw its services like it happened in Malaysia recently, the business will be disrupted, leaving customers without any option to make deposits or withdrawals on their exchange accounts. VINAEX overcomes this issue by offering peer to peer exchange services.
</p>
                        </div>
                    </div>
                </div><div class="table-row"><div class="table-cell col-md-6 col-sm-12"><div class="press-row text-center-mobile"><div class="logo-row"><a href="http://infocoin.net/2017/01/02/remitano-p2p-bitcoin-exchange-elimina-la-dependencia-del-sector-bancario/" target="_blank"><img src="https://s3.remitano.com/uploads/press/attachment/1/thumb_ratio_infocoin.png" alt=""></a><span class="press-date">January 2, 2017</span></div><a class="press-title" href="http://infocoin.net/2017/01/02/remitano-p2p-bitcoin-exchange-elimina-la-dependencia-del-sector-bancario/" target="_blank">VINAEX P2P Bitcoin Exchange elimina la dependencia del sector bancario</a><p>Las Exchange cada día innovan con el objetivo de proporcionar un mejor servicio a sus usuarios, la idea es hacer más fácil el proceso de adquirir un activo tan importante como lo son las criptomonedas, por ello, VINAEX proporciona bloqueo de P2P, como mercado de bitcoin donde las personas puedan adquirir la criptomoneda de forma fácil y segura, lo que distingue a VINAEX Bitcoin P2P de sus iguales es que su servicio se presta en múltiples países y opera sin la necesidad de un socio bancario, protegiendo completamente el proceso de compra/venta de perturbaciones que se puedan presentar.</p></div></div></div>
            </div>
        </div>
    </div>
</div>


