﻿
@{
    ViewData["Title"] = "Chính sách và điều kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <h2 class="cntpage-title"><span>CHÍNH SÁCH VÀ ĐIỀU KHOẢN</span></h2>
    <div class="cnt-general">
        <h1 translate-once="cano_title_root_terms_of_service">Điều khoản sử dụng</h1>


        <div class="well well-transparent box-description"><!-- ngInclude: -->
            <ng-include src="vm.countryCodeFile()" class="ng-scope">
                <div class="content ng-scope">
                    <h4>VIỆC CHẤP NHẬN ĐIỀU KHOẢN SỬ DỤNG</h4>
                    <p>Bằng việc sử dụng trang web này, và tiếp tục bằng cách đăng ký sử dụng Dịch vụ của chúng tôi, bạn ("Bạn, các bạn hoặc bản thân bạn") đã chấp nhận và tuân thủ các điều khoản và điều kiện sử dụng đã nêu dưới đây ("Điều khoản sử dụng"). Bạn nên đọc toàn bộ Điều khoản sử dụng một cách cẩn thận trước khi sử dụng trang web này ("Trang web") hoặc bất kỳ các dịch vụ của của trang web. Tại đây, "VINAEX" là Công ty, bao gồm nhưng không giới hạn: chủ sở hữu, giám đốc, các nhà đầu tư, nhân viên hoặc các bên liên quan khác. Tùy thuộc vào bối cảnh, "VINAEX" cũng có thể tham khảo các dịch vụ, sản phẩm, trang web, nội dung hoặc các tài liệu khác (gọi chung là "Tài liệu") được cung cấp bởi VINAEX. Dịch vụ điều hành bởi VINAEX cho phép người mua ("Người mua") và người bán ("Người bán") mua và bán đồng tiền Internet được gọi là "Bitcoin" (xem tại <a href="http://bitcoin.org" target="_blank">http://bitcoin.org</a>).
                    </p>
                    <p>Dịch vụ điều hành bởi VINAEX cũng cho phép tất cả người dùng đăng ký dịch vụ ("Thành viên"): 
                        <br>• Chuyển Bitcoin cho bạn hoặc các thành viên khác hoặc người sử dụng khác bên ngoài trang web VINAEX. <br>• Sử dụng Bitcoin để trao đổi với hàng hoá.
                    </p>
                <p>Tùy thuộc vào quốc gia của bạn cư trú, bạn có thể không thể sử dụng tất cả các chức năng của trang web. Bạn có trách nhiệm tuân thủ các quy tắc và luật pháp ở đất nước của bạn cư trú và/hoặc quốc gia mà từ đó bạn truy cập vào trang web này và các dịch vụ. Miễn là bạn đồng ý và thực sự tuân thủ các Điều khoản sử dụng, VINAEX sẽ cho bạn một quyền lợi cá nhân, không độc quyền, không được chuyển nhượng, để đăng nhập và sử dụng trang web và dịch vụ. 
                    </p>
                <h4>RỦI RO</h4>
                <p>Kinh doanh hàng hóa và các sản phẩm, dù là thật hay ảo, cũng như các loại tiền tệ ảo đều mang rủi ro đáng kể. Giá cả có thể dao động trên bất kỳ ngày nào. Vì biến động giá như vậy, khoản đầu tư của bạn có thể tăng hoặc giảm giá trị tại bất kỳ thời điểm nào. Bất kỳ loại tiền tệ nào - dù ảo hay không - có thể bị thay đổi lớn về giá trị và thậm chí có thể trở thành vô giá trị. Luôn sẽ có rủi ro khi bạn mua, bán, kinh doanh bất cứ thứ gì trên thị trường.
                    </p>
                <p>Giao dịch Bitcoin cũng có những rủi ro đặc biệt khác các đồng tiền chính thức và hàng hóa trên thị trường. Không giống như hầu hết các loại tiền tệ được hỗ trợ bởi các chính phủ hoặc các tổ chức hợp pháp khác hoặc bằng hàng hóa như vàng hay bạc, Bitcoin là một loại tiền tệ đặc biệt, được hỗ trợ bởi công nghệ và sự tin tưởng. Không có ngân hàng trung ương nào để có thể tiến hành các biện pháp khắc phục để bảo vệ giá trị của Bitcoin trong một cuộc khủng hoảng hoặc in ra nhiều tiền hơn. 
                    </p>
                <p>Thay vào đó, Bitcoin là một hệ thống trên tiền tệ toàn thế giới chưa bị quản lý và không bị kiểm soát bởi các tổ chức và cá nhân. Nhà đầu tư đặt niềm tin vào một hệ thống kỹ thuật số không tập trung, vô danh và dựa trên mạng ngang hàng và mã hoá để duy trì tính toàn vẹn của nó. 
                    </p>
                <p>Giao dịch Bitcoin rất dễ bị ảnh hưởng bởi các bong bóng hoặc mất niềm tin dù hợp lý hoặc bất hợp lý, mà có thể sụp đổ. Ví dụ, niềm tin vào Bitcoin có thể sụp đổ vì những thay đổi bất ngờ áp đặt bởi các nhà phát triển phần mềm hoặc những người khác, một sự thay đổi pháp lý của chính phủ, việc ra đời các loại tiền tệ mã hoá khác tốt hơn, hoặc giảm phát. Sự tự tin cũng có thể sụp đổ vì những vấn đề kỹ thuật: nếu tính ẩn danh hệ thống bị tổn hại, nếu tiền bị mất hoặc bị đánh cắp, hoặc nếu tin tặc hoặc các chính phủ có thể ngăn chặn các giao dịch. 
                    </p>
                <p>Có thể tồn tại các rủi ro khác mà chúng tôi đã không lường trước hoặc xác định trong điều khoản sử dụng.
                    </p>
                <p>Bạn nên cẩn thận đánh giá xem tình hình tài chính và khả năng chịu rủi ro của bạn để có lựah chọn thích hợp trong việc mua, bán, giao dịch Bitcoin.
                    </p>
                <p>Chúng tôi sử dụng các dịch vụ ngân hàng để nhận được tiền gửi từ khách hàng và thực hiện thanh toán. Các ngân hàng của chúng tôi KHÔNG chuyển Bitcoin, trao đổi Bitcoin, hoặc cung cấp bất kỳ dịch vụ nào liên quan tới Bitcoin. 
                    </p>
                <h4>QUYỀN SỬ DỤNG HỮU HẠN</h4>
                <p>Trừ trường hợp quy định riêng, tất cả các tài liệu trên trang web này là tài sản của VINAEX và được bảo vệ bởi bản quyền, thương hiệu và pháp luật. Bạn có thể xem, in và/hoặc tải về một bản sao của các tài liệu từ trang web này trên bất kỳ máy tính nào để phục vụ duy nhất cho mục đích cá nhân, mục đích tìm hiểu thông tin, hoặc sử dụng phi thương mại của bạn, miễn là bạn giữ nguyên tất cả quyền tác giả và quyền sở hữu. 
                    </p>
                <p>Các thương hiệu, nhãn hiệu dịch vụ, biểu tượng của VINAEX và những người khác được sử dụng trong trang web này ("Thương hiệu") là tài sản của VINAEX và các chủ sở hữu tương ứng. Phần mềm, văn bản, hình ảnh, đồ họa, dữ liệu, tỉ giá, giao dịch, biểu đồ, đồ thị, video và âm thanh được sử dụng trên trang web này thuộc về VINAEX. Các nhãn hiệu hàng hoá và tài liệu không được sao chép, sửa đổi, tải lên, đăng, truyền tải, thu thập hoặc phân phối dưới mọi hình thức hoặc bằng bất kỳ phương tiện, cho dù bằng tay hoặc tự động. Việc sử dụng bất kỳ tài liệu nào trên bất kỳ trang web khác hay máy tính nối mạng cho bất kỳ mục đích nào khác đều bị nghiêm cấm; sử dụng trái phép như vậy có thể vi phạm bản quyền, thương hiệu và có thể dẫn đến hình phạt hình sự hoặc dân sự. 
                    </p>
                <h4>BẢO TRÌ TÀI KHOẢN CỦA BẠN: QUY ĐỊNH CỦA CHÚNG TÔI</h4>
                <p>Trang web này chỉ dành cho cá nhân. Chúng tôi cảnh giác trong việc duy trì tính bảo mật của trang web và Dịch vụ. Bằng cách đăng ký với chúng tôi, bạn đã đồng ý cung cấp VINAEX các thông tin hiện tại, chính xác và đầy đủ về bản thân theo hướng dẫn trong quá trình đăng ký, và để giữ cho các thông tin đó được cập nhật. Thêm nữa, bạn đồng ý rằng bạn sẽ không sử dụng bất kỳ tài khoản nào không phải là của riêng mình bạn, hoặc truy cập vào tài khoản của bất kỳ thành viên khác bất cứ lúc nào, hoặc giúp đỡ người khác trong việc tiếp cận trái phép. 
                    </p>
                <p>Việc tạo ra hoặc sử dụng tài khoản mà không có sự cho phép rõ ràng từ VINAEX sẽ dẫn đến việc đình chỉ ngay lập tức tất cả các khoản của bạn, cũng như tất cả các giao dịch mua/bán chưa hoàn tất. Bất kỳ việc thử làm như vậy hay giúp đỡ người khác (thành viên hay cách khác), hoặc phát tán các hướng dẫn, phần mềm hoặc các công cụ cho mục đích đó, sẽ dẫn đến việc tài khoản của thành viên đó bị chấm dứt. Chấm dứt không phải là biện pháp khắc phục duy nhất cho một hành vi vi phạm như vậy, và VINAEX có thể truy tố bạn. 
                    </p>
                <p>Bạn cũng có trách nhiệm giữ bí mật thông tin tài khoản của bạn, bao gồm cả mật khẩu, bảo vệ Bitcoin của riêng bạn, và bao gồm tất cả các hoạt động giao dịch trong tài khoản của bạn. Nếu có hoạt động đáng ngờ liên quan đến tài khoản của bạn, chúng tôi có thể, nhưng không bắt buộc, yêu cầu thêm thông tin từ bạn, bao gồm cả tài liệu xác thực, và đóng băng bất kỳ giao dịch đang chờ xem xét. Bạn có nghĩa vụ tuân thủ các yêu cầu an ninh, hoặc chấp nhận chấm dứt tài khoản của bạn. Bạn phải thông báo cho VINAEX ngay lập tức bất kỳ nếu có việc sử dụng trái phép tài khoản hoặc mật khẩu của bạn, hoặc bất kỳ vi phạm bảo mật bằng cách gửi email đến <a href="mailto:support@vinaex.com">support@vinaex.com</a>. Bất kỳ thành viên nào vi phạm quy tắc có thể bị chấm dứt tài khoản, và sau đó phải chịu trách nhiệm về tổn thất phát sinh cho VINAEX hoặc bất kỳ người dùng khác của trang web. 
                    </p>
                <p>Cuối cùng, bạn đồng ý rằng bạn sẽ không sử dụng Dịch vụ để thực hiện hoạt động tội phạm, bao gồm nhưng không giới hạn: rửa tiền, hoạt động cờ bạc bất hợp pháp, tài trợ khủng bố, hoặc hacking độc hại. Chúng tôi sẽ báo cáo tất cả các hoạt động phi pháp cho các cơ quan thực thi pháp luật. 
                    </p>
                <h4>CHẤM DỨT</h4>
                <p>Bạn có thể chấm dứt thỏa thuận này với VINAEX và đóng tài khoản của bạn bất cứ lúc nào, sau giải quyết bất kỳ các giao dịch chưa hoàn thành.
                    </p>
                <p>Bạn cũng đồng ý rằng VINAEX có thể bằng cách thông báo, tuỳ ý chấm dứt truy cập của bạn vào trang web và tài khoản của bạn, bao gồm nhưng không giới hạn: giới hạn, đình chỉ hoặc chấm dứt dịch vụ và tài khoản thành viên, cấm truy cập vào trang web, dịch vụ và các công cụ, chậm trễ hoặc loại bỏ các nội dung lưu trữ, và thực hiện các bước kỹ thuật và pháp lý để giữ cho thành viên ra khỏi trang web nếu chúng tôi nghĩ rằng họ đang tạo ra vấn đề trách nhiệm pháp lý hoặc xâm phạm quyền sở hữu trí tuệ của bên thứ ba, hoặc hành động không nhất quán với quy định hoặc tinh thần của các Điều khoản. Ngoài ra, chúng tôi có thể, tùy từng trường hợp, đình chỉ hoặc chấm dứt tài khoản của các thành viên vì những lý do bao gồm nhưng không giới hạn: 
                    </p>
                <ul>
                    <li>(1) cố gắng truy cập trái phép vào các trang web hoặc tài khoản khác của thành viên hoặc hỗ trợ để người khác cố gắng làm như vậy. 
                        </li>
                    <li>(2) vượt qua tính năng bảo mật phần mềm hạn chế sử dụng hoặc bảo vệ nội dung. </li>
                    <li>(3) sử dụng Dịch vụ để thực hiện các hoạt động bất hợp pháp như rửa tiền, hoạt động cờ bạc bất hợp pháp, khủng bố, hoặc các hoạt động tội phạm khác. </li>
                    <li>(4) hành vi vi phạm các Điều khoản sử dụng. </li>
                    <li>(5) không trả tiền hoặc thanh toán cho các giao dịch gian lận. </li>
                    <li>(6) hoạt động khó khăn bất ngờ. </li>
                    <li>(7) theo yêu cầu của cơ quan pháp luật hoặc cơ quan chính phủ khác. </li>
                    <li>(8) cố ý sử dụng các phần mềm che giấu hoặc có những dấu hiệu bất thường hoặc không rõ ràng. </li>
                    <li>(9) cố ý chia sẻ các thông tin liên hệ cá nhân trong giao dịch cho đối tác khác. </li>
                    </ul>
                <p>
                    </p>
                <p>Chúng tôi cũng có quyền hủy bỏ tài khoản chưa được xác nhận hoặc tài khoản đã không hoạt động trong vòng 6 tháng trở lên, và/hoặc sửa đổi hoặc ngừng trang web hoặc dịch vụ của chúng tôi hoặc yêu cầu xác minh các thông tin để có thể tiếp tục sử dụng dịch vụ. Các thành viên đồng ý rằng VINAEX sẽ không chịu trách nhiệm cho họ hoặc cho bất kỳ bên thứ ba cho việc chấm dứt tài khoản hoặc truy cập vào các trang web của họ. 
                    </p>
                <p>Nếu không có lý do chính đáng, mỗi người chỉ được phép sử dụng tối đa một tài khoản tại trang web, và chúng tôi sẽ khóa tất cả tài khoản khác chỉ giữ lại duy nhất một tài khoản của bạn. 
                    </p><p>Việc tạm đình chỉ một tài khoản sẽ không ảnh hưởng đến việc thanh toán tiền hoa hồng do cho giao dịch trong quá khứ. Khi chấm dứt, thành viên sẽ gửi thông tin tài khoản ngân hàng hợp lệ cho chúng tôi để gửi trả lại tiền dư vào tài khoản của họ. Tài khoản ngân hàng đó phải là của chính thành viên bị đình chỉ. Bitcoin khi được chuyển vào một tài khoản ngân hàng chỉ có giá trị sau khi chuyển đổi sang một đồng tiền. VINAEX sẽ chuyển tiền sớm nhất có thể theo yêu cầu của thành viên trong khung thời gian quy định của VINAEX. </p><p>VINAEX sẽ gửi cho bạn số dư tài khoản của bạn, tuy nhiên trong nhiều trường hợp bạn sẽ mất thêm phí thanh toán quốc tế của ngân hàng thụ hưởng khi chuyển tiền. Chúng tôi sẽ sử dụng những nỗ lực hợp lý để đảm bảo rằng các chi phí đó được tiết lộ cho bạn trước khi gửi thanh toán của bạn, tuy nhiên khi không thể tránh được những chi phí đó, Bạn thừa nhận rằng các khoản phí không thể luôn luôn được tính toán trước, và bạn đồng ý chịu trách nhiệm về các chi phí đó. </p><h4>LUÔN TRỰC TUYẾN</h4><p>Tất cả các dịch vụ được cung cấp đều không có bảo hành, dù thể hiện rõ ràng hay ngụ ý. Chúng tôi không bảo đảm rằng trang web này sẽ có 100% thời gian trực tuyến để đáp ứng nhu cầu của bạn. Chúng tôi sẽ cố gắng để cung cấp với dịch vụ càng sớm càng tốt nhưng không có bảo đảm rằng việc truy cập sẽ không bị gián đoạn, hoặc sẽ không có sự chậm trễ, thất bại, lỗi, thiếu sót hoặc mất thông tin truyền đi. </p><p>Chúng tôi sẽ sử dụng những nỗ lực hợp lý để đảm bảo rằng các trang web thường có thể được truy cập được. Chúng tôi có thể đình chỉ việc sử dụng các trang web để bảo trì và sẽ nỗ lực hợp lý để thông báo cho bạn. Bạn thừa nhận rằng điều này có thể không có thể có trong trường hợp khẩn cấp. </p><h4>CÁC API VÀ WIDGET</h4><p>Chúng tôi có thể cung cấp quyền truy cập vào bên nhất định để truy cập dữ liệu và thông tin cụ thể thông qua API của chúng tôi (Application Programming Interface) hoặc thông qua các widget. Chúng tôi cũng có thể cung cấp các widget để đưa dữ liệu của chúng tôi trên trang web của bạn. </p><h4>LIÊN KẾT NGOÀI</h4><p>VINAEX không đại diện về bất kỳ trang web nào khác mà bạn có thể truy cập thông qua trang web này. Trang web có thể cung cấp liên kết đến các trang web khác ("Trang Web ngoại") hoặc tài nguyên mà chúng tôi không có quyền kiểm soát ("Trang Web ngoại"). Trong trường hợp này bạn thừa nhận rằng VINAEX đang cung cấp những liên kết cho bạn chỉ như là một tiện nghi. VINAEX không chịu trách nhiệm cho nội dung được cung cấp trên trang web của bên thứ ba. Bạn được yêu cầu xem xét lại các chính sách được đăng bởi trang web khác liên quan đến sự riêng tư và các chủ đề khác trước khi sử dụng. VINAEX không chịu trách nhiệm nội dung của bên thứ ba truy cập thông qua trang web, bao gồm cả ý kiến, tư vấn, báo cáo, giá cả, hoạt động và quảng cáo, và bạn phải chịu mọi rủi ro liên quan với việc sử dụng các nội dung như vậy. Tuỳ vào bạn mà bạn có thể có các biện pháp phòng ngừa để đảm bảo rằng bất cứ điều gì bạn chọn để sử dụng không có virus, trojan và các nội dung có tính chất phá hoại. </p><h4>LỜI KHUYÊN TÀI CHÍNH</h4><p>Để tránh sự nghi ngờ, chúng tôi không cung cấp bất kỳ tư vấn đầu tư nào trên trang Web. Chúng tôi có thể cung cấp thông tin về giá, phạm vi, biến động của Bitcoin và các sự kiện đã ảnh hưởng đến giá của Bitcoin nhưng điều này không được coi là tư vấn đầu tư và không nên được hiểu như vậy. Bất kỳ quyết định mua hoặc bán Bitcoin là quyết định của bạn và chúng tôi sẽ không chịu trách nhiệm về bất kỳ tổn thất phải chịu đựng. </p><h4>QUY CHẾ TÀI CHÍNH</h4><p>Mô hình kinh doanh của chúng tôi, và dịch vụ của chúng tôi, bao gồm: tạo điều kiện cho việc mua, bán, kinh doanh Bitcoin và sử dụng để trao đổi hàng hóa trong một hệ thống thanh toán quốc tế mở không được kiểm soát. </p><h4>THƯ ĐIỆN TỬ</h4><p>Thư điện tử được gửi qua Internet là không an toàn và VINAEX không chịu trách nhiệm cho bất kỳ thiệt hại phát sinh do kết quả của việc gửi thư điện tử qua Internet. Chúng tôi khuyên bạn nên gửi email trong các định dạng mã hóa, bạn được chào đón để gửi email mã hóa PGP cho chúng tôi. Các hướng dẫn để làm như vậy sẽ được cung cấp theo yêu cầu. </p><h4>GIỚI HẠN TRÁCH NHIỆM</h4><p>Trong phạm vi pháp luật cho phép, VINAEX sẽ không phải chịu trách nhiệm cho bất kỳ thiệt hại, mất mát về lợi nhuận, doanh thu, tổn thất kinh doanh, mất cơ hội, mất dữ liệu, thiệt hại gián tiếp hoặc do hậu quả trừ khi sự mất mát phải chịu phát sinh từ sự cẩu thả hoặc sự lừa dối có chủ ý gian lận. Không có gì trong các điều khoản này loại trừ hoặc giới hạn trách nhiệm của một trong hai bên vì tội gian lận, tử vong hoặc thương tích cá nhân gây ra bởi sự sơ suất của mình, vi phạm các điều khoản và luật pháp, hoặc bất kỳ trách nhiệm nào khác có thể không được pháp luật hạn chế hoặc loại trừ. </p><p>Trách nhiệm của VINAEX đối với các khiếu nại dựa trên các sự kiện phát sinh hoặc có liên quan đến thành viên của trang web và/hoặc dịch vụ, cho dù trong hợp đồng hoặc sai lầm cá nhân (kể cả sơ suất), sẽ không vượt qua một trong hai: (a) tổng số tiền nắm giữ ở tài khoản tại các thành viên đưa ra khiếu nại trừ đi lượng lợi nhuận của chúng tôi dựa trên tài khoản đó, hoặc (b) tổng số tiền giao dịch trong yêu cầu bồi thường trừ đi lợi nhuận của công ty từ các giao dịch đó. </p><h4>PHONG TỎA TÀI KHOẢN</h4><p>Chúng tôi được phép phong tỏa/khóa tài khoản của khách hàng khi đáp ứng một số điều kiện như: có yêu cầu của cơ quan có thẩm quyền theo quy định của pháp luật; phát hiện thấy có nhầm lẫn, sai sót khi ghi Có nhầm vào tài khoản thanh toán của khách hàng hoặc theo yêu cầu hoàn trả lại tiền của tổ chức cung ứng dịch vụ thanh toán chuyển tiền; phát hiện có dấu hiệu gian lận, vi phạm pháp luật liên quan đến tài khoản thanh toán; có thông báo của một trong các chủ tài khoản khác về việc phát sinh tranh chấp về giao dịch chung giữa các chủ tài khoản. </p><p>Quỹ của tài khoản có liên quan đến việc lừa đảo, vi phạm pháp luật, không làm rõ được các nghi ngờ lừa đảo sẽ bị tịch thu toàn bộ. Quỹ trên sẽ được sử dụng để bồi thường cho các nạn nhân liên quan trực tiếp. Trong trường hợp số tiền thu giữ được nhỏ hơng tổng số tiền của tất cả nạn nhân, toàn bộ số tiền sẽ được chia cho các nạn nhân theo tỉ lệ bị thiệt hại. </p><h4>BỒI THƯỜNG</h4><p>Trong phạm vi đầy đủ luật pháp cho phép, bạn đồng ý bồi thường cho VINAEX và các đối tác của công ty cho bất kỳ hành động, trách nhiệm, chi phí, khiếu nại, tổn thất, thiệt hại, chi phí tố tụng phát sinh nếu trực tiếp hoặc không trực tiếp phát sinh từ việc bạn sử dụng Trang web của VINAEX, việc bạn sử dụng dịch vụ, hoặc từ việc bạn vi phạm các Điều khoản sử dụng. </p><h4>KHÁC</h4><p>Nếu chúng tôi không thể thực hiện các dịch vụ được nêu trong Điều khoản sử dụng do các yếu tố ngoài tầm kiểm soát của chúng tôi, bao gồm nhưng không giới hạn trong một sự kiện bất khả kháng, sự thay đổi của pháp luật hoặc thay đổi trong chính sách, chúng tôi sẽ không có bất kỳ trách nhiệm pháp lý cho bạn đối với Dịch vụ cung cấp theo thỏa thuận này và cho một khoảng thời gian trùng với sự kiện này. </p><h4>SỬA ĐỔI BỔ SUNG CÁC ĐIỀU KHOẢN</h4><p>VINAEX có quyền thay đổi, thêm hoặc loại bỏ các phần của các Điều khoản, bất cứ lúc nào. Bạn sẽ được thông báo về bất kỳ thay đổi nào thông qua tài khoản của bạn. Sau khi thông báo như vậy, bạn có trách nhiệm xem xét các điều khoản sửa đổi. Tiếp tục sử dụng dịch vụ sau khi đăng thông báo về những thay đổi trong Điều khoản có nghĩa là bạn chấp nhận và đồng ý với những thay đổi, và tất cả các giao dịch tiếp theo của bạn sẽ tuân theo Điều khoản sửa đổi. </p><h4>ĐỊNH NGHĨA</h4><p>Bitcoin: là đồng tiền mã hoá được mô tả tại <a href="http://bitcoin.org" target="_blank">http://bitcoin.org</a>.</p><p>Người mua: là thành viên đề nghị mua Bitcoin thông qua Dịch vụ.</p><p>Lợi nhuận: đề cập đến các lệ phí được trả cho VINAEX trên mỗi giao dịch, chẳng hạn như một giao dịch mua Bitcoin.</p><p>Thành viên: có nghĩa là người mua và người bán cũng như người giữ tài khoản.</p><p>Giá: là "giá mỗi đồng tiền" mà thành viên sẵn sàng mua hoặc bán Bitcoin, sử dụng dịch vụ trong một giao dịch Bitcoin. Giá có thể được thể hiện bằng bất kỳ tiền tệ được nạp bởi thành viên trong tài khoản của họ và được hỗ trợ bởi dịch vụ. </p><p>Người bán: là thành viên đề nghị bán Bitcoin thông qua Dịch vụ.</p><p>Dịch vụ: là nền tảng công nghệ, quy định chức năng và thị trường của VINAEX quản lý để cho phép bán và người mua thực hiện các giao dịch mua bán Bitcoin.</p><p>Giao dịch: là (i) thỏa thuận giữa người mua và người bán để trao đổi Bitcoin thông qua Dịch vụ tiền tệ tỉ giá nhất định ("Giao dịch Bitcoin"), (ii) việc chuyển đổi của đồng tiền vào Bitcoin gửi bởi thành viên trên tài khoản của họ ("giao dịch chuyển đổi" ), (iii) việc chuyển giao Bitcoin giữa các thành viên ("Bitcoin chuyển giao dịch"), (iv) di chuyển tiền tệ giữa các thành viên ( "Giao dịch đổi tiền tệ" ) và (v) mua các sản phẩm phụ trợ ("Giao dịch mua"). VINAEX có thể không cung cấp tất cả các loại giao dịch tại thời điểm này hoặc trong tất cả mọi nơi. </p><p>Giá giao dịch: là tổng giá thanh toán của người mua đối với từng giao dịch thực hiện thông qua Dịch vụ.</p><h4>LIÊN HỆ</h4><p>Nếu bạn có bất kỳ câu hỏi liên quan đến các điều khoản sử dụng, quyền và nghĩa vụ phát sinh từ các Điều khoản và/hoặc sử dụng của bạn trên trang và Dịch vụ, tài khoản của bạn, hoặc bất kỳ vấn đề nào khác, xin vui lòng liên hệ với <a href="mailto:support@vinaex.com">support@vinaex.com</a>. </p></div></ng-include></div>
    </div>
</div>

