﻿
@{
    ViewData["Title"] = "Tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <h2 class="cntpage-title"><span>Giới Thiệu Sơ Lược Về Công Ty</span></h2>
    <div class="cnt-general">
        <p>
            VINAEX, a rapidly growing business, is looking for passionate Blockchain Developers that want to be part of something big, helping harness the power of cryptocurrencies as they move towards a completely decentralized marketplace.
        </p>
        <h3><b>BLOCKCHAIN DEVELOPERS</b></h3>
        <strong>Description</strong>
        <ul>
            <li>
                With your foundations and understanding of coding, you will assist in dealing with multiple cryptocurrencies in signing/checking/broadcasiting/security... allowing for a completely decentralized and autonomous global network of businesses and customers.
            </li>
        </ul>
        <hr>
        <strong>Requirements</strong>
        <ul>
            <li>Recent coding experience with cryptocurrencies (either professional or personal projects)</li>
            <li>Previous programming experience. You can prefer any languages on your own to develop the tool</li>
            <li>At least 20 hours per week</li>
            <li>High attention to detail</li>
            <li>A desire to be part of a new challenge and shape the future of Blockchain innovations</li>
        </ul>
        <hr>
        <strong>Salary and Benefits</strong>
        <ul>
            <li>Salary is paid in crypto</li>
            <li>Available to work remotely</li>
            <li>Equity opportunity</li>
        </ul>
        <hr>
        <strong classname="text-danger">
            To be considered for the position, please send your resume to <a href="mailto:admin@vinaex.com">admin@vinaex.com</a>
        </strong>
        <hr>
    </div>
</div>

