﻿
@{
    ViewData["Title"] = "Giao dịch đảm bảo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <h2 class="cntpage-title"><span>Giới Thiệu Sơ Lược Về Công Ty</span></h2>
    <div class="cnt-general">
        <h4>"Giao dịch đảm bảo" sẽ giúp bạn tránh được hoàn toàn rủi ro khi mua bán Ethereum</h4>
        <p>Khi bạn mở giao dịch, lượng Ethereum mà bạn muốn mua sẽ được chuyển từ ví người bán vào hệ thống "Giao dịch đảm bảo" và khoá lại. Lúc này bạn đã có thể chuyển tiền cho người bán mà không cần phải lo lắng rằng sẽ không nhận được Ethereum.</p>
        <ul>
            <li>Ethereum sẽ bị khoá cho đến khi người bán xác nhận đã nhận được thanh toán</li>
            <li>Trường hợp xảy ra tranh chấp, đội ngũ hỗ trợ của chúng tôi sẽ giải quyết dựa vào bằng chứng được cung cấp bởi 2 bên</li>
        </ul>
    </div>
</div>

