﻿@using  Narnia.Web.Models.Payments
@model DepositModel
@{
    ViewData["Title"] = "Test Payment";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<div class="main-content">
    <a href="@Url.RouteUrl("Deposit")?assettype=USDT">ABCDE</a>


    <form id="frmDeposit" asp-controller="Payment" asp-action="Deposit" method="post">
        <div>
            <h3>Test Payment by using POST</h3>
            <input type="hidden" id="hidAssetType" name="AssetTypeId" value="" />
            <div>
                <button type="button" value="ETH" onclick="deposit('ETH')">Deposit ETH</button>
            </div>
            <div>
                <button type="button" value="BTC" onclick="deposit('BTC')">Deposit Bitcoin</button>
            </div>

            <input type="hidden" id="hidUnit" name="Unit" value="USD" />
            <input type="hidden" id="hidAmount" name="Amount" value="0.01" />
        </div>
    </form>


    <h2 class="cntpage-title"><span>Test</span></h2>
    <div class="cnt-general">
        @*@await Component.InvokeAsync("PerfectMoney")*@
    </div>
</div>

<script type="text/javascript">
    function deposit(assetType) {
        $("#hidAssetType").val(assetType);
        $("#frmDeposit").submit();
    }
</script>
