﻿@using Microsoft.AspNetCore.Http
@using Narnia.Core
@using System.Net

@model SidebarViewModel
@inject IWebHelper webHelper
@inject IHttpContextAccessor httpContextAccessor

@{ 
    var rawUrl = webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request);
}
<nav class="nav_main" data-menu>
    <ul class="list-unstyled primary">
        @foreach (var symbol in Model.Symbols)
        {
            <li @(symbol.Symbol == Model.CurrentSymbol ? "class=active" : "")>
                <a href="@webHelper.ModifyQueryString(Url.Action("SetSymbol","Common", new {symbolId = symbol.Symbol}), "returnurl=" + WebUtility.UrlEncode(rawUrl), null)"><span class="fa fa-usd">@symbol.Name</span></a>
            </li>
        }
        <li>
            <a href="/Home"><span class="fa fa-shopping-cart">Mua Bán @Model.CurrentSymbol</span></a>
        </li>
        <li><a href="/wallet"><span class="fa fa-credit-card"></span>Ví @Model.CurrentSymbol</a></li>
        @if (Model.IsAuthenticated)
        {
            <li>
                <a href="/wallet/coin/withdrawal"><span class="fa fa-shopping-cart">Deposit</span></a>
            </li>
            <li>
                <a href="/bank-account/deposit"><span class="fa fa-shopping-cart">Nạp Tiền</span></a>
            </li>
            <li>
                <a asp-controller="ExchangeOffer" asp-action="Index"><span class="fa fa-shopping-cart">Sàn giao dịch</span></a>
            </li>
            <li><a href="javascript:void(0)" onclick="logOut()"><span class="fa fa-sign-in"></span>Đăng Xuất</a></li>
        }
        else
        {
            <li><a href="/Account/Login"><span class="fa fa-sign-in"></span>Đăng Nhập</a></li>
        }
    </ul>
    <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="frm-Logout">
        <input type="hidden" value="" name="symbolId" id="hidSymbolId" />
    </form>
</nav>
<script type="text/javascript">
    function logOut() {
        $("#frm-Logout").submit();
    }
</script>