﻿@model Narnia.Web.Areas.Payments.Models.EthDepositModel
@{
    ViewData["Title"] = "View";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 form-group has-feedback">
                <label asp-for="WalletAddress" class="control-label">Wallet Address</label>
                <input asp-for="WalletAddress" value="@Model.WalletAddress" class="form-control" readonly="readonly" />
                <span asp-validation-for="WalletAddress" class="text-danger" ></span>
            </div>
        </div>
    </div>
</div>

