﻿@using  Narnia.Web.Models.Payments
@model DepositModel
@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary()
    }
    else
    {
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.GatewayComponentName))
            {
                @await Component.InvokeAsync(Model.GatewayComponentName, Model.PaymentRequestInfo);
            }
            else
            {
                <form asp-controller="Payment" asp-action="Deposit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <div class="row">
                            <div class="col-md-6 form-group has-feedback">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                                <span>@Model.AssetTypeId</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group has-feedback">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="AssetTypeId" class="form-control" />
                        <div class="form-group">
                            <input type="submit" value="Deposit" class="btn btn-primary" />
                        </div>
                    </div>

                </form>
            }
        </div>
    }

</div>
