﻿@model List<CoinSymbolViewModel>
@{

}

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bhoechie-tab-menu">
    <div class="title-list-group sell">Bạn muốn <span class="sell-coin" style="color: red;">BÁN</span></div>
    <div class="list-group list-sell">
        @foreach (var item in Model)
        {
            var icon = item.AssetIdBase.ToLower() + "-icon";
            @*<a href="#" class="list-group-item active">
                <span class="icon-currency btc-icon">&nbsp;&nbsp;@item.AssetIdBase</span>
                <span class="badge pull-right badge-price hidden-sm alert-danger">@item.AvgPrice VNĐ</span><br/>
            </a>*@
            <a asp-controller="ExchangeOffer" asp-action="Sell" asp-route-assetTypeId="@item.AssetIdBase" class="list-group-item">
                <span class="icon-currency @icon">&nbsp;&nbsp;@item.AssetTypeName</span>
                <span class="badge pull-right badge-price hidden-sm alert-danger">@item.SellPrice.ToString("N") VNĐ</span><br />
            </a>
        }

    </div>

    <div class="title-list-group buy">Bạn muốn <span class="buy-coin" style="color: green;">MUA</span></div>
    <div class="list-group list-buy">
        @foreach (var item in Model)
        {
            var icon = item.AssetIdBase.ToLower() + "-icon";
            <a asp-controller="ExchangeOffer" asp-action="Buy" asp-route-assetTypeId="@item.AssetIdBase" class="list-group-item">
                <span class="icon-currency @icon">&nbsp;&nbsp;@item.AssetTypeName</span>
                <span class="badge pull-right badge-price hidden-sm alert-success">@item.BuyPrice.ToString("N") VNĐ</span><br />
            </a>
        }
    </div>

    @*<div class="title-list-group trade">Bạn muốn <span class="trade-coin" style="color: red;">TRAO ĐỔI</span></div>
    <div class="list-group list-trade">
        @foreach (var item in Model)
        {
            var icon = item.AssetIdBase.ToLower() + "-icon";
            <a asp-controller="ExchangeOffer" asp-action="Sell" asp-route-assetTypeId="@item.AssetIdBase" class="list-group-item">
                <span class="icon-currency @icon">&nbsp;&nbsp;@item.AssetTypeName</span>&nbsp;&nbsp;
                <i class="glyphicon glyphicon-arrow-right">
                </i>&nbsp;&nbsp;<span class="icon-currency pm-icon">&nbsp;&nbsp;PM</span>
                <span class="badge pull-right badge-price hidden-sm alert-warning">@item.BuyPrice.ToString("N") VNĐ</span><br />
            </a>
        }

    </div>*@
</div>