﻿@using Narnia.Web.Areas.Admin.Models.Payments;
@model BankTransferModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="margin-bottom">
                        <em> Edit BankTransfer Status - @Model.OrderNo</em>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="BankName" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="BankName" asp-disabled="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="AccountName" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="AccountName" asp-disabled="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="Amount" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="Amount" asp-disabled="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="Comments" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="Comments" asp-disabled="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="StatusString" />
                        </div>
                        <div class="col-md-9">
                            <narnia-editor asp-for="StatusString" asp-disabled="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <narnia-label asp-for="EvidencePictureUrl" />
                        </div>
                        <div class="col-md-9">
                            <img src="@Model.EvidencePictureUrl" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>












