﻿@using Narnia.Web.Areas.Admin.Models.Payments;
@model BankTransferModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("BankTransfers");
}

<form asp-controller="BankTransfer" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Bank Transfer Request - @Model.OrderNo
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Back</a>
            </small>
        </h1>
        <div class="pull-right">
            @if (Model.Status == Narnia.Core.Domain.BankTransferStatus.Pending)
            {
                <button type="submit" name="complete-payment" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    Complete Payment
                </button>
                <button type="submit" name="cancel-payment" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    Cancel Payment
                </button>
            }


        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<narnia-delete-confirmation asp-model-id="@Model.Id" asp-button-id="gateway-account-delete" />
