﻿@using Narnia.Web.Areas.Admin.Models.Payments;
@model BankTransferSearchModel
@{
    ViewBag.Title = "Bank Transfer";
    Html.SetActiveMenuItemSystemName("BankTransfers");
}
<narnia-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        Gateway Accounts
    </h1>
    
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="StartDate" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="StartDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="EndDate" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="EndDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="UserName" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="UserName" />
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="BillingDate" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-editor asp-for="BillingDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="AssetTypeIds" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-select asp-for="AssetTypeIds" asp-items="Model.AvailableAssetTypeIds" asp-multiple="true" asp-valuetype="string" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <narnia-label asp-for="Statuses" />
                                </div>
                                <div class="col-md-8">
                                    <narnia-select asp-for="Statuses" asp-items="Model.AvailableStatuses" asp-multiple="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="search-banktransfers" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="templates-grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#templates-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "BankTransfer"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = {
                                                  StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                                        EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                                    UserName: $('#@Html.IdFor(model => model.UserName)').val(),
                                                          BillingDate: $('#@Html.IdFor(model => model.BillingDate)').val(),
                                                        Statuses: $('#@Html.IdFor(model => model.Statuses)').val(),
                                                        AssetTypeIds: $('#@Html.IdFor(model => model.AssetTypeIds)').val()
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        }
                                    },
                                    schema: {
                                        data: "data",
                                        total: "total",
                                        errors: "errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "orderNo",
                                        title: "Order No"
                                    },
                                    {
                                        field: "bankName",
                                        title: "Bank Name"
                                    },
                                    {
                                        field: "accountName",
                                        title: "Account Name"
                                    },
                                    {
                                        field: "accountNumber",
                                        title: "Account No"
                                    },
                                    {
                                        field: "assetTypeId",
                                        title: "Asset Type"
                                    },
                                    {
                                        field: "billingDate",
                                        title: "Billing Date"
                                    },
                                    {
                                        field: "createdDate",
                                        title: "Created On"
                                    },
                                    {
                                        field: "statusString",
                                        title: "Status"
                                    },
                                    {
                                        field: "comments",
                                        title: "Description"
                                    },
                                    {
                                        field: "id",
                                        title: "Edit",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="Edit/#=id#"><i class="fa fa-pencil"></i>Edit</a>'
                                    }
                                ]
                            });
                        });
                    </script>
                    <script>
                        $(document).ready(function () {
                            //search button
                            $('#search-banktransfers').click(function () {
                                //search
                                var grid = $('#templates-grid').data('kendoGrid');
                                grid.dataSource.read();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>










